* {
  -webkit-overflow-scrolling: touch;
}

* {
  ::-webkit-scrollbar {
    opacity: 1;
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #333;
    opacity: 1;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #777;
    opacity: 1;
  }
}

:root {
  --pText: #fff; //var(--pText)
  --sText: rgb(136, 136, 136); //var(--sText)
  --backgroundColor: var(--backgroundColor); //var(--backgroundColor)
}

.site-app {
  min-height: 100vh;
  min-height: stretch;
}

svg:not(:root) {
  overflow: visible;
}

a {
  color: $black;
  text-decoration: none;

  &:hover {
    color: $black;
  }
}

a,
button,
input {
  &:focus {

  }

  &:focus-visible {
    box-shadow: 0 0 3px rgba($blue, 0.8) !important;
    outline: 1px solid $blue !important;
  }
}

pre {
  white-space: pre-wrap;
}

head {
  max-width: 100%;

  &::before {
    background-color: tomato;
    content: '';
    height: 1000px;
    position: fixed;
    top: -999px;
    width: 100%;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
  scroll-behavior: smooth;
}

body {
  background-color: $black;
  box-sizing: border-box;
  color: black;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-overflow-scrolling: touch;

  &.hide-zd {
    #launcher {
      display: none;
    }
  }
}


main {
  height: 100%;
  width: 100%;
}

html,
body,
.app,
.app-container,
.site-app {
  height: 100%;
}

html,
body,
.app,
.app-container,
.site-app,
.main-app,
.page-container {
  background-color: $white;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 100vw;
  //min-height: stretch;
  //height: 100vh;
  overscroll-behavior-y: none;
  width: 100vw;
}

body {
  background-color: $black;
  position: absolute;
}


.site-app-container {
  background: $white;
}

.page-container {
  background: $white;
  min-height: max-content;
}

.main-content-container {
  @include page-fade-in;
}

select {
  appearance: none;
  background-color: #f2eeea;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35 20.63'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23626262;stroke-linecap:round;stroke-miterlimit:10;stroke-width:4px;%7D%3C/style%3E%3C/defs%3E%3Cpolyline class='cls-1' points='2 2 17.8 17.8 33 2.6'/%3E%3C/svg%3E");
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-size: 14px 7px;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  height: 45px;
  overflow: hidden;
  padding: 0 30px 0 15px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[type='checkbox'] {
  border: 1px solid #6a6a6a;
  border-radius: 2px;
  height: 19px;
  width: 19px;
}

.mobile-only {
  display: none !important;
}

.error-section {
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: 300;
  justify-content: center;
  text-align: center;
}

.error-page-container {
  font-size: 36px;
}

@media only screen and (max-width: 900px) {
  .no-mobile {
    display: none !important;
  }

  .mobile-only {
    display: inherit !important;
  }
}

.dark {
  background-color: $black;
  color: white;

  a {
    color: $white;

    &:hover {
      color: $white;
    }
  }

  .site-app-container {
    background: $black;
  }

  .page-container {
    background: $black;
  }

  // Loader
  .page-loader {
    .lds-default {
      * {
        background: white !important;
        opacity: 0.75;
      }
    }
  }
}
