::-webkit-scrollbar {
  background: transparent;  /* Optional: just make scrollbar invisible */
  width: 0;  /* Remove scrollbar space */
}

:root {
  --pText: #fff; //var(--pText)
  --sText: rgb(136, 136, 136); //var(--sText)
  --backgroundColor: var(--backgroundColor); //var(--backgroundColor)
}

.app-version {
  display: none;
}

.app {
  background: linear-gradient(180deg, #f4f3f1 29.21%, #bdb6ae 100%);
  min-height: 100vh;
}

html,
body,
.app,
.app-container {
  min-height: 100vh;
}

head {
  max-width: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: Helvetica;
  -webkit-overflow-scrolling: touch;
}

main {
  height: 100%;
  width: 100%;
}

html,
body,
.app,
.page-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: max-content;
  max-width: 100vw;
  min-height: 100vh;
  width: 100vw;
}

.app {
  background: linear-gradient(180deg, #f4f3f1 29.21%, #bdb6ae 100%);
}

.main-content-container {
  @include page-fade-in;
}

// Styled select
.select-wrapper {
  position: relative;
  width: min-content;
  display: flex;
  align-items: center;
  margin-bottom: 43px;

  &::after {
    content: "▾";
    position: absolute;
    right: 19px;
    color: black;
  }

  select {
    background: #F2EEEA;
    border-radius: 15px;
    outline: 0;
    border: 0;
    padding: 0 17px;
    appearance: none;
    height: 44px;
  }
}
