::-webkit-scrollbar {
  background: transparent;  /* Optional: just make scrollbar invisible */
  width: 0;  /* Remove scrollbar space */
}

:root {
  --pText: #fff; //var(--pText)
  --sText: rgb(136, 136, 136); //var(--sText)
  --backgroundColor: var(--backgroundColor); //var(--backgroundColor)
}

.app-version {
  display: none;
}

.app {
  background: #fff;
  min-height: 100vh;
}

html,
body,
.app,
.app-container {
  min-height: 100vh;
}

head {
  max-width: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: Helvetica;
  -webkit-overflow-scrolling: touch;
}

main {
  height: 100%;
  width: 100%;
}
