$normal-header-height: 60px;
$small-header-height: 35px;

$lightblue: #529cf5;
$blue: #0885fb;
$white: #fff;
$black: #000;
$lightestgray: #f9f9f9;
$lightergray: #f3f3f3;
$lightgray: #eee;
$mediumgray: #ccc;
$gray: #888;
$darkgray: #555;
$darkergray: #333;
$darkestgray: #151515;
$mobile-breakpoint: 600px;


// RESPONSIVE BREAKPOINTS
$bp-huge-2: 125em;   // 2000px
$bp-huge: 93.75em;   // 1500px
$bp-large-3: 84.5em;   // 1350px
$bp-large-2: 75em;   // 1200px
$bp-large: 68.7em;   // 1100px
$bp-medium-2: 59.375em;    // 950px;
$bp-medium: 50em;    // 800px;
$bp-small-2: 43.75em;   // 700px;
$bp-small-3: 37.5em;   // 600px;
$bp-small: 31.25em;   // 500px;
$bp-tiny-2: 27.6em;   // 440px;
$bp-tiny: 21.875em;   // 350px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
$color-dark: #171818;
$color-background: #111;
$color-background-modal: #000;
$color-white: rgb(221 218 218);
$color-green: #1cb831;
$color-green-modal: rgb(92 223 92);
$color-modal-grey: rgb(172 171 171);
$color-modal-grey-2: rgb(122 122 122);
$color-red: #e21221;
$color-red-2: #f80616de;
$color-dark-blue: #082452;
$color-light-blue: rgb(15 61 129);
$color-light-blue-2: #2b2da5;
$elv-color-black: #000;
$elv-color-bg-dark: #000;
$color-purple: #782da3;
$elv-spacing-xxs: 0.25rem;
$elv-spacing-mxs: 0.33rem;
$elv-spacing-xs: 0.5rem;
$elv-spacing-ss: 0.75rem;
$elv-spacing-s: 1rem;
$elv-spacing-m: 1.5rem;
$elv-spacing-l: 2rem;
$elv-spacing-ml: 2.5rem;
$elv-spacing-xl: 4rem;
$elv-spacing-xxl: 8rem;
$elv-color-black: #000;
$elv-color-darkergray: #444;
$elv-color-darkgray: #555;
$elv-color-mediumgray: #aaa;
$elv-color-gray: #ccc;
$elv-color-lightgray: #ddd;
$elv-color-lightergray: #eee;
$elv-color-lightestgray: #f5f5f5;
$elv-color-white: #fff;
$elv-color-palered: #955;
$elv-color-mediumred: #a33;
$elv-color-red: #f33;
$elv-color-green: #3d3;
$elv-color-mediumgreen: #393;
$elv-color-text-white: #fff;
$elv-color-text-lightest: #acacac;
$elv-color-text-lighter: #8c8c8c;
$elv-color-text-light: #6c6c6c;
$elv-color-text-dark: #222;
$elv-color-text-black: #000;
$elv-color-bg-white: #fff;
$elv-color-bg-light: #fafafa;
$elv-color-bg-light-dark: #f5f5f5;
$elv-color-bg-dark: #333;
$elv-color-bg-black: #000;
$elv-color-bg-modal: rgb(0 0 0 / 30%);
$elv-color-lighterblue: #60dfff;
$elv-color-lightblue: #0fafff;
$elv-color-mediumblue: #1b73e8;
$elv-color-darkblue: #003c7e;
$elv-color-shadow-gray: rgb(161 161 161 / 50%);
$elv-color-gradient-lightblue: linear-gradient(to right, $elv-color-lightblue, $elv-color-lighterblue);
$elv-color-gradient-mediumblue: linear-gradient(to right, $elv-color-mediumblue, $elv-color-lightblue);
$elv-color-gradient-darkblue: linear-gradient(to right, $elv-color-darkblue, $elv-color-mediumblue);
$elv-color-action-primary: $elv-color-mediumblue;
$elv-color-action-secondary: $elv-color-gray;
$elv-color-action-tertiary: $elv-color-white;
$elv-color-action-delete: $elv-color-mediumred;
$elv-color-action-disabled: $elv-color-lightergray;
