@import "~elv-components-js/src/stylesheets/defaults";
@import "~elv-components-js/src/stylesheets/styles";

:root {
    // OLD-COLORS
    --color-primary: #eb2f64;
    --color-primary-light: #f36;
    --color-primary-dark: #ba265d;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    // BOX SHADOW
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
}

.app-version {
    display: none;
}

.app {
    
}

html,
body,
.app,
.app-container {
    min-height: 100vh;    
    background: rgb(17, 17, 17);
    // background-size: cover;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
}

body {
	font-family: 'Hind', sans-serif;
	box-sizing: border-box;
	// background-color: $color-background;
}

// RESPONSIVE BREAKPOINTS
$bp-huge-2: 125em;   // 2000px
$bp-huge: 93.75em;   // 1500px
$bp-large-2: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small-2: 43.75em;   // 700px;
$bp-small: 31.25em;   // 500px;

.container {
    display: flex;
    flex-direction: column;
    margin: 0 4vw;
}
