/* BUTTONS */
.btnFan,
.btnFan:link,
.btnFan:visited {
  border: 0;
  border-radius: 100px;
  color: #000 !important;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  font-weight: bold;
  height: 35px !important;
  margin-top: -15px !important;
  padding: 0 !important;
  position: relative;
  text-decoration: none;
  transition: all 0.2s;
  width: 130px;
}

.btn2,
.btn2:link,
.btn2:visited {
  border: 0;
  border-radius: 100px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
  padding: 15px 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
  width: 230px;
}

.btn2:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.btn2:hover::after {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.6);
}

.btn2:active,
.btn2:focus {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  transform: translateY(-1px);
}

.btn2--black {
  background-color: #000;
  color: #fff;
}

.btn2--black::after {
  background-color: #0a2239;
  color: #fff;
}

.btn2--white {
  background-color: #fff;
  color: #000 !important;
}

.btn2--white::after {
  background-color: #fff;
}

.btn2--green {
  background-color: #55c57a;
  color: #fff;
}

.btn2--green::after {
  background-color: #55c57a;
}

.btn2--orange {
  background-color: #ffb900;
  color: #fff;
}

.btn2--orange::after {
  background-color: #ffb900;
}

.btn2--blue {
  background-color: #2998ff;
  color: #fff;
}

.btn2--blue::after {
  background-color: #2998ff;
}

.btn2--black {
  background-color: #000;
  color: #fff !important;
}

.btn2--black::after {
  background-color: #0a2239;
  color: #fff;
}

.btn2--gold {
  background-color: #f0b00e;
  color: #fff;
}

.btn2--gold::after {
  background-color: #f0b00e;
}

.btn2--red {
  background-color: #f00;
  color: #fff;
}

.btn2--red::after {
  background-color: #f00;
}

.btn2::after {
  border-radius: 100px;
  content: '';
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.4s;
  width: 100%;
  z-index: -1;
}

.btn2--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn2-text:link,
.btn2-text:visited {
  border-bottom: 1px solid #55c57a;
  color: #55c57a;
  display: inline-block;
  font-size: 16px;
  padding: 3px;
  text-decoration: none;
  transition: all 0.2s;
}

.btn2-text:hover {
  background-color: #55c57a;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  color: #fff;
  transform: translateY(-2px);
}

.btn2-text:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.btnPlay,
.btnDetails {
  background-color: transparent;
  border: 0;
  border: 1px solid #000;
  border-radius: 0.4vw;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Helvetica;
  font-size: 2rem;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  font-weight: normal;
  letter-spacing: 0.07em;
  line-height: 150%;
  margin-right: 1rem;
  outline: none;
  padding-bottom: 1rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 1rem;

  /* or 21px */

  text-align: center;
  text-transform: uppercase;

  @media only screen and (max-width: $bp-small) {
    width: 90vw;
  }

  &__modal {
    background-color: #e6e6e6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #000;
    margin-top: 2rem;
  }

  &__heroPlay {
    align-self: center;
    background-color: black;
    border: 1px solid black;
    border-radius: 0;
    // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    height: 48px;
    letter-spacing: 2px;
    line-height: 16px;
    margin-top: 2rem;
    text-align: center;
    width: 25rem;

    &:hover {
      background-color: black;
      // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      color: white;
      transition: all 0.2s;

      & > * {
        fill: #000;
      }
    }
  }

  &__heroDetail {
    background-color: #d7bb73;
    border: 0;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #000;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    letter-spacing: 2px;
    line-height: 16px;
    margin-top: 2rem;
    text-align: center;
    width: 25rem;
  }

  &:hover {
    background-color: black;
    // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: white;
    transition: all 0.2s;

    & > * {
      fill: #000;
    }
  }

  &__modal:hover {
    background-color: rgba(51, 51, 51, 0.5);
    color: #fff;
    transition: all 0.2s;

    & > * {
      fill: #fff;
    }
  }
}

.back-button__video {
  background-color: $elv-color-bg-dark;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 400;
  left: 0;
  margin-left: 3vw;
  margin-top: 3rem;
  padding: $elv-spacing-xs;
  position: absolute;
  stroke: $elv-color-mediumgray;
  width: 5rem;
  z-index: 10000000000;

  &:hover {
    background-color: $elv-color-darkgray;
    stroke: $elv-color-lightgray;
  }
}

.btn3,
.btn3:link,
.btn3:visited {
  border: 0;
  border-radius: 100px !important;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 16px !important;
  font-weight: 600 !important;
  height: 50px !important;
  margin-top: 0;
  margin-top: 15px !important;
  padding: 12.5px 20px !important;
  position: relative;
  text-align: center;
  transition: all 0.2s;
  width: 150px !important;
}

.btn {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 16px;
  height: 48px;
  letter-spacing: 2px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  width: 25rem;
  align-self: center;

  &:hover {
    background-color: black;
    color: white;
    transition: all 0.2s;

    & > * {
      fill: #000;
    }
  }

  // @media only screen and (max-width: $bp-small) {
  //   width: 90vw;
  // }

  &--gold {
    @extend .btn;

    align-self: center;
    background-color: #d7bb73;
    border: none;
    color: black;
  }
}
