.btn {
  height: 48px;
  width: 25rem;
  align-self: center;
  background-color: black;
  border: 1px solid black;
  color: white;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background-color: black;
    color: white;
    transition: all 0.2s;

    & > * {
      fill: #000;
    }
  }


  &--gold {
    @extend .btn;
    background-color: #d7bb73;
    border: none;
    color: black;
  }
}
