.card {
  background: transparent !important;
  border: 0 !important;
  border-radius: 7.5px;
  height: 360px;
  margin: 20px;
  perspective: 1500px;
  perspective: 1500px;
  position: relative;
  user-select: none; /* Standard syntax */
  width: 480px;
}

.card__side {
  backface-visibility: hidden;
  backface-visibility: hidden;
  border: 0 !important;
  border-radius: 7.5px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  height: 360px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: all 0.8s ease;
  user-select: none; /* Standard syntax */
  width: 100%;
}

.card__side--front {
  background-color: var(--bgColor);
}

.card__side--back {
  background-image: linear-gradient(to right bottom, #192196, #040622);
  // background-image: linear-gradient(to right bottom, var(--bgColor), #000000);
  transform: rotateY(180deg);
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.card__picture {
  background-blend-mode: screen;
  background-position: center;
  height: 360px !important;
  object-fit: cover !important;
  width: 480px !important;
}

.card__heading {
  color: var(--pText);
  font-size: 25px;
  font-weight: 300;
  position: absolute;
  right: 15px;
  text-align: right;
  text-transform: uppercase;
  top: 300px;
  width: 100%;

  @media only screen and (max-width: 550px) {
    top: 180px;
  }
}

.card__heading-span {
  background-color: #040622;
  box-decoration-break: clone;
  box-decoration-break: clone;
  line-height: 180%;
  padding: 7px 12px;
}

.card__cta {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.card__price-box {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}

.card__price-only {
  font-size: 14px;
  text-transform: uppercase;
}

.card__price-detail {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 30px;

  @media only screen and (max-width: 550px) {
    font-size: 18px;
  }
}

@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  position: relative;
  top: 0%;
  transform: translate(0);
  width: 100%;

  .card {
    background-color: #fff;
    height: auto;
  }

  .card__side {
    border-radius: 0 !important;
    box-shadow: none;
    height: auto;
    position: relative;
  }

  .card__side--back {
    border-radius: 0 !important;
    transform: rotateY(0);
  }

  .card:hover .card__side--front {
    transform: rotateY(0);
  }

  .card__cta {
    left: 0;
    padding: 70px 40px 40px;
  }

  .card__price-box {
    margin-bottom: 30px;
  }

  .card__price-value {
    font-size: 40px;
  }
}

@media only screen and (max-width: 550px) {
  position: relative;
  top: 0%;
  transform: translate(0);
  width: 100%;

  .card {
    background-color: #fff;
    height: auto !important;
    width: 325px !important;
  }

  .card__side {
    border-radius: 0 !important;
    box-shadow: none;
    height: 243.75px !important;
    position: relative;
    width: 325px !important;
  }

  .card__side--back {
    border-radius: 0 !important;
    height: 310px !important;
    transform: rotateY(0);
    width: 325px !important;
  }

  .card__picture {
    background-blend-mode: screen;
    background-position: center;
    height: 243.75px !important;
    width: 325px !important;
  }

  .card__side--front {
    height: 243.75px !important;
    transform: rotateY(0);
    width: 325px !important;
  }

  .card__cta {
    left: 0;
    padding: 70px 40px 40px;
  }

  .card__price-box {
    margin-bottom: 30px;
  }

  .card__price-value {
    font-size: 36px;
  }
}
