.chat-container {
  .str-chat {
    background: $black !important;

    * {
      font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    }

    &__container {
      flex-direction: column;
    }

    &__avatar {
      display: none;
    }

    &__virtual-list {
      background: $black !important;
    }

    &__virtual-message__wrapper {
      padding: 5px 10px;
    }

    &__virtual-message__date {
      display: none;
    }

    &__virtual-message__text {
      padding: 2px 0 0;
    }

    &__virtual-message__author strong,
    &__virtual-message__text p {
      color: $white;
      font-size: 14px;
      font-weight: 200;

      letter-spacing: 0.07em;
      line-height: 18px;
    }

    &__gallery {
      display: none;
    }

    &__virtual-message__author strong {
      color: #cdcdcd;
      font-weight: normal;

      &::after {
        color: $white;
        content: ':';
        font-weight: 300;
      }
    }

    &__message-livestream-content {
      padding: 2px 0;

    }

    &__input-flat-wrapper {
      width: 100%;
    }

    &__emojiselect-wrapper {
      display: flex;
      position: absolute;
      right: 15px;
      top: 15px;

      .str-chat__input-flat-emojiselect {
        position: unset;
      }
    }

    .str-chat__input-flat,
    .chat__input-container {
      align-items: center;
      background-color: $black !important;
      display: flex;
      height: 80px;
      justify-content: center;
      padding: 15px 30px;
      padding: 15px 22px !important;
      position: relative;

      .str-chat__textarea > textarea,
      & > input {
        background-color: rgba(255, 255, 255, 0.05);
        border: 2px solid transparent;
        border-radius: 3px;
        color: $white;
        font-size: 16px;
        font-weight: 300;
        height: 100%;
        padding: 10px;
        width: 100%;

        &:focus {
          border: 2px solid #555;
          box-shadow: none;
        }
      }

      .str-chat__textarea > textarea {
        padding: 15px 50px 15px 10px;
      }

      & > button {
        background: #222;
        border: 0;
        border-radius: 3px;
        color: $white;
        cursor: pointer;
        padding: 3px 10px;
        position: absolute;
        right: 40px;
      }


    }

    @media only screen and (max-width: 770px) {
      &__emojiselect-wrapper {
        display: none;
      }

      &__send-button {
        position: absolute;
        right: 40px;
        top: 30px;

        svg {
          * {
            fill: #cdcdcd;
          }
        }
      }
    }
  }
}
