@import "node_modules/stream-chat-react/dist/scss/ChatDown";

$color-font: #171818;
$color-background1: rgba(245, 235, 225, 0.2);
$color-background2: rgba(245, 235, 225, 0.3);

.str-chat__list {
  border-color: #808080;
}

.str-chat__container .str-chat__main-panel {
  border-color: #808080;
}

.str-chat__header-livestream {
  height: 75px !important;
}

.str-chat__input-flat {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.45) !important;
  height: 100px !important;
}

.str-chat__input-flat-wrapper {
  margin-top: 14px !important;
}

.str-chat__date-separator {
  display: none;
}

.str-chat__message-livestream {
  padding: 3px 5px !important;
}

.str-chat__message-livestream-actions {
  display: none !important;
}

.str-chat__message-livestream-left {
  display: none !important;
}

.str-chat__message-livestream-content {
  display: flex;
  flex-direction: column;
}

.str-chat__emojiselect-wrapper {
  display: none !important;
}

.str-chat__textarea {
  height: 60px !important;
}

.str-chat__textarea__textarea {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.str-chat__message-livestream-content > * {
  font-size: 14px !important;
}

.str-chat__li--top,
.str-chat__li--single {
  margin: 0 !important;
}

.str-chat__textarea > textarea {
  background: rgba(0, 0, 0, 0.05);
  border: 0;
  border-radius: 8px;
  font-size: 15px;
  line-height: 17px;
  margin: 0;
  min-height: 56px;
  padding: 20px 69px;

  &:focus {
    border: 0;
    border-radius: 8px;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.65) !important;
  }
}

.str-chat__header-livestream-left--title {
  font-size: 17px;
}

.str-chat__header-livestream-left--livelabel {
  font-size: 15px;
  margin-left: 5px;
}

.str-chat__header-livestream-left--livelabel::before {
  top: -2px !important;
}

.str-chat__message-livestream:hover {
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0);
}

.str-chat__header-livestream-left--members {
  font-size: 14px;
}

.livestream.str-chat .str-chat__list .str-chat__reverse-infinite-scroll {
  padding-top: 20px !important;
}

.str-chat.livestream.dark {
  background: #1a1a1a;
}

.str-chat.livestream.light {
  background: rgba(245, 235, 225, 0.4);
}

.str-chat__input-flat {
  background: rgba(245, 235, 225, 0.3);
}
