.chat-container {
  .str-chat {
    background: black !important;

    * {
      font-family: 'Helvetica Neue', Helvetica, sans-serif !important;

      ::-webkit-scrollbar {
        opacity: 1;
        width: 8px;
      }

      ::-webkit-scrollbar-track {
        background: #333;
        opacity: 1;
      }

      ::-webkit-scrollbar-thumb {
        background-color: #777;
        opacity: 1;
      }
    }

    &__container {
      flex-direction: column;
    }

    &__avatar {
      display: none;
    }

    &__virtual-list {
      background: transparent !important;
      padding-bottom: 10px;
    }

    &__virtual-message__wrapper {
      padding: 6px 10px;
    }

    &__virtual-message__date {
      display: none;
    }

    &__virtual-message__text {
      padding: 3px 0 0;
    }

    &__virtual-message__author strong,
    &__virtual-message__text p {
      color: $white;
      font-size: 14px;
      font-weight: 200;

      letter-spacing: 0.07em;
      line-height: 18px;
    }

    &__gallery {
      display: none;
    }

    &__virtual-message__author strong {
      color: #5ca7ff;
      font-weight: normal;
    }

    &__message-livestream-content {
      padding: 2px 0;
    }

    &__input-flat-wrapper {
      width: 100%;
    }

    &__emojiselect-wrapper {
      display: flex;
      position: absolute;
      right: 15px;
      top: 15px;

      .str-chat__input-flat-emojiselect {
        position: unset;
      }
    }

    .str-chat__input-flat,
    .chat-container__input-container {
      align-items: center;
      background-color: transparent !important;
      border-top: 1px solid #232222;
      display: flex;
      height: 80px;
      justify-content: center;
      padding: 15px 22px !important;
      position: relative;
      width: 100%;

      .str-chat__textarea > textarea,
      & > input {
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid #5ca7ff;
        border-radius: 3px;
        color: $white;
        font-size: 16px;
        font-weight: 300;
        height: 100%;
        padding: 10px;
        width: 100%;

        &:focus {
          box-shadow: none;
        }
      }

      .str-chat__textarea > textarea {
        padding: 15px 50px 15px 10px;
      }

      & > button {
        background-color: transparent;
        border: 0;
        border-radius: 3px;
        color: $white;
        cursor: pointer;
        height: 75%;
        padding: 15px 0;
        position: absolute;
        right: 22px;
        width: 50px;

        svg {
          height: 100%;
          width: 100%;

          * {
            stroke: #cdcdcd;
          }
        }

        &:hover {
          svg {
            * {
              stroke: $white;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 770px) {
      &__emojiselect-wrapper {
        display: none;
      }

      .str-chat__input-flat,
      .chat-container__input-container {
        .str-chat__textarea > textarea,
        & > input {
          font-size: 14px;
        }
      }

      &__send-button {
        cursor: pointer;
        height: 30px;
        padding: 0;
        position: absolute;
        right: 32px;
        top: 23px;
        width: 30px;

        svg {
          * {
            stroke: #cdcdcd;
          }
        }

        &:hover {
          svg {
            * {
              stroke: $white;
            }
          }
        }
      }

      &__virtual-message__text p {
        font-size: 16px;
      }

      &__virtual-message__author strong {
        font-size: 12px;
      }

      &__virtual-message__wrapper {
        padding: 3px 10px;
      }
    }
  }
}
