.cookie-banner {
  align-items: center;
  background: rgba($blue, 0.8);
  bottom: 0;
  color: white;
  display: flex;
  height: auto;
  justify-content: space-between;
  left: 0;
  padding: 12px 25px 10px;
  position: fixed;
  width: 100%;
  z-index: 100000;

  &__message {
    flex-grow: 1;
    padding-right: 20px;
    text-align: center;
  }

  &__actions {
    display: flex;
    flex-shrink: 1;
  }

  &__action {
    background: transparent;
    border: 1px solid $white;
    color: $white;
    cursor: pointer;
    height: min-content;
    min-width: 150px;
    padding: 5px 10px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &-allow {
      background: $white;
      color: darken($blue, 10%);
    }
  }

  @media screen and (max-width: 700px) {
    flex-direction: column;

    &__message {
      padding: 0 0 20px;
    }

    &__actions {
      flex-wrap: wrap;
      width: min-content;
    }

    &__action {
      margin: 0 0 5px;
    }
  }
}

.cookie-details-modal {
  overflow-y: hidden;

  .modal__content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    max-width: 600px;
    overflow-y: hidden;
  }
}

.cookie-details {
  background-color: $white;
  height: 100%;
  max-height: 100%;
  max-width: 600px;
  overflow-y: scroll;
  padding: 30px 40px 100px;
  width: 100%;

  * {
    color: $black;
  }

  &__header {
    border-bottom: 1px solid $lightgray;
    padding: 10px 0;
  }

  &__logo {
    max-height: 30px;
  }

  &__section {
    margin: 15px 0;
  }

  &__section__header {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 300;
    height: 40px;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__button {
    background-color: $blue;
    border: 1px solid $blue;
    border-radius: 3px;
    color: $white;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 300;
    margin: 50px auto 0;
    padding: 5px 30px;
  }
}

.switch {
  border: 0;
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  height: 30px;
  padding: 0;
  position: relative;
  width: 60px;

  input {
    height: 0;
    opacity: 0;
    width: 0;
  }

  &__slider {
    align-items: center;
    background-color: $white;
    border: 1px solid $mediumgray;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    height: 100%;
    padding: 0;
    position: absolute;
    transition: background-color 0.3s linear;
    width: 100%;

    &::before {
      background-color: $mediumgray;
      border-radius: 50%;
      content: '';
      display: block;
      height: 23px;
      left: 3px;
      position: absolute;
      width: 23px;
    }
  }

  &-active {
    .switch__slider {
      background-color: $blue;

      &::before {
        background-color: $white;
        left: unset;
        right: 3px;
      }
    }
  }
}

.dark {
  .footer {
    .cookie-banner {
      &__action {
        &-allow {
          color: darken($blue, 10%);
        }
      }

    }

    .cookie-details {
      * {
        color: $black;
      }

      &__button {
        color: $white;
      }
    }
  }
}
