.email-entry {
  font-family: Helvetica;
  background: white;
  padding: 26px 54px;
  width: 611px;
  border-radius: 10px;

  * {
    font-family: Helvetica;
  }

  input {
    width: 100%;
    height: 60px;
    padding: 21px 51px;
    font-weight: normal;
  }

  .hint {
    margin-top: 22px;
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: normal;
  }
}
