.modal {
  @include page-fade-in;
  align-items: center;
  background-color: rgba($color-background, 0.8);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  margin: auto;
  overflow-y: scroll;

  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10000;
}

.modal__content {
  max-height: 90vh;
  max-width: 85vw;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  width: 1200px;
  z-index: 10001;
}

.modal__close-button {
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
  font-weight: 400;
  height: 35px;
  padding: 8px;
  position: absolute;
  right: 35px;
  stroke: black;
  top: 35px;
  width: 35px;
  z-index: 10002;

  &:hover {
    background-color: black;
    stroke: white;
  }
}

@media only screen and (max-width: 1250px) {
  .modal {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .modal__content {
    height: auto;
    max-height: max-content;
    max-width: 100vw;
    min-height: 100vh;
    overflow: visible;
    top: 0;
  }

  .modal__close-button {
    position: fixed;
    border: 1px solid black;
    right: 15px;
    top: 15px;
  }
}

.modal--promo-modal {
  align-items: center;
  display: flex;
  justify-content: center;

  .modal__content {
    align-items: center;
    //height: 100vh;
    display: flex;
    justify-content: center;
    max-width: 1350px;
    top: unset;
    width: 100%;
  }
}

.promo-player-container {
  display: flex;
  flex-direction: column;
  min-width: 100%;

  .promo-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    button {
      &:disabled {
        visibility: hidden;
      }
    }
  }
}

.modal-2 {
  @include page-fade-in;

  align-content: center;
  align-items: center;
  background: transparent;
  display: flex;
  height: 600px;
  justify-content: space-between;
  max-width: 1350px;
  min-width: MIN(75vw, 1350px);
  -webkit-overflow-scrolling: touch;
  position: fixed;
  width: 75vw;
  z-index: 5000;

  .error-message-modal {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin: auto;
    padding: 20px;
    position: relative;
    width: 80%;
  }

  .promo-player-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .promo-player {
    @media only screen and (max-width: 1250px) {
      margin-top: -10vh;
      min-height: 50vh;
    }
  }

  .promo-buttons-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      background-color: black;
      color: white;

      &:disabled {
        visibility: hidden;
      }
    }
  }

  &__container {
    align-self: center;
    background: #000;
    height: 600px;
    -webkit-overflow-scrolling: touch;
    width: 100%;

    @media only screen and (max-width: 1250px) {
      height: 100%;
      width: 100%;
    }
  }

  @media only screen and (max-width: 1250px) {
    height: 100vh;
    overflow: none;
    width: 100vw;
  }
}

.show {
  left: calc(calc(100vw - #{'min(1350px, 75vw)'}) / 2);
  opacity: 1;
  top: calc(calc(100vh - 600px)/2);
  visibility: visible;

  @media only screen and (max-width: 1250px) {
    left: 0;
    top: 0;
  }
}

.hide {
  display: none !important;
}

.modal-container {
  @include page-fade-in;
  background-color: #e0ddd9;
  box-shadow: 0 1.5rem 4rem rgba($color-dark, 0.15);
  height: 92vh;

  left: calc(calc(100vw -  #{'min(1350px, 75vw)'}) / 2);
  margin: 0 auto;
  max-height: 92vh;
  max-width: 1250px;
  opacity: 1;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  position: fixed;
  right: 0;
  top: calc(calc(100vh - #{'max(830px, 92vh)'}) / 2);
  visibility: visible;
  width: max-content;
  z-index: 5000000000;

  @media only screen and (max-width: 1250px) {
    height: 100%;
    height: 100vh;
    left: 0;
    margin-left: 0;
    margin-right: 0;
    max-height: 100vh;
    top: 0;
    width: 100%;
  }
}

.modal-trailer {
  background-color: $elv-color-black;
  cursor: pointer;
  height: 600px;

  video {
    cursor: pointer;
    height: 600px;
    object-fit: cover;
    width: 100%;
  }
}



.back-button-modal {
  background-color: transparent;
  // border: 1px solid black;
  background-color: white;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 400;
  height: 35px;
  padding: 8px;
  position: fixed;
  right: 35px;
  stroke: black;
  stroke: black;
  top: 35px;
  width: 35px;
  z-index: 1000000000000000000000000000;

  &:hover {
    background-color: black;
    stroke: white;
  }

  @media only screen and (max-width: 500px) {
    right: 20px;
    top: 20px;
  }
}
