
.navigation {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  min-height: 50px;
  font-weight: 600;
  font-size: 15px;
  background: hsla(0,0%,100%,.7);
  -webkit-backdrop-filter: saturate(1.8) blur(20px);
  backdrop-filter: saturate(1.8) blur(20px);
}


.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%; 
  max-width: 1350px;
  margin: auto;


  @media only screen and (max-width: 900px) {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }

  &--logo { 
    height: 30px;
    width: auto;
    margin: 0;
    // padding: 13px 0 12px;
    font-size: 28px;
    @media only screen and (max-width: 900px) {
      margin-left: 0rem;
      margin-bottom: 0rem;
      margin-top: 20px;
    }
  }
  &--logoTitle { 
    margin: 0;
    padding: 13px 0 12px;
    font-size: 26px;
    font-family: 'Codystar', cursive;

    letter-spacing: 0;
    text-align: center;
    color: black;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */

    @media only screen and (max-width: 900px) {
      margin-left: 0rem;
      margin-bottom: 0rem;
    }
  }

  &__link-group {
    display: flex;
    flex-direction: row;
    width: auto;
    // width: 200px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    // user-select: none; /* Standard syntax */
    // @media only screen and (max-width: 900px) {
    //   flex-direction: row;
    //   height: auto !important;
    //   width: 80%;
    //   margin-top: 25px;
    //   justify-content: space-evenly;
    //   align-content: space-between;
    //   align-items: center;
    //   justify-items: center;
    // }
    // @media only screen and (max-width: 600px) {
    //   flex-direction: column;
    //   height: 175px;
    //   width: 100%;
    //   justify-content: space-evenly;
    //   align-content: space-between;
    //   align-items: center;
    //   justify-items: center;
    // }
  }


  &__btn-group {
    display: flex;
    flex-direction: row;
    height: 4.5rem;
    width: auto;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    @media only screen and (max-width: 900px) {
      flex-direction: row;
      height: auto !important;
      width: 80%;
      margin-top: 25px;
      justify-content: space-evenly;
      align-content: space-between;
      align-items: center;
      justify-items: center;
    }
    @media only screen and (max-width: 600px) {
      flex-direction: column;
      height: 175px;
      width: 100%;
      justify-content: space-evenly;
      align-content: space-between;
      align-items: center;
      justify-items: center;
    }
  }

  &--ticket { 
    height: 4.5rem;
    margin-right: 12.5vw;
    width: 238px !important;
    margin-top: 0;
    padding: 9px 40px !important;
    color: black !important;
    @media only screen and (max-width: 900px) {
      margin-right: 0vw;
      margin-top: 50px;
    }
    @media only screen and (max-width: 500px) {
      top: 430px;
      margin-top: 50px;

    }
    @media only screen and (max-width: 360px) {
      top: 480px;
    }
  }
  &--event { 
    height: 4.5rem;
    margin-right: 40px;
    width: 238px !important;
    margin-top: 0;
    padding: 9px 40px !important;
    color: black !important;
    @media only screen and (max-width: 900px) {
      margin-right: 0vw;
      margin-top: 50px;
    }
    @media only screen and (max-width: 500px) {
      top: 430px;
    }
    @media only screen and (max-width: 360px) {
      top: 480px;
    }
  }
}

.link-item {
  display: block;
  width: auto;
  // min-width: 121px;
  height: 100%;
  padding: 19px 20px;
  color: rgba(0,0,0,.7);
  font-weight: 500;
  font-size: 16px;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  line-height: 1.47059;
  letter-spacing: -.022em;

  &:hover { 
    color: #000;
  }
  
}
