
.navigation {
  backdrop-filter: saturate(1.8) blur(20px);
  backdrop-filter: saturate(1.8) blur(20px);
  background: hsla(0, 0%, 100%, 0.7);
  font-size: 15px;
  font-weight: 600;
  // height:auto;
  min-height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.main-nav {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
  margin: auto;
  max-width: 1350px;
  padding: 0 20px;
  width: 100%;

  @media only screen and (max-width: 900px) {
    align-items: center;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
  }

  &--logo {
    // font-size: 28px;
    height: 20px;

    // padding: 13px 0 12px;
    width: auto;

    @media only screen and (max-width: 700px) {
      margin-bottom: 10px;
      margin-left: 0;
      margin-top: 10px;
    }
  }

  &--logoTitle {
    color: #000;
    font-family: 'Codystar', cursive;
    font-size: 26px;
    letter-spacing: 0;
    margin: 0;
    padding: 13px 0 12px;
    text-align: center;
    user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Safari */
    user-select: none; /* Standard syntax */

    @media only screen and (max-width: 900px) {
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  &__link-group {
    display: flex;
    // width: 200px;
    flex-direction: row;
    user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Safari */
    width: auto;
    // user-select: none; /* Standard syntax */
    // @media only screen and (max-width: 900px) {
    //   flex-direction: row;
    //   height: auto !important;
    //   width: 80%;
    //   margin-top: 25px;
    //   justify-content: space-evenly;
    //   align-content: space-between;
    //   align-items: center;
    //   justify-items: center;
    // }

    // @media only screen and (max-width: 600px) {
    //   flex-direction: column;
    //   height: 175px;
    //   width: 100%;
    //   justify-content: space-evenly;
    //   align-content: space-between;
    //   align-items: center;
    //   justify-items: center;
    // }
  }

  &__btn-group {
    display: flex;
    flex-direction: row;
    height: 4.5rem;
    user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Safari */
    user-select: none; /* Standard syntax */
    width: auto;

    @media only screen and (max-width: 900px) {
      align-content: space-between;
      align-items: center;
      flex-direction: row;
      height: auto !important;
      justify-content: space-evenly;
      justify-items: center;
      margin-top: 25px;
      width: 80%;
    }

    @media only screen and (max-width: 600px) {
      align-content: space-between;
      align-items: center;
      flex-direction: column;
      height: 175px;
      justify-content: space-evenly;
      justify-items: center;
      width: 100%;
    }
  }

  &--ticket {
    color: #000 !important;
    height: 4.5rem;
    margin-right: 12.5vw;
    margin-top: 0;
    padding: 9px 40px !important;
    width: 238px !important;

    @media only screen and (max-width: 900px) {
      margin-right: 0;
      margin-top: 50px;
    }

    @media only screen and (max-width: 500px) {
      margin-top: 50px;
      top: 430px;
    }

    @media only screen and (max-width: 360px) {
      top: 480px;
    }
  }

  &--event {
    color: #000 !important;
    height: 4.5rem;
    margin-right: 40px;
    margin-top: 0;
    padding: 9px 40px !important;
    width: 238px !important;

    @media only screen and (max-width: 900px) {
      margin-right: 0;
      margin-top: 50px;
    }

    @media only screen and (max-width: 500px) {
      top: 430px;
    }

    @media only screen and (max-width: 360px) {
      top: 480px;
    }
  }
}

.link-item {
  color: rgba(0, 0, 0, 0.7);
  display: block;
  // min-width: 121px;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: 100%;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  padding: 19px 20px;
  width: auto;

  &:hover {
    color: #000;
  }
}
