.header {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: $normal-header-height;
  justify-content: space-between;
  padding: 0 100px;
  position: fixed;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 10001;

  & > * {
    flex: 1 1 auto;
    user-select: none;
  }

  &,
  * {
    transition: height 0.35s ease, background-color 0.35s linear, color 0.35s linear, border 0.35s linear, stroke 0.35s linear, fill 0.35s linear, opacity 0.35s linear;
  }

  &__logo-container,
  &__wallet-close-button,
  &__links {
    flex-grow: 0;
    flex-shrink: 1;
  }

  &__spacer {
    flex: 1 0 auto;
  }

  &__logo-container,
  &__wallet-close-button {
    align-items: flex-start;
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0;
  }

  &__logo-container {
    max-width: 400px;
    width: 100%;
  }

  &__logo {
    max-height: CALC(#{$normal-header-height} / 1.5);
    object-fit: contain;
    width: auto;
  }

  &__links {
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: relative;

    &-no-icons {
      .header__link__icon {
        display: none;
      }
    }
  }

  &__link {
    @include page-fade-in;

    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    outline: 0;
    padding: 0 20px;
    width: max-content;

    &-active {
      text-shadow: 0 0 1px $black;
    }

    &__icon {
      align-items: flex-end;
      display: flex;
      margin-right: 10px;
      padding-bottom: 5px;

      .header__link__image {
        * {
          stroke-width: 1.3px;
        }
      }
    }

    &__image {
      height: 18px;
      max-height: 18px;
      width: auto;
    }
  }

  &__search {
    display: flex;
    font-size: 14px;
    justify-content: center;
    letter-spacing: 0.07em;
  }

  @media screen and (max-width: 1250px) {
    padding: 0 25px;
  }

  @media screen and (max-width: 900px) {
    padding: 0 25px 0 15px;

    &__logo-container {
      max-width: 250px;
    }

    &__links {
      padding-top: 0;
    }

    &__link {
      font-size: 12px;

      & + .header__link {
        margin-left: 10px;
      }
    }

    &__search {
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
    padding: 0 10px;

    &__logo-container {
      max-width: 115px;
    }

    .menu-button__options {
      left: unset;
      right: 0;
    }

    &__link {
      font-size: 12px;
      margin: 0;
      padding: 0 7px;
      text-align: center;

      &__icon {
        display: none;
      }

      &--no-mobile {
        display: none;
      }
    }

    &__logo-default {
      height: 16px;
    }
  }

  @media screen and (max-width: 350px) {
    &__logo-container {
      max-width: 80px;
    }
  }
}


.cart-overlay-toggle {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 100%;
  margin-left: 30px;
  outline: 0;
  padding: 2px 0 0;
  width: 20px;

  svg {
    * {
      stroke-width: 2px;
    }
  }

  .cart-overlay-item-count {
    align-items: center;
    background-color: $black;
    border-radius: 100%;
    display: flex;
    font-size: 10px;
    height: 15px;
    justify-content: center;
    position: absolute;
    right: -6px;
    top: 0;
    width: 15px;
  }

  @media only screen and (max-width: 1450px) {
    right: 20px;
  }
}

.cart-overlay-toggle {
  right: 80px;

  svg {
    stroke-width: 2px;
  }

  @media only screen and (max-width: 1450px) {
    right: 60px;
  }
}

.footer {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  padding: 50px;
  width: 100%;

  &__block {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 2px 0 30px;
    width: 75vw;
  }

  &__item {
    background: transparent;
    border: 0;
    color: rgba(0, 0, 0, 0.783);
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.07em;
    line-height: 150%;
    padding: 0 35px;

    &:hover {
      color: $black;
      text-decoration: none;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__border {
    border-bottom: 1px solid $black;
    height: 3px;
    margin-bottom: 15px;
    max-width: 1200px;
    width: 100%;
  }

  &__copyright {
    color: $gray;
    text-align: center;

    a {
      color: $blue;
    }
  }

  &__powered-by {
    border: 0;
    padding: 30px 0;

    &__tagline {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      font-weight: 300;
      justify-content: center;

      &:hover {
        color: rgba(0, 0, 0, 0.783);
      }
    }

    &__logo {
      height: 25px;
      margin-top: 10px;
    }
  }

  &__language-selection {
    background-color: transparent;

    &:hover {
      text-decoration: underline;
    }
  }

  &__sponsors {
    margin: 22px 0 44px;
    width: 100%;
  }

  &__sponsors__tagline {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    letter-spacing: 0.07em;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
  }

  &__sponsors__links {
    align-items: center;
    color: $black;
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    letter-spacing: -0.022em;
    line-height: 1.47059;
    margin: auto 0;
    overflow: hidden;
    text-rendering: optimizeLegibility;
    user-select: none;
    width: 100%;
  }

  &__sponsors__link {
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    margin: 15px 10px;
    max-height: 80px;
    max-width: 200px;
    overflow: hidden;
  }

  &__sponsors__link__image {
    height: auto;
    max-height: 80px;
    object-fit: contain;
    overflow: hidden;
    width: 250px;
  }

  &__modal {
    &-frame {
      .event-message {
        height: 100vh;
        max-height: unset;
        max-width: 800px;
        width: 800px;
      }
    }
  }


  @media only screen and (max-width: 900px) {
    padding: 100px 25px 70px;

    &__block {
      flex-direction: column;
      gap: 10px;
    }

    &__item {
      align-items: center;
      display: flex;
      height: 40px;
      justify-content: center;
      margin: 0;
      text-align: center;
      width: 100%;

      &:not(select) {
        padding: 0;
      }
    }

    &__sponsors__link__image {
      width: 150px;
    }
  }
}


.dark {
  // Footer
  .footer {
    &__border {
      border-bottom: 1px solid $gray;
    }

    * {
      color: $white;
    }

    &__sponsors__tagline,
    &__copyright {
      color: $gray;

      * {
        color: $gray;
      }

      a {
        color: $blue;
      }
    }

    &__powered-by {
      border: 0;

      &__logo {
        fill: $white;
        stroke: $white;
      }
    }
  }
}

// All colors for various header states
.header {
  &__logo-container {
    * {
      color: $black;
    }

    svg {
      * {
        fill: $black;
        stroke: $black;
      }
    }
  }

  &__links {
    height: 100%;

    * {
      color: $black;
    }

    .cart-overlay-item-count {
      background: $black;
      color: $white;
    }

    svg {
      * {
        stroke: $black;
      }
    }
  }

  .menu-button {
    transition: background-color 0s ease;
  }

  .menu-button__button {
    padding: 15px 20px;
  }

  .menu-button__options {
    padding: 10px 0;
    background-color: rgba($black, 0.7);
    border-radius: 0 3px 3px;
  }

  .menu-button__option {
    opacity: 0.75;

    &:hover,
    &:active,
    &:focus-visible {
      opacity: 1;
    }
  }

  .menu-button--active {
    background-color: rgba($black, 0.7);
  }

  &.header-scrolled {
    &:not(.header-wallet) {
      background-color: rgba($white, 0.2);
    }
  }

  &.header-wallet {
    // When wallet panel is full screen, header is reduced height
    height: $small-header-height;
    padding-bottom: 5px;
    padding-top: 5px;

    .header__wallet-close-button {
      svg {
        fill: $gray;
        height: 100%;
        stroke: $white;
        stroke-width: 1.5px;
        width: auto;
      }
    }

    .header__link {
      font-size: 14px;
    }

    .header__link__icon {
      display: none;
    }

    &.header-dark {
      .header__wallet-close-button {
        svg {
          fill: $darkgray;
        }
      }

      .header__link {
        color: $mediumgray;
      }

      .header__link-active {
        color: $white;
        text-shadow: 0 0 1px $white;
      }

      .header__link--no-wallet {
        color: $mediumgray;
        text-shadow: none;
      }
    }

    .menu-button__options {
      background: $black;
    }
  }

  &.header-dark {
    .header__link-active {
      text-shadow: 0 0 1px $white;
    }
  }

  &.header-transparent,
  &.header-wallet,
  &.header-dark {
    &.header-wallet,
    &:not(.header-transparent) {
      background-color: $black;
    }

    &.header-scrolled {
      &:not(.header-wallet) {
        background-color: rgba($black, 0.7);
      }
    }

    .header__logo-container {
      * {
        color: $white;
      }

      svg {
        * {
          fill: $white;
          stroke: $white;
        }
      }
    }

    .header__links {
      * {
        color: $white;
      }

      .cart-overlay-item-count {
        background: $white;
        color: $black;
      }

      svg {
        * {
          stroke: $white;
        }
      }
    }
  }

  &.header-wallet {
    &:not(.header-dark) {
      background-color: $white;

      .header__links {
        * {
          color: $black;
        }

        .cart-overlay-item-count {
          background: $black;
          color: $white;
        }

        svg {
          * {
            stroke: $black;
          }
        }
      }
    }
  }

  &.header-transparent {
    &:not(.header-wallet) {
      @media screen and (min-width: 1400px) {
        &:not(.header-scrolled) {
          .header__logo-default {
            filter: drop-shadow(1px 1px 0.5px $gray);
          }

          .header__links {
            * {
              text-shadow: 1px 1px 2px $gray;
            }

            svg {
              filter: drop-shadow(1px 1px 2px $gray);
            }
          }
        }
      }

      @media screen and (max-width: 1400px) {
        background: $black;

        .menu-button__options {
          background: $black;
        }
      }
    }
  }
}
