
.event-tabs {
  height: max-content !important;
  position: relative;
  width: 100%;

  &__container {
    display: flex;
    height: max-content !important;
    padding-top: 10rem;
    width: 75vw;

    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
    }

    &__dropdown {
      margin-top: 2rem;
      width: 20rem;
    }

    &__merch {
      height: 100%;
      width: 100%;
    }

    &__poster {
      align-self: flex-start;
      height: auto;
      max-height: 70vh;
      max-width: 40vw;
      object-fit: contain;
      object-position: center;
      width: 70rem;

      @media only screen and (max-width: $bp-large) {
        align-self: center;
        max-width: 100vw;
      }
    }

    &__info {
      margin-left: 50px;
      padding: 0 $elv-spacing-m $elv-spacing-l $elv-spacing-l;

      @media only screen and (max-width: $bp-large) {
        margin-left: 0;
        margin-right: 0;
      }

      * {
        color: #fff;
        font-size: 18px;
        font-weight: 300;
      }

      .h1Props {
        color: #fff;
        font-size: 70px !important;
        font-weight: 700 !important;
        letter-spacing: 6px;
        margin: auto;
        margin-bottom: $elv-spacing-m;
        text-align: center;
        text-shadow: #fff 0 0 3px;
        text-transform: uppercase;
        user-select: none; /* IE 10+ and Edge */
        user-select: none; /* Safari */
        user-select: none; /* Standard syntax */
        width: 100%;
      }

      &__synopsis {
        font-size: 24px;
        text-align: left;
      }

      &__details-section {
        border-radius: $elv-spacing-xxs;
        margin: $elv-spacing-m 0;
        padding: $elv-spacing-m 0;

        &:not(:empty) {
          border-bottom: 2px solid #7f7f7f;
          border-top: 2px solid #7f7f7f;
        }
      }

      &__detail {
        display: flex;
        flex-direction: column;
        margin-bottom: $elv-spacing-s;
        width: 100%;

        * {
          line-height: $elv-spacing-l;
          padding: $elv-spacing-xs 0;
        }

        label {
          color: #fff;
          font-size: 18px;
          font-weight: bold;
        }
      }

      &__copyright {
        color: #fff;
        text-transform: capitalize;
      }
    }
  }
}
