.event-tabs {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .tab {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    padding-bottom: 10px;
    text-transform: uppercase;
    opacity: 0.8;
    background: transparent;
    border: 0;
    border-bottom: 2px solid transparent;
    outline: 0;
    cursor: pointer;
    transition: border 0.25s linear;
    -webkit-tap-highlight-color: transparent;

    &.active {
      opacity: 1;
      border-bottom: 2px solid black;
    }
  }

  .tab-name {
    font-size: 14px;
  }
}
