.terms-link-modal {
  .modal__content {
    width: max-content;
  }
}

.terms-link {
  &__button {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
  }

  &__modal {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;

    &__content {
      background: $white;
      max-width: 800px;
      padding: 50px;
    }

    &__content-html {
      height: 100vh;
      padding: 0;
      width: 80vw;
    }
  }

  @media screen and (max-width: 900px) {
    &__modal {
      max-width: 100vw;

      &__content {
        max-width: 100vw;
        padding: 50px 20px;
      }

      &__content-html {
        height: 100vh;
        padding: 0;
        width: 100vw;
      }
    }
  }
}
