.ticket-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  padding-top: 55px;
  padding-bottom: 55px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  @media only screen and (max-width: 1680px) {
    flex-direction: column;
  }
}

.ticket-event {
  max-width: 100%;
  padding: 40px;
  background: #f9f7f4;
  position: relative;
  display: flex;
  grid-column: span 1;
  align-items: flex-start;
  width: 100%;
  min-width: auto;  
  max-width: 1350px;
  margin: 0 auto 50px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  box-shadow: 4px 12px 40px 6px rgba(0,0,0,.09);

  @media only screen and (max-width: 1000px) {
    flex-direction: column;
    height: auto !important;
  }
}

.ticket-image {
  display: block;
  max-width: 250px;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  margin-right: 40px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */

  @media only screen and (max-width: 1000px) {
    max-width: 100%;
  }
}

.ticket-image-img {
  display: block;
  max-width: 190px;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  margin: auto;
  // margin-right: 40px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  // border-radius: 10px;
  @media only screen and (max-width: 1000px) {
    max-width: 350px;
    margin: auto;
    margin-bottom: 20px;
  }
}

.ticket-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-width: 0;
}

.ticket-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.ticket-top-labels {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-self: flex-start;
  margin-bottom: 10px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  @media only screen and (max-width: 500px) {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
}

.ticket-label-available {
  display: block;
  width: auto;
  min-width: 0;
  margin-bottom: 0;
  margin-left: 2px;
  padding: 2px 5px;
  border-radius: 3px;
  color: #fff;
  font-weight: 400;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase!important;
  background: #000;
  @media only screen and (max-width: 500px) {
    margin-bottom: 2px;
    width: max-content;
  }
}

.ticket-label-loc {
  display: block;
  width: auto;
  min-width: 0;
  margin-bottom: 0;
  margin-left: 2px;
  padding: 2px 5px;
  border-radius: 3px;
  color: #fff;
  font-weight: 400;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase!important;
  background: #000;

  @media only screen and (max-width: 500px) {
    margin-bottom: 3.5px;
    width: max-content;
  }
}

.ticket-top-title {
  margin-top: 0;
  font-size: 30px;
  font-weight: 700;
  font-family: sans-serif;
  letter-spacing: -.2px;
  text-transform: uppercase;
}

.ticket-top-description {
  font-size: 14px;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  color: rgba(0,0,0,.6);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: block;
}

.ticket-bottom {
  border-radius: 12px;
  background: #fff;
  margin-top: 10px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

.ticket-bottom-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  height: 50px !important;

  @media only screen and (max-width: 650px) {
    flex-direction: column;
    height: auto !important;
  }
}

.ticket-bottom-date {
  color: black;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.374px;
  line-height: 20.5883px;
  @media only screen and (max-width: 650px) {
    text-align: center !important;  
  }
  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.ticket-bottom-price {
  color: black;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.374px;
  line-height: 20.5883px;
  @media only screen and(max-width: 650px) {
    margin-bottom: 15px;
  }
  @media only screen and (max-width: 600px) {
    margin-bottom: 0px;
  }
}

.ticket-bottom-countdown {
  color: black;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.374px;
  line-height: 20.5883px;
  width: 120px;
  text-align: right;
  @media only screen and (max-width: 1200px) {
    display: none;
  }
}

.ticket-bottom-button {
  height: 50px !important;
  font-size: 17px;
  background: black;
  font-weight: bold;
  font-size: 18px;
  font-style: normal;
  line-height: 1.47059;
  letter-spacing: -.022em;
  color: white;
  margin-top: 0px !important;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  text-align: center;
  width: 100%;
}
