.hero-background {
    background-color: $color-background;
    grid-column: full-start / full-end;
    grid-row: full-start / full-end;
}

.hero-view-container {
    grid-column: hero-start / hero-end;
    grid-row: hero-start / hero-end;
    color: #fff;
    align-self: end;
    display: grid; 
    grid-template-rows: 40% [title-start] minmax(min-content, 4vh) [title-end timer-start] minmax(min-content, 4vh) [timer-end button-start] 
    minmax(min-content, 7vh) [button-end overview-start] minmax(min-content, 4vh) [overview-end] 41vh;
    grid-row-gap: 1.2rem;

    &__heading {
        grid-row: title-start / title-end;
        font-size: 6rem;
    }

    &__heading-hero {
        grid-row: timer-start / timer-end;
        font-size: 6rem;
    }

    &__timer {
        grid-row: timer-start / timer-end;
    }
    &__button {
        grid-row: button-start / button-end;
        @media only screen and (max-width: $bp-small) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            & > * {
                margin-top: 1rem;
            }
        }
    }

    &__overview {
        grid-row: overview-start / overview-end;
        font-size: 1.8rem;
        line-height: 1.3;
        width: 45vw;

        
    }
}
