.privacy-page,
.terms-page {
  height: 100%;
  margin: 80px auto;
  width: calc(min(800px, 90vw));

  h1 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-align: center;
  }

  iframe {
    background-color: $white;
    border: 0;
    height: 90%;
    padding: 10px 0 0 20px;
    width: 100%;
  }
}
