// Artist Profile Container
.artist-info-container {
  align-items: center;
  background-color: transparent;
  display: grid;
  gap: 25px 25px;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: minmax(512px, 1fr) minmax(500px, 1fr) minmax(480.75px, 1fr);
  height: 100%;
  margin: auto;
  margin-top: 100px;
  max-width: 1350px;
  width: 100%;

  @media only screen and (max-width: 1200px) {
    gap: 25px 0;
    grid-template-columns: repeat(2, 48%);
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fit, max-content);
    grid-template-rows: auto;
  }
}

// Profile Box
.profile-box {
  align-items: flex-start;
  background: #f9f7f4;
  box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
  grid-column: span 1;
  grid-column: span 2;
  height: 100%;
  min-width: auto;
  padding: 30px;
  position: relative;
  user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Safari */
  user-select: none; /* Standard syntax */
  width: 100%;
}

.profile-bio {
  color: #000 !important;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin-left: 0;
  margin-top: 25px;
  overflow: hidden;
  position: relative;
  // text-align: center;
  text-align: left;
  text-align: left;
  user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Safari */
  user-select: none; /* Standard syntax */
  white-space: pre-line;

  @media only screen and (max-width: 1760px) {
    font-size: 20px !important;
  }

  @media only screen and (max-width: 1600px) {
    font-size: 19px !important;
  }

  @media only screen and (max-width: 1400px) {
    font-size: 18px !important;
  }
}

// Info Box
.info-box {
  align-items: flex-start;
  background: #f9f7f4;
  border-radius: 0;
  box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
  grid-column: span 1;
  height: 100%;
  min-width: auto;
  padding: 30px;
  position: relative;
  user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Safari */
  user-select: none; /* Standard syntax */
  width: 100%;

  @media only screen and (max-width: 1200px) {
    grid-column: span 2;
  }
}

.info-title {
  color: #000 !important;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 36px;
  margin-bottom: 5px;
  margin-top: 0;
  // text-transform: uppercase;
  @media only screen and (max-width: 1600px) {
    font-size: 34px;
    line-height: 34px;
  }

  @media only screen and (max-width: 1200px) {
    font-size: 32px;
    line-height: 32px;
  }

  @media only screen and (max-width: 1000px) {
    font-size: 31px;
    line-height: 31px;
  }

  @media only screen and (max-width: 800px) {
    font-size: 30px;
    line-height: 30px;
  }
}

// Profile Facts
.profile-facts {
  color: #000 !important;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: normal;
  margin-top: 10px;
  text-align: left;
  user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Safari */
  user-select: none; /* Standard syntax */

  &__bold {
    font-weight: bold;
    text-transform: capitalize;

    @media only screen and (max-width: 1760px) {
      font-size: 20px !important;
    }

    @media only screen and (max-width: 1600px) {
      font-size: 19px !important;
    }

    @media only screen and (max-width: 1400px) {
      font-size: 18px !important;
    }
  }

  &__first {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: normal;
    margin-top: 25px;
    user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Safari */
    user-select: none; /* Standard syntax */

    @media only screen and (max-width: 1760px) {
      font-size: 20px !important;
    }

    @media only screen and (max-width: 1600px) {
      font-size: 19px !important;
    }

    @media only screen and (max-width: 1400px) {
      font-size: 18px !important;
    }
  }

  @media only screen and (max-width: 1760px) {
    font-size: 20px !important;
  }

  @media only screen and (max-width: 1600px) {
    font-size: 19px !important;
  }

  @media only screen and (max-width: 1400px) {
    font-size: 18px !important;
  }
}

// Social Media Box
.info-social-box {
  align-items: flex-start;
  background: transparent;
  background: #f9f7f4;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  grid-column: span 1;
  height: auto;
  margin: auto;
  min-width: auto;
  min-width: auto;
  padding: 0;
  position: relative;
  width: auto;
}

.info-social-link {
  color: #000 !important;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 1.25px;
  // margin-bottom: 12px;
  text-align: left;
  user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Safari */
  user-select: none; /* Standard syntax */

  &__bold {
    font-weight: bold;
    text-transform: capitalize;
  }

  &__first {
    color: #000 !important;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 1.25px;
    // margin-bottom: 12px;
    // margin-top: 20px;
    user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Safari */
    user-select: none; /* Standard syntax */

    @media only screen and (max-width: 1760px) {
      font-size: 20px !important;
    }

    @media only screen and (max-width: 1600px) {
      font-size: 19px !important;
    }

    @media only screen and (max-width: 1400px) {
      font-size: 18px !important;
    }
  }

  @media only screen and (max-width: 1760px) {
    font-size: 20px !important;
  }

  @media only screen and (max-width: 1600px) {
    font-size: 19px !important;
  }

  @media only screen and (max-width: 1400px) {
    font-size: 18px !important;
  }
}

.info-social-link-title {
  font-weight: bold;
  margin-left: 5px;
  text-transform: uppercase;
}

.social-icon {
  font-size: 32px;
  margin: auto;
  margin-bottom: 4px;
  vertical-align: middle !important;
  // padding-bottom: 3px;
  @media only screen and (max-width: 1760px) {
    font-size: 30px !important;
    vertical-align: middle !important;
  }

  @media only screen and (max-width: 1600px) {
    font-size: 28px !important;
    vertical-align: middle !important;
  }

  @media only screen and (max-width: 1400px) {
    font-size: 27px !important;
    vertical-align: middle !important;
  }
}

.social-icon-yt {
  margin-bottom: 4.5px;
}

.ticket-icon {
  font-size: 20px;
  margin-bottom: 2.25px;
  margin-right: 5px;
  vertical-align: middle !important;
  font-family: Helvetica;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
}

.ticket-icon-clock {
  font-size: 32px;
  margin: auto;
  // margin-bottom: 10px;

  margin-bottom: 5px !important;
  margin-right: 10px !important;
  vertical-align: middle !important;
}

.social-icon-insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 32px;
  vertical-align: middle;

  @media only screen and (max-width: 1760px) {
    font-size: 30px !important;
    vertical-align: middle !important;
  }

  @media only screen and (max-width: 1600px) {
    font-size: 28px !important;
    vertical-align: middle !important;
  }

  @media only screen and (max-width: 1400px) {
    font-size: 27px !important;
    vertical-align: middle !important;
  }
}

.social-icon-apple {
  font-size: 32px;
  vertical-align: top !important;

  @media only screen and (max-width: 1760px) {
    font-size: 30px !important;
    vertical-align: middle !important;
  }

  @media only screen and (max-width: 1600px) {
    font-size: 28px !important;
    vertical-align: middle !important;
  }

  @media only screen and (max-width: 1400px) {
    font-size: 27px !important;
    vertical-align: middle !important;
  }
}

// Image Box
.image-box {
  align-items: flex-start;
  background: #f9f7f4;
  box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
  grid-column: span 1;
  grid-column: span 3;
  height: 100%;
  min-width: auto;
  padding: 30px;
  position: relative;
  user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Safari */
  user-select: none; /* Standard syntax */
  width: 100%;
}

.photo-group {
  display: flex;
  flex-direction: row;
  height: auto;
  height: 360px;
  margin: auto;
  margin-top: 20px;
  width: 100%;

  @media only screen and (max-width: 800px) {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  &__photo-box {
    height: 100% !important;
    object-fit: cover !important;
    width: 50%;

    @media only screen and (max-width: 800px) {
      height: 100% !important;
      object-fit: cover !important;
      width: 100%;
    }
  }
}

// Spotify
.info-music {
  height: 385px;
  margin: auto;
  margin-top: 20px;
  width: 100%;
}

// Twitter/Instagram
.info-twitter {
  height: 385px;
  margin: auto;
  margin-top: 20px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  scrollbar-width: none;  /* Firefox */
  width: 100%;
}

.info-twitter::-webkit-scrollbar {
  display: none;
}

.info-insta {
  display: grid;
  gap: 2.5%;
  grid-template-columns: 48.75% 48.75%;
  height: 339px;
  margin: auto;
  margin-top: 20px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  scrollbar-width: none;  /* Firefox */
  width: 100%;

  & > a {
    height: 100% !important;
    width: 100% !important;

    & > img {
      width: 100% !important;
    }
  }
}

.info-insta::-webkit-scrollbar {
  display: none;
}
