.cart-overlay-scroll-container {
  box-shadow: 0 4px 10px rgb(0 0 0 / 25%);
  max-height: 50vh;
  overflow-y: auto;
  position: absolute;
  right: 32px;
  top: 70px;
  width: 325px;
}

.cart-overlay {
  animation: 0.4s fadein linear;
  background: $white;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 28px;

  a {
    color: $black;

    &:hover {
      color: $black;
    }
  }

  &.empty {
    color: #818181;
    font-size: 18px;
    font-weight: normal;
    line-height: 23px;
    text-align: center;
  }

  .cart-overlay-close-button {
    align-items: center;
    background: transparent;
    border: 0;
    border: 0.5px solid #bfbfbf;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    height: 35px;
    justify-content: center;
    margin: 0;
    outline: 0;
    padding: 10px;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 35px;

    svg {
      height: 100%;
      stroke: $black;
      width: 100%;
    }

    &:hover {
      background: $black;
      border: 0.5px solid $black;

      svg {
        stroke: $white;
      }
    }
  }

  .cart-overlay-message {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .cart-overlay-checkout-button {
    background: $black;
    border-radius: 3px;
    color: $white;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.14em;
    margin: 10px auto;
    max-width: 226px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: 225px;
  }
}

.cart-overlay-item {
  display: grid;
  font-weight: normal;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0;

  * {
    font-size: 14px;
  }

  .item-name {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.07em;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .remove-item {
    background: transparent;
    border: 0;
    color: #4e4e4e;
    cursor: pointer;
    outline: 0;
    padding: 0;
    text-decoration: underline;
  }
}

@media only screen and (width <= 900px) {
  .cart-overlay-scroll-container {
    max-height: 70vh;
    right: 5vw;
    width: 90%;
  }
}
