.checkout {
  padding: 10px 0 50px;
  background: white;
  position: relative;
  max-width: 100%;
  width: 100%;

  * {
    font-family: Helvetica;
    font-size: 16px;
  }

  .checkout-page-section {
    padding: 0 37px 37px 91px;
  }

  .bottom-border {
    background: #D0D0D0;
    position: absolute;
    height: 1px;
    width: calc(100% + 37px);
    left: -37px;
    margin-top: 37px;
  }

  .cart-section {
    padding-bottom: 0;

    &.empty {
      font-size: 18px;
      font-weight: normal;
      line-height: 23px;
      color: #818181;
      text-align: center;
      padding-bottom: 37px;
    }
  }

  .checkout-section-header {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin: 41px 0 28px;

    svg {
      height: 30px;
      width: 30px;
      margin-right: 17px;
    }
  }

  .cart-item {
    display: grid;
    grid-template-columns: minmax(0, 7fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 13px;
    position: relative;

    .bottom-border {
      margin: 0;
      bottom: 0;
      width: calc(100% + 127px);
      left: -91px;
    }
  }

  .cart-header {
    height: 71px;
  }

  .cart-header-column {
    height: 71px;
    background-color: #F7F4F2;
    display: flex;
    align-items: center;
    font-weight: 300;
    justify-content: center;

    &.long {
      padding-left: 56px;
      justify-content: flex-start;
    }
  }

  .cart-item-cell {
    padding: 24px 10px;
    font-weight: bold;
    font-size: 18px;

    &:not(.cart-item-info) {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }

  .cart-item-price,
  .cart-item-total {
    padding-top: 34px;
  }

  .item-name {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    text-align: left;
  }

  .ticket-item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 43px;

    .ticket-item-image {
      width: 168px;
      max-height: 246px;
      min-height: 246px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-height: 100%;
      }
    }

    * {
      font-family: Helvetica;
      font-size: 18px;
      font-weight: normal;
    }
  }

  .ticket-item-detail {
    line-height: 22px;
    text-transform: capitalize;
  }

  .ticket-item-description {
    margin-top: 19px;
    font-weight: 300;
    font-size: 16px;
  }

  .item-quantity {
    width: 85px;
    border: 1px solid black;
    background: white;
  }

  .remove-item {
    position: absolute;
    bottom: 19px;
    right: 10px;
    text-decoration: underline;
    outline: 0;
    border: 0;
    background: transparent;
    color: #4E4E4E;
    cursor: pointer;
  }

  .order-summary {
    padding: 30px 45px;
    border-radius: 15px;
    width: 611px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background: #F2EEEA;

    label {
      margin-bottom: 10px;
    }

    .order-value {
      font-weight: bold;
    }
  }

  .email-entry {
    margin-top: 27px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.12);
  }

  .featured-tickets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 42px;
  }

  .featured-ticket {
    @include item-block;
    max-width: 500px;

    * {
      font-weight: 300;
    }

    .featured-ticket-selection {
      margin-right: 10px;
    }

    .featured-ticket-price {
      position: absolute;
      right: 0;
      font-weight: bold;
      font-size: 18px;
    }

    .featured-ticket-details {
      display: flex;
      margin-top: 17px;

      .separator {
        font-weight: bold;
        padding: 0 6px;
      }
    }

    .featured-ticket-options {
      display: flex;
      align-items: center;
      margin-top: 23px;

      .ticket-sku {
        width: 225px;

        select {
          width: 225px;
        }
      }

      .item-quantity {
        margin-left: 20px;
      }
    }
  }

  .checkout-button {
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    position: relative;
  }

  .stripe-checkout-logo {
    height: 38px;
    width: auto;
    position: absolute;
    right: 10px;
  }

  .payment-actions {
    margin-top: 27px;

    & > * {
      margin-top: 10px;
    }

    .checkout-button,
    .paypal-button {
      width: 611px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .checkout {
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 150px;

    .checkout-page-section {
      padding: 10px 20px 20px;

      &:not(.no-border) {
        border-bottom: 1px solid #D0D0D0;
      }
    }

    .bottom-border {
      display: none;
    }

    .cart-item {
      display: block;
      margin-bottom: 42px;
    }

    .cart-item-cell {
      padding: 0;
    }

    .merchandise-item {
      margin-bottom: 42px;
    }

    .ticket-item-mobile {
      @include item-block;
      display: block;
      width: 100%;

      h2 {
        margin-bottom: 16px;
        font-weight: bold;
        justify-content: space-between;
      }

      .ticket-item-image {
        width: 100px!important;
        max-height: 150px;
        min-height: 150px;
      }

      .item-quantity-wrapper {
        margin-top: 10px;
      }

      .item-quantity-wrapper,
      .item-quantity {
        width: 100%;
      }

      .remove-item {
        position: initial;
        width: 100%;
        text-align: right;
        margin-top: 20px;
        font-weight: bold;
        font-size: 16px;
      }
    }

    .featured-tickets {
      display: block;
    }

    .featured-ticket {
      margin-bottom: 42px;

      .featured-ticket-options {
        .ticket-sku-wrapper {
          flex: 1 1 auto;

          select {
            width: 100%;
          }
        }
      }

      .ticket-item-detail {
        text-align: center;
      }

      .featured-ticket-price {
        font-size: 16px;
      }
    }

    .featured-ticket-details {
      justify-content: space-between;

      & > div {
        font-size: 12px;
      }

      .separator {
        padding: 0;
      }
    }

    .email-entry {
      width: 611px;
    }

    .checkout-button {
      font-size: 14px;
      justify-content: space-evenly;
    }

    .stripe-checkout-logo {
      position: relative;
      right: 0;
    }
  }
}

// Paypal button max width is 750px, so don't adjust order summary section until we can 100% it
@media only screen and (max-width: 750px) {
  .checkout {
    .email-entry {
      width: 100%;
    }

    .order-summary {
      width: 100%;
    }

    .payment-actions {
      .checkout-button,
      .paypal-button,
      .paypal-buttons {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
