.code-entry {
  align-items: center;
  background: rgba(255, 255, 255, 1);
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
  display: flex;
  flex-direction: column;
  height: 270px;
  justify-content: center;
  margin: auto;
  width: calc(min(400px, 90vw));
  z-index: 10000;

  &--logo {
    height: 58px;
    margin-bottom: 2rem;
    user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Safari */
    user-select: none; /* Standard syntax */
    width: auto;

    @media only screen and (max-width: 415px) {
      height: 5rem;
      margin-bottom: 2rem;
      width: auto;
    }
  }

  &__title {
    box-sizing: border-box;
    color: #000;
    display: none;
    font-family: 'SF Display', 'Helvetica Neue';
    font-size: 60px;
    font-weight: bold;
    font-weight: 300;
    line-height: 3rem;
    margin-bottom: 25px;
    text-align: center !important;
  }

  input {
    border-radius: 1px;
    // box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-family: Helvetica;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: normal;
    height: 52px;
    letter-spacing: 1.5px;
    letter-spacing: 0.14em;
    line-height: 19px;
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
    width: calc(min(30rem, 90vw));

    @media only screen and (max-width: 415px) {
      font-size: 2rem;
      width: 280px;
    }

    &::placeholder {
      color: rgba(0, 0, 0, 0.74);
      font-variant: all-small-caps;
    }
  }

  button {
    align-self: center;
    align-self: center;
    background-color: black;
    border: 0;
    border-radius: 0;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-family: Helvetica;
    font-size: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 44px;
    height: 52px;
    letter-spacing: 2px;
    letter-spacing: 0.14em;
    line-height: 16px;
    line-height: 19px;
    margin-top: 20px;
    max-width: 100%;
    text-align: center;
    text-align: center;
    text-transform: uppercase;
    width: calc(min(30rem, 90vw));

    @media only screen and (max-width: 415px) {
      width: 280px;
    }
  }
}

input,
textarea,
pre {
  border: 1px solid rgb(204, 204, 204);
  padding: 0 0.25rem;
}

.code-header {
  display: block;
  margin-bottom: 18px;
  text-align: center;
}

.code-header-title {
  font-size: 37px;
  letter-spacing: -0.5px;
  letter-spacing: -1px;
  line-height: 100%;
  margin-bottom: 10px;
}

.code-header-p {
  color: black;
  font-size: 14px;
  font-weight: 400;
  font-weight: 400;
  margin-bottom: 10px;
  padding: 0 40px;
  width: 100%;

  &:hover {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
  }
}

.code-header-bold {
  font-weight: bold !important;

  &:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
  }
}

.code-entry-spin-container {
  align-content: center;
  align-items: center;
  background-color: transparent;
  display: flex;
  height: 100%;
  justify-content: center;
  justify-items: center;
  width: 100%;
}
.code-entry-background {
  background-size: cover;
  background: #E0DDD4;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh -webkit-fill-available;
  width: 100vw;
  background-position: center;
  display: flex;
}
