.code-entry {
  align-items: center;
  background: rgba(255, 255, 255, 1);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  height: 270px;
  justify-content: center;
  margin: auto;
  width: calc(min(400px, 90vw));
  z-index: 10000;
  // box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.09);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  &--logo {
    height: 58px;
    margin-bottom: 2rem;
    user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Safari */
    user-select: none; /* Standard syntax */
    width: auto;

    @media only screen and (max-width: 415px) {
      height: 5rem;
      margin-bottom: 2rem;
      width: auto;
    }
  }

  &__title {
    // color: #000;
    // font-weight: 500;

    box-sizing: border-box;
    color: #000;
    display: none;
    font-family: 'SF Display', 'Helvetica Neue';
    font-size: 60px;
    font-weight: bold;
    font-weight: 300;
    line-height: 3rem;
    margin-bottom: 25px;
    text-align: center !important;

    // @media only screen and (max-width:700px) {
    //   font-size: 30px;
    //   margin-bottom: 3rem;

    // }
    // @media only screen and (max-width:500px) {
    //   margin-bottom: 2.5rem;
    // }
  }

  input {
    border-radius: 1px;
    font-size: 2.2rem;
    height: 52px;
    letter-spacing: 1.5px;
    margin-top: 1rem;
    text-align: center;
    width: calc(min(30rem, 90vw));
    // box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    @media only screen and (max-width: 415px) {
      font-size: 2rem;
      width: 280px;
    }

    &::placeholder {
      font-variant: all-small-caps;
      color: rgba(0, 0, 0, 0.74);
    }
  }

  button {
  //   background-color: #d7bb73;
  //   border: 0;
  //   border-radius: 2px;
  //   color: #000;
  //   cursor: pointer;
  //   font-size: 16px;
  //   font-weight: 500;
    height: 52px;
  //   letter-spacing: 2px;
  //   line-height: 18px;
    // margin-top: 3rem;
  //   text-align: center;
  width: calc(min(30rem, 90vw));

  //   font-weight: 500;
  //   // margin-right: 1rem;
  //   // outline: black;
  //   // padding-bottom: 1rem;
  //   // padding-left: 3.5rem;
  //   // padding-right: 3.5rem;
  //   // padding-top: 1rem;
  //   text-transform: uppercase;

  //   align-self: center;
  //   background-color: #d7bb73;
  //   border: 0;
  //   border-radius: 0;
  //   // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  //   color: #000;
  //   cursor: pointer;
  //   font-size: 16px;
  //   height: 48px;
  //   letter-spacing: 2px;
  //   line-height: 16px;
  //   margin-top: 2rem;
  //   text-align: center;
  //   // width: 25rem;
  // // box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.1);

  display: inline-block;
    max-width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    background: #252525;
    outline: none;
    box-shadow: 0 1px 1px rgba(37,37,37,.12), 0 2px 5px rgba(37,37,37,.12), 0 0 1px rgba(37,37,37,.12);
    cursor: pointer;
    // transition: background .2s ease,box-shadow .2s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px 18px;
    font-size: 17px;
    margin-top: 20px;
    letter-spacing: 1.2px;
    word-spacing: normal;
    // font-family:'Helvetica Neue', sans-serif;

    &:hover {
      background: #131313;
    }

    @media only screen and (max-width: 415px) {
      width: 280px;
    }
  }
}

input,
textarea,
pre {
  border: 1px solid rgb(204, 204, 204);
  padding: 0 0.25rem;
}


.code-header {
  text-align: center;
  display: block;
  margin-bottom: 18px;
}

.code-header-title {
  font-size: 37px;
  line-height: 100%;
  letter-spacing: -.5px;
  letter-spacing: -1px;
  margin-bottom: 10px;
  // font-size: 35px;
}
.code-header-p {
  font-size: 14px;
  margin-bottom: 10px;
  padding: 0 40px;
  font-weight: 400;
  color: black;
  width: 100%;
    font-weight: 400;
    &:hover {

        color: rgba(0,0,0,.8) ;
        text-decoration: none;
    
    }

}
.code-header-bold {
  font-weight: bold !important;
  &:hover {

    color: rgba(0,0,0,1) ;
    text-decoration: none;

}
}
.code-entry-spin-container {
  background-color: transparent;
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}