.event-message-container {
  max-height: 100%;
  overflow-y: hidden;

  .modal__content {
    align-items: center;
    display: flex;
    overflow-y: hidden;
    width: auto;
  }
}


.event-message {
  background-color: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 80vh;
  max-width: 550px;
  min-height: 80vh;
  min-width: 550px;

  &__content {
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    overflow-y: auto;
    padding: 30px 50px;
  }

  &__content__image {
    margin-bottom: 30px;
  }

  &__content__message {
    * {
      text-align: center;
    }

    h1 {
      font-size: 24px;
    }

    h1,
    h2,
    h3,
    h4 {
      font-weight: 500;
    }

    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5em;
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;

    button {
      background: transparent;
      border: 0.5px solid $white;
      border-radius: 3px;
      color: $white;
      cursor: pointer;
      height: 40px;
      padding: 5px;
      width: 150px;
    }
  }

  @media only screen and (max-width: 900px) {
    height: 100%;
    max-height: 100vh;
    max-width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;

    &__content {
      padding: 75px 30px 30px;
    }

    &__actions {
      height: 200px;

      button {
        margin-bottom: 30px;
      }
    }
  }
}

.drop-page {
  height: 100%;
  padding: 80px 0 0;

  &__content {
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    min-height: 100%;
  }

  &__stream,
  video {
    flex: 0 1 100%;
    max-height: calc(100vh - 180px);
    max-width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100px;
    min-height: 100px;
    padding: 10px 30px;
    width: 100%;
  }

  &__info__header {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.07em;
    margin-bottom: 5px;
  }

  &__info__subheader {
    font-size: 16px;
    font-weight: 300;
  }

  @media screen and (max-width: 1000px) {
    &__info {
      padding: 15px;
    }

    &__info__header {
      font-size: 18px;
    }
  }

  @media screen and (max-width: 700px) {
    margin-bottom: 20px;

  }
}
