.event-page {
  position: relative;

  * {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    z-index: 1;
  }

  &__hero-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-end;
    padding-bottom: 50px;
    position: relative;
  }

  &__hero {
    background-color: $black;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    mask-image: linear-gradient(#000, rgba(#f4f3f1, 1) 30%, rgba(#f4f3f1, 0) 90%);
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &__heading {
    margin-bottom: 25px;

    h1 {
      color: #000;
      font-style: normal;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__header-name,
  &__subheader,
  &__date {
    color: #000;
    font-size: 34px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 8px;
    line-height: 150%;
    padding: 0 30px;
    text-align: center;
    text-transform: uppercase;
  }

  &__header-name {
    font-weight: normal;
    font-size: 42px;
  }

  &__date {
    font-size: 25px;
    letter-spacing: 0.095em;
  }

  &__header-logo {
    height: 170px;
    margin-bottom: 25px;
    width: auto;

    img {
      height: 100%;
      margin: auto;
      width: auto;
    }
  }

  &__overview {
    padding: 0 12.5vw;
  }

  @media only screen and (max-width: 1450px) {
    &__hero-container {
      height: calc(100vw * 9 / 16);
      padding-bottom: 100px;
      width: 100%;
    }

    &__hero {
      background-size: contain;
    }

    &__heading {
      margin-bottom: 5px;
    }

    &__header-name {
      font-size: 36px;
      letter-spacing: 0.07em;
    }

    &__subheader {
      font-size: 26px;
      font-weight: normal;
      letter-spacing: 0.035em;
    }

    &__date {
      letter-spacing: 2px;
    }

    &__header-logo {
      height: 120px;
      margin-bottom: 5px;
    }
  }

  @media only screen and (max-width: 900px) {
    &__hero-container {
      height: 100vh;
    }

    &__hero {
      background-size: cover;
    }

    &__header-name {
      font-size: 28px;
    }

    &__subheader {
      font-size: 22px;
      font-weight: normal;
      letter-spacing: 0.07em;
      margin-bottom: 10px;
    }

    &__date {
      font-size: 16px;
      letter-spacing: 1px;
    }

    &__overview {
      padding: 0 30px;
    }
  }
}
