.event-page-container {
  background: #92877a;
  display: flex;
  flex-direction: column;
}

.event-container {
  align-self: start;
  display: grid;
  grid-row-gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, 100vw);
  grid-template-rows: 58vh [title-start] min-content [title-end button-start] min-content [button-end timer-start] min-content [timer-end overview-start] min-content;
  height: max-content;
  position: relative;
  width: 100% !important;

  &__heading {
    display: grid;
    flex-direction: column;
    grid-row: title-start / title-end;
    user-select: none; /* IE 10+ and Edge */

    .name {
      color: #000;
      font-family: Helvetica;
      font-size: calc(min(calc(max(15vw, 55px)), 80px));
      font-style: normal;
      font-weight: 300;
      height: 100px;
      letter-spacing: 0.3em;
      line-height: 130%;
      text-align: center;
      text-transform: uppercase;

      @media only screen and (max-width: 700px) {
        font-size: 50px;
        height: auto;
      }
    }

    .logoSeries {
      height: auto;
      margin: auto;
      margin-bottom: -25px;
      padding-top: 0;
      user-select: none; /* IE 10+ and Edge */
      width: 850px;
    }

    .logoFilm {
      height: auto;
      margin: auto;
      margin-bottom: 20px;
      padding-top: 0;
      user-select: none; /* IE 10+ and Edge */
      width: 600px;
    }

    .logoMer {
      height: 190px;
      margin: auto;
      margin-bottom: 20px;
      object-fit: cover !important;
      object-position: 0 -60px !important;
      user-select: none; /* IE 10+ and Edge */
      width: 600px;
    }

    .premiereDate {
      color: #fff;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 7px;
      margin-bottom: 3px;
      text-align: center;
      text-shadow: #fff 0 0 3px;
      text-transform: uppercase;
      -webkit-user-drag: none;
      user-select: none;
      user-select: none;
      user-select: none;
      user-select: none;
      user-select: none;
    }

    .filmDate {
      color: #fff;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 6px;
      margin-bottom: -10px;
      text-align: center;
      text-shadow: #fff 0 0 3px;
      text-transform: uppercase;
      -webkit-user-drag: none;
      user-select: none;
      user-select: none;
      user-select: none;
      user-select: none;
      user-select: none;
    }

    .location {
      color: #fff;
      color: #000;
      font-family: Helvetica;
      font-size: 35px !important;
      font-style: normal;
      font-weight: 200;
      letter-spacing: 0.3em;
      line-height: 170%;
      text-align: center;
      text-shadow: none;
      text-transform: uppercase;

      @media only screen and (max-width: 1200px) {
        font-size: 32px !important;
      }

      @media only screen and (max-width: 1000px) {
        font-size: 28px !important;
      }

      @media only screen and (max-width: 800px) {
        font-size: 26px !important;
        letter-spacing: 4px;
        line-height: 40px;
        margin-top: 10px;
      }
    }

    .time {
      color: #000;
      font-family: Helvetica;
      font-size: calc(min(calc(max(15vw, 18px)), 25px));
      font-style: normal;
      font-weight: 300;
      letter-spacing: 0.095em;
      line-height: 170%;
      text-align: center;
      text-transform: uppercase;
      user-select: none;

      @media only screen and (max-width: 500px) {
        font-size: 22px;
        letter-spacing: -0.5px;
      }
    }
  }

  &__button {
    display: flex;
    flex-direction: row;
    grid-row: button-start / button-end;
    margin: auto;
    margin-top: -20px;

    @media only screen and (max-width: 800px) {
      display: none !important;
    }
  }

  &__countdown {
    color: #000;
    font-family: Helvetica;
    font-family: Helvetica;
    font-size: 24px;
    font-size: calc(min(calc(max(15vw, 18px)), 25px));
    font-style: normal;
    font-style: normal;
    font-weight: 300;
    font-weight: 300;
    grid-row: timer-start / timer-end;
    letter-spacing: 0.05em;
    line-height: 100%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
    user-select: none;

    @media only screen and (max-width: 500px) {
      font-size: 22px;
      letter-spacing: -0.5px;
    }
  }

  &__overview {
    background: linear-gradient(180deg, #fff 0%, #92877a 100%);
    grid-row-start: overview-start;
    height: max-content;
    padding-bottom: 50px;
    padding-left: 12.5vw;
    padding-right: 12.5vw;
  }
}

.info-social-box {
  align-items: flex-start;
  background: transparent;
  background: #f9f7f4;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  grid-column: span 1;
  height: auto;
  margin: auto;
  min-width: auto;
  min-width: auto;
  padding: 0;
  position: relative;
  width: auto;
}

.overview-social-box {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  width: 50%;

  @media only screen and (max-width: 700px) {
    width: 100%;
  }
}

.stream-countdown {
  align-content: center;
  display: flex;
  font-size: 40px;
  height: auto;
  justify-content: center;
  margin: auto;
  margin: auto;
  text-align: center;
  user-select: none; /* IE 10+ and Edge */
  width: 100%;
}
