.event-page-container {
  display: flex;
  flex-direction: column;
  // background-color: #92877a;
}

.event-hero-background {
  @include page-fade-in;

  animation: 0.8s fadein linear;
  background-position: center top;
  background-size: cover;
  height: 100vh;
  margin: 0;
  mask-image: linear-gradient(#000, rgba(#f4f3f1, 1) 30%,  rgba(#f4f3f1, 0) 90%);
  min-height: 600px;
  min-width: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100vw;
}

.event-container {
  align-self: start;
  display: grid;
  grid-row-gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, 100vw);
  grid-template-rows: 55vh [heading-start] min-content [heading-end button-start] min-content [button-end overview-start] min-content;
  height: max-content;
  position: relative;
  width: 100% !important;

  @include breakpoint('phone-lg') {
    grid-template-rows: 50vh [heading-start] min-content [heading-end button-start] min-content [button-end overview-start] min-content;
  }

  &__heading {
    display: grid;
    // flex-direction: column;
    grid-row: heading-start / heading-end;
    // margin: auto;

    & > h1 {
      color: #000;
      font-family: Helvetica;
      font-style: normal;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__button {
    display: flex;
    flex-direction: row;
    grid-row: button-start / button-end;
    margin: auto;
    width: min-content;

    @include breakpoint('phone-lg') {
      flex-direction: column;
      width: 250px;

      & > .btn {
        font-size: 15px;
        height: 45px;
        margin: 0;
        // margin-top: 10px;
        width: 250px;
      }
    }

    @include breakpoint('phone-sm') {
      width: 250px;

      & > .btn {
        font-size: 14px;
        height: 40px;
        margin: 0;
        width: 250px;
      }
    }

    & > .btn {
      margin: 5px;
    }
  }

  &__countdown {
    color: #000;
    font-family: Helvetica;
    font-family: Helvetica;
    font-size: 24px;
    font-size: calc(min(calc(max(15vw, 18px)), 25px));
    font-style: normal;
    font-style: normal;
    font-weight: 300;
    font-weight: 300;
    grid-row: timer-start / timer-end;
    letter-spacing: 0.05em;
    line-height: 100%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
    user-select: none;

    @media only screen and (max-width: 500px) {
      font-size: 22px;
      letter-spacing: -0.5px;
    }
  }

  &__overview {
    // background: linear-gradient(180deg, #fff 0%, #92877a 100%);
    grid-row-start: info-start;
    height: max-content;
    padding-bottom: 50px;
    padding-left: 12.5vw;
    padding-right: 12.5vw;

    @media only screen and (max-width: 600px) {
      margin-top: -10px;
      padding-left: 7.5vw;
      padding-right: 7.5vw;
      padding-top: 10px;
    }
  }
}

.info-social-box {
  align-items: flex-start;
  background: transparent;
  background: #f9f7f4;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  grid-column: span 1;
  height: auto;
  margin: auto;
  min-width: auto;
  min-width: auto;
  padding: 0;
  position: relative;
  width: auto;
}

.overview-social-box {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  width: 50%;

  @media only screen and (max-width: 700px) {
    width: 100%;
  }
}

.stream-countdown {
  align-content: center;
  display: flex;
  font-size: 40px;
  height: auto;
  justify-content: center;
  margin: auto;
  margin: auto;
  text-align: center;
  user-select: none;
  width: 100%;
}

.event-hero-logo-container {
  height: calc(min(20vh, 170px));
  margin: auto;
  margin-bottom: 7.5px;
  width: auto;

  @include breakpoint('phone-lg') {
    height: calc(min(20vh, 100px));
    margin-bottom: 10px;
  }

  @media only screen and (max-height: 500px) {
    margin-bottom: 10px;
    max-width: 500px;
  }
}

.event-hero-logo {
  height: 100%;
  width: auto;
  // @media only screen and (max-width: 1200px) {
  //   width: calc(min(80vw, 750px));
  // }
}

.event-hero-header {
  font-size: 34px;
  font-size: calc(min(3vw, 34px));
  font-weight: 200;
  letter-spacing: 8px;
  line-height: 150%;
  // white-space: nowrap;

  // @media only screen and (max-width: 1200px) {
  //   font-size: 32px !important;
  // }

  // @media only screen and (max-width: 1000px) {
  //   font-size: 28px !important;
  // }

  @include breakpoint('tablet-sm') {
    font-size: calc(min(3vw, 34px));
    letter-spacing: 5px;
    // font-size: calc(min(4vw, 26px));
  }

  @include breakpoint('phone-lg') {
    font-size: calc(min(4.5vw, 34px));
    letter-spacing: 0;
    // font-size: calc(min(4vw, 26px));
  }

  @include breakpoint('phone-sm') {
    font-size: calc(min(4.7vw, 32px));
    letter-spacing: 0;
    // font-size: calc(min(4vw, 26px));
  }

  @media only screen and (max-height: 500px) {
    font-size: calc(min(3vw, 34px));
    letter-spacing: 5px;
  }
}

.event-hero-date {
  font-size: calc(min(4vw, 25px));
  font-weight: 300;
  letter-spacing: 0.095em;
  line-height: 150%;

  @include breakpoint('tablet-sm') {
    font-size: calc(min(4.5vw, 25px));
    letter-spacing: 0;
  }

  @media only screen and (max-height: 500px) {
    font-size: calc(min(4.5vw, 25px));
    letter-spacing: 0;
  }
}

.event-hero-name {
  font-size: calc(min(calc(max(15vw, 55px)), 90px));
  font-weight: 300;
  height: 100px;
  letter-spacing: 0.3em;
  line-height: 130%;
  text-transform: uppercase;

  @media only screen and (max-width: 700px) {
    font-size: 50px;
    height: auto;
  }
}
