.live-container {
  background: #fff;
  display: flex;
  flex-direction: column;
}

.spin-container {
  align-content: center;
  align-items: center;
  background-color: transparent;
  display: flex;
  height: 100%;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.spin-checkout-container {
  align-content: center;
  align-items: center;
  background-color: transparent;
  display: flex;
  height: 100%;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.hero-view {
  background-color: #fff;
  font-family: sans-serif !important;
  margin-bottom: 50px;
  user-select: none;
}

.hero-view-background {
  background: linear-gradient(140deg, #0610a1 7%, #4553ff 32.5%, #07c2e7 60%, #05d5ff  70%, #d694c6 95%);
  height: 760px !important;
  position: absolute !important;
  top: 0 !important;
  transform: skewY(-5deg) !important;
  transform-origin: 0 !important;
  width: 100% !important;
}

.hero-view-background span {
  height: 190px !important;
  position: absolute !important;
}

.hero-view-container {
  color: #fff !important;
  display: flex !important;
  flex-direction: row;
  height: 760px !important;
  margin: auto !important;
  margin-left: 12.5vw;
  margin-right: 12.5vw;
  max-width: 1250px !important;
  position: relative !important;
  width: auto !important;

  @media only screen and (max-width: 1350px) {
    justify-content: center;
  }
}

.hero-text {
  color: #fff !important;
  display: flex !important;
  flex-direction: column !important;
  font-family: sans-serif !important;
  height: auto !important;
  justify-content: center !important;
  max-width: 1024px !important;
  position: relative !important;
  top: 0 !important;
  width: auto;

  @media only screen and (max-width: 1350px) {
    width: 845px;
  }

  @media only screen and (max-width: 1000px) {
    margin-top: 10%;
    width: 700px;
  }

  @media only screen and (max-width: 800px) {
    margin-top: 10%;
    width: 570px;
  }

  @media only screen and (max-width: 650px) {
    margin-top: -12%;
    width: 85%;
  }

  @media only screen and (max-width: 500px) {
    margin-top: -12%;
    width: 85%;
  }

  @media only screen and (max-width: 415px) {
    margin-top: -25%;
    width: 85%;
  }

  @media only screen and (max-width: 350px) {
    margin-top: 0%;
    width: 85%;
  }
}

.hero-texth1 {
  animation: fadein 1s !important;
  animation-delay: 0.2s !important;
  animation-fill-mode: forwards !important;
  color: #fff !important;
  display: block;
  font-family: sans-serif !important;
  font-family: 'Helvetica Neue', Arial, sans-serif !important;
  font-size: 60px;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 900 !important;
  height: auto !important;
  letter-spacing: -2.5px !important;
  opacity: 0;
  width: auto;

  @media only screen and (max-width: 1350px) {
    font-size: 54px;
  }

  @media only screen and (max-width: 1000px) {
    font-size: 45px;
  }

  @media only screen and (max-width: 800px) {
    font-size: 55px;
    text-align: center;
  }

  @media only screen and (max-width: 650px) {
    font-size: 50px;
  }

  @media only screen and (max-width: 500px) {
    font-size: 50px;
    margin-bottom: 50px;
  }

  @media only screen and (max-width: 450px) {
    font-size: 50px;
  }
}

.hero-texth2 {
  animation: fadein 1s !important;
  animation-delay: 0.5s !important;
  animation-fill-mode: forwards !important;
  color: #fff !important;
  display: block;
  font-family: sans-serif !important;
  font-family: 'Helvetica Neue', Arial, sans-serif !important;
  font-size: 39px !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 900 !important;
  height: auto !important;
  letter-spacing: -1.89px !important;
  margin-block-end: 1em;
  opacity: 0;
  width: auto;

  @media only screen and (max-width: 1350px) {
    font-size: 35.25px !important;
  }

  @media only screen and (max-width: 1000px) {
    font-size: 29px !important;
  }

  @media only screen and (max-width: 800px) {
    font-size: 35px !important;
    margin-top: 50px;
  }

  @media only screen and (max-width: 600px) {
    font-size: 30px !important;
    margin-top: 50px;
  }

  @media only screen and (max-width: 500px) {
    display: none !important;
    font-size: 28px !important;
    margin-top: 50px;
  }

  @media only screen and (max-width: 415px) {
    font-size: 28px !important;
    letter-spacing: -0 !important;
    line-height: 34px !important;
    margin-top: 25px;
    text-align: center;
  }

  @media only screen and (max-width: 400px) {
    font-size: 26px !important;
    margin-top: 25px;
  }
}

.hero-textp {
  animation: fadein 1s !important;
  animation-delay: 0.8s !important;
  animation-fill-mode: forwards !important;
  color: #d9fcff !important;
  font-family: sans-serif !important;
  font-family: 'Helvetica Neue', Arial, sans-serif !important;
  font-size: 22px !important;
  font-weight: 600 !important;
  letter-spacing: 0;
  line-height: 34px !important;
  margin-bottom: 22px !important;
  max-width: 60% !important;
  opacity: 0;
  width: auto;

  @media only screen and (max-width: 1350px) {
    font-size: 20px !important;
    line-height: 30px !important;
  }

  @media only screen and (max-width: 1000px) {
    font-size: 20px !important;
    line-height: 30px !important;
    max-width: 70% !important;
  }

  @media only screen and (max-width: 800px) {
    font-size: 20px !important;
    line-height: 30px !important;
    max-width: 80% !important;
  }

  @media only screen and (max-width: 600px) {
    font-size: 18px !important;
    line-height: 28px !important;
    max-width: 100% !important;
  }

  @media only screen and (max-width: 500px) {
    color: #f1feff !important;
    font-size: 19px !important;
    line-height: 26px !important;
    max-width: 100% !important;
  }
}

.hero-texta {
  animation: fadein 1s !important;
  animation-delay: 0.8s !important;
  animation-fill-mode: forwards !important;
  color: #d9fcff !important;
  font-family: sans-serif !important;
  font-family: 'Helvetica Neue', Arial, sans-serif !important;
  font-size: 22px !important;
  font-weight: 900 !important;
  letter-spacing: 0;
  line-height: 34px !important;
  margin-bottom: 22px !important;
  max-width: 60% !important;
  opacity: 0;
  text-decoration: underline;
  width: auto;

  @media only screen and (max-width: 1350px) {
    font-size: 20px !important;
    line-height: 30px !important;
  }

  @media only screen and (max-width: 1000px) {
    font-size: 20px !important;
    line-height: 30px !important;
    max-width: 70% !important;
  }

  @media only screen and (max-width: 800px) {
    font-size: 20px !important;
    line-height: 30px !important;
    max-width: 80% !important;
  }

  @media only screen and (max-width: 600px) {
    font-size: 18px !important;
    line-height: 28px !important;
    max-width: 100% !important;
  }

  @media only screen and (max-width: 500px) {
    color: #f1feff !important;
    font-size: 19px !important;
    line-height: 26px !important;
    max-width: 100% !important;
  }
}

.photo-heading {
  color: #fff !important;
  font-size: 30px;
  font-weight: 300;
  margin-left: 25px;
  margin-right: 30px;
  position: absolute;
  right: 0;
  text-align: right;
  text-transform: uppercase;
  top: 300px;
  user-select: none;
  width: 100%;
}

.photo-heading-span {
  background-color: #000 !important;
  box-decoration-break: clone;
  box-decoration-break: clone;
  line-height: 180%;
  padding: 7px 12px;
  white-space: nowrap;
}

.hero-img-wrapper {
  animation: up 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards !important;
  background: #fff !important;
  opacity: 0;
  padding: 8px !important;
  position: absolute !important;
  // box-shadow: inset 0 4px 7px 1px #fff,
  // 	inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14),
  //   0 10px 20px rgba(0, 21, 64, 0.05) !important;
  right: 0 !important;
  top: 515px !important;
  transform: translateY(-110px) translateX(-0) !important;

  @media only screen and (max-width: 1350px) {
    display: none !important;
  }
}

.hero-img {
  background-blend-mode: screen;
  background-size: cover;
  height: 360px !important;
  object-fit: cover !important;
  object-fit: cover !important;
  width: 500px !important;
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(-180px) translateX(-0);
  }

  100% {
    opacity: 1;
    transform: translateY(-110px) translateX(-0);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.live-content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 100px;
  margin-top: 40px;
  width: 100%;

  &__title {
    color: #000;
    font-size: 38px;
    font-weight: 600;
    line-height: 4rem;
    margin-bottom: 8rem;
    margin-top: 8rem;
    text-align: center !important;
    user-select: none;

    @media only screen and (max-width: $bp-small) {
      font-size: 30px;
      margin-bottom: 5rem;
      margin-top: 5rem;
    }

    @media only screen and (max-width: $bp-tiny-2) {
      font-size: 28px;
    }

    @media only screen and (max-width: 415px) {
      font-size: 26px;
    }
  }

  &__container {
    color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    margin-bottom: 10rem;
    margin-left: 12.5vw;
    margin-right: 12.5vw;

    @media only screen and (max-width: 750px) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

.live-footer {
  // backdrop-filter: saturate(1.8) blur(20px);
  // backdrop-filter: saturate(1.8) blur(20px);
  background: transparent;
  background-clip: none;
  box-sizing: none;
  height: 220px !important;
  outline-color: transparent;
  // margin-top: 1rem;
  overflow: hidden;
  text-align: center !important;
  top: 10px;
  user-select: none;
  width: 100% !important;

  &__title {
    color: #000 !important;
    font-family: 'SF Display', 'Helvetica Neue';
    font-size: 32px;
    font-weight: 600;
    // margin-top: 20px !important;
    font-weight: bold !important;
    text-align: left !important;
  }

  &__logo {
    font-size: 28px;
    height: auto;
    margin-bottom: 10px;
    // padding: 13px 0 12px;
    width: 150px;

    @media only screen and (max-width: 900px) {
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  &__p {
    color: #000;
    font-size: 16px;
    font-weight: normal;
    margin-top: 7px !important;
    max-width: 250px;
    text-align: left;
  }
}

.footer-container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  // justify-content: center !important;
  // align-items: center !important;
  height: auto;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  width: 100%;
}

.footer-item {
  /* identical to box height, or 24px */
  color: rgba(0, 0, 0, 0.783);
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.07em;
  line-height: 150%;
  padding: 0 35px;

  &:hover {
    color: black;
    text-decoration: none;
  }
}

.footer-info {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  // padding-top: 20px;
  margin: auto;
  padding-bottom: 30px;
  // height: auto;
  // margin-top: 30px;
  width: 75vw;
}

.footer-sponsors {
  display: flex;
  height: auto;
  margin: auto;
  width: 50%;
}

.sponsor-container-footer {
  align-items: flex-start;
  align-self: center;
  color: #000;
  display: flex;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  justify-content: space-around;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  user-select: none;
  // margin-left: 50px;
  width: 100%;
}

.sponsor-title-footer {
  align-self: center;

  // margin-top: 20px !important;
  color: #000 !important;
  color: #000 !important;
  display: flex;
  font-size: 24px;
  font-weight: bold !important;
  font-weight: 600;
  // margin-top: 20px !important;
  font-weight: bold !important;
  justify-content: center;
  text-align: center !important;
}

.sponsor-img-container-footer {
  align-items: flex-start;
  //align-self: center;
  display: flex;
  flex-direction: row;
  height: 180px;
  justify-content: space-between;
  overflow: hidden;
  // margin-top: -35px;
}

.big-sponsor-img-footer {
  height: auto;
  overflow: hidden;
  // margin-bottom: -50px;
  // margin-right: 15px;
  // border: 1px solid #000;
  // border-radius: 40px;
  // object-fit: cover;
  width: 250px;
}

.sponsor-img1-footer {
  height: auto;
  margin-right: 25px;
  margin-top: 10px;
  width: 90px;
}

.sponsor-img2-footer {
  height: auto;
  margin-left: 25px;
  margin-top: -15px;

  // margin-right: 30px;
  width: 110px;
}

.coming-soon {
  color: #fff;
  font-size: 40px !important;
  font-weight: 700 !important;
  letter-spacing: 5px;
  margin-bottom: 8px;
  margin-top: 75px !important;
  text-align: center;
  text-shadow: #fff 0 0 3px;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
}
