.landing-page {
  @include page-fade-in;
  background: $black !important;
  color: $white;
  display: block;
  height: 100vh;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%;

  &-custom-background {
    .landing-page__text {
      text-shadow: 1px 1px 1px $gray;

      button {
        filter: drop-shadow(1px 1px 1px $gray);
      }
    }

    .landing-page__logo {
      filter: drop-shadow(1px 1px 0.5px $gray);
    }
  }

  * {
    z-index: 1;
  }

  &__background {
    background-position: center;
    background-size: cover;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 800px;
    padding-top: 80px;
  }

  &__text {
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 0.2em;
    margin: auto;
    max-width: 500px;
    text-align: center;
  }

  &__text-bold {
    font-weight: 500;
  }

  &__text-countdown {
    color: #f0e5d4;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0.3em;
    margin: 20px auto;
  }

  &__text-return {
    font-size: 18px;
    margin: 0 auto;
    max-width: 475px;
  }

  &__text-confirmation {
    font-size: 16px;
    letter-spacing: 0.15em;
    margin-top: 5px;
  }

  &__logo,
  &__event-logo {
    height: auto;
    max-width: 100%;
    object-fit: contain;
    width: auto;
  }

  &__logo {
    height: 40px;
    margin: 0 auto 40px;
    width: 100%;

    * {
      fill: $white;
      stroke: $white;
    }
  }

  &__event-logo {
    flex: 1 1 150px;
    margin: 20px auto 30px;
    max-height: 250px;
  }

  &__event-header {
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin: 30px auto;
    text-align: center;
    width: 100%;
  }

  &__enter-event {
    @include page-fade-in;
    align-items: center;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    color: $white;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    height: 50px;
    justify-content: center;
    letter-spacing: 0.14em;
    margin: 20px auto 80px;
    text-transform: uppercase;
    width: 255px;

    &:hover {
      color: $white;
    }
  }

  &__new-code-link {
    bottom: 20px;
    color: $white;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.03em;
    opacity: 0.5;
    position: absolute;
    right: 30px;

    &:hover {
      color: $white;
    }
  }

  @media only screen and (max-width: 900px) {
    &__content {
      max-width: unset;
      padding: 100px 20px 20px;
      width: 100%;
    }

    &__event-logo {
      height: 125px;
    }

    &__text {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.1em;
    }

    &__text-countdown {
      font-size: 22px;
      font-weight: normal;
    }

    &__text-confirmation {
      font-size: 12px;
    }

    &__new-code-link {
      font-size: 14px;
      right: 20px;
    }
  }
}
