.login-route {
  height: 100%;
  width: 100%;

  &-dark {
    background: $black;
  }
}

.login-modal {
  animation: fadein 0.35s ease-in;
  background-color: rgba($color-background, 0.8);
  bottom: 0;
  display: flex;
  height: 0;
  left: 0;
  margin: auto;
  max-height: 100vh;
  max-width: 100%;
  min-height: 100vh;
  min-width: 100%;
  position: fixed;
  right: 0;
  width: 0;
  z-index: 1000;

  &__close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    background-color: $white;
    border-radius: 50%;
    color: $black;
    width: 25px;
    height: 25px;
    border: 0;
    cursor: pointer;
    display: none;
  }

  .login-page {
    border: 1px solid $darkestgray;
    margin: auto;

    max-height: MIN(95vh, 800px);
    min-height: 450px;
    max-width: 450px;
    height: max-content;
    min-width: 450px;

    &__login-box {
      min-height: 450px;
    }

    &-large-logo-mode {
      max-width: 500px;

      .login-page__login-box {
        max-width: 500px;
      }
    }
  }

  @media screen and (max-width: 700px) {
    .login-page {
      border: 0;
      max-width: 100%;
      min-height: 100%;
      min-width: 100%;
      height: 100%;
    }

    &__close-button {
      display: block;
    }
  }
}

.login-page {
  align-items: center;
  background: $white;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  padding: 20px 30px;
  position: relative;
  width: 100%;

  input {
    &[type='checkbox'] {
      appearance: none;
      max-height: 14px;
      max-width: 14px;
      min-height: 14px;
      min-width: 14px;
      position: relative;

      &:checked {
        &::after {
          bottom: 0;
          content: '✓';
          font-size: 10px;
          left: 1.25px;
          position: absolute;
        }
      }
    }
  }

  &-large-logo-mode {
    padding: 0;

    .login-page__login-box {
      height: 100%;
      width: 100%;
      max-width: 500px;
    }

    .login-page__logo-container {
      margin-bottom: 30px;
    }

    .login-page__logo {
      //margin-bottom: 20px;
      max-height: 300px;
      max-width: 450px;
      width: 100%;
    }
  }

  .loader {
    height: auto;
    margin-top: 10px;
  }

  &__background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  h1 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
  }

  &__login-box {
    align-items: center;
    background: $white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    max-width: 450px;
    overflow-y: auto;
    padding: 50px 30px 20px;
    position: relative;
    width: 100%;
  }

  button {
    cursor: pointer;
  }

  &__private-key-form {
    border-radius: 10px;
    max-width: 500px;
    padding: 5px 20px 20px;
    width: 100%;

    &__actions {
      display: flex;
      justify-content: center;
    }

    input {
      font-size: 12px;
    }

    button {
      flex: 1 1 auto;
      height: 40px;
      padding: 5px;
      width: 150px;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &.login-page__private-key-form__button-submit {
        background-color: $blue;
        border: 1px solid $blue;
        color: $white;
      }
    }
  }

  .labelled-field {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    label {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.03em;
      margin-bottom: 8px;
    }

    input {
      height: 40px;
      padding: 5px 10px;
    }
  }

  &__logo {
    margin-bottom: 100px;
    object-fit: contain;
    width: 160px;
  }

  &__logo-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;

    .login-page__logo {
      margin-bottom: 0;
      padding: 0 5px 15px;
    }

    .login-page__tagline {
      align-items: center;
      color: $black;
      display: flex;
      flex-direction: column;
      font-size: 10px;
      font-weight: 300;
      justify-content: center;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      user-select: none;

      &__image {
        height: 20px;
        margin-top: 10px;

        * {
          fill: $black;
          stroke: $black;
        }
      }
    }
  }

  &__login-button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 12px;
    height: 46px;
    margin: 5px 0;
    outline: 0;
    width: 191px;

    &:focus,
    &.focus,
    &.active {
      filter: drop-shadow(0 0 3px $blue);
    }
  }

  &__login-button-auth0 {
    background-color: $blue;
    color: $white;
    font-size: 18px;
  }

  &__login-button-cancel,
  &__login-button-create {
    background-color: $white;
    border: 0.75px solid $gray;
    color: $black;
  }

  &__login-button-pk {
    font-size: 10px;
    height: 23px;
  }

  &__login-button-image {
    padding: 0;

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  &__terms-button {
    background: transparent;
    bottom: 20px;
    font-size: 9px;
    height: 20px;
    justify-self: flex-end;
    letter-spacing: 0.05em;
    position: absolute;

    &.login-page__terms-button {
      border: 0;
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__text-section {
    margin-top: 75px;

    * {
      color: $gray;
    }
  }

  &__terms,
  &__consent {
    font-size: 10px;
    margin: 0 auto;
    max-width: 350px;
    text-align: center;

    a {
      color: $lightblue;
    }

    &-checkbox {
      cursor: pointer;
      margin-right: 10px;
    }

    &-label {
      cursor: pointer;
      font-weight: normal;
    }
  }

  &__eluvio-terms {
    padding-top: 30px;
  }

  &__consent {
    align-items: center;
    display: flex;
    padding-top: 10px;
  }

  @media screen and (max-width: 700px) {
    height: 100%;
    width: 100%;

    &__login-box {
      height: 100%;
      width: 100%;
      max-width: 100%;
      max-height: 100%;
    }

    &__terms-modal {
      .modal__content {
        bottom: 0;
        top: 0;
        width: 100%;
      }
    }

    &-large-logo-mode {
      .login-page__login-box {
        flex: 1 1 100%;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        min-height: 100%;
        min-width: 100%;
        width: 100%;
      }
    }
  }
}

.login-dark {
  .login-page {
    background: $black;

    &__login-box {
      background: $black;
    }

    &__logo {
      * {
        fill: $white;
        stroke: $white;
      }
    }

    &__logo-container {
      .login-page__tagline {
        color: $lightgray;

        &__image {
          * {
            fill: $white;
            stroke: $white;
          }
        }
      }
    }

    &__text-section {
      * {
        color: $darkgray;
      }

      a {
        color: $blue;
      }
    }

    &__private-key-form {
      button {
        color: $white;
      }

      input {
        background: $white;
        color: $black;
      }
    }

    &__login-button {
      border: 0;
    }

    &__login-button-cancel,
    &__login-button-create {
      background-color: $black;
      border: 0.75px solid $gray;
      color: $white;
    }

    &__terms {
      a {
        color: $blue;
      }
    }

    .lds-default {
      div {
        background: rgba(255, 255, 255, 0.5) !important;
      }
    }
  }
}
