.merch-container {
  @include item-block;

  * {
    font-family: Helvetica;
  }
}

.merchandise-item {
  display: grid;
  grid-template-columns: 4fr 5fr;

  * {
    font-family: Helvetica;
  }

  // Left side
  .item-image {
    display: flex;
    flex-direction: column;
    align-items: center;

    .selected-image {
      max-height: 500px;
      min-height: 500px;
      object-fit: contain;
    }
  }

  .image-options {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
  }

  .image-option {
    background: transparent;
    height: 63px;
    width: 63px;
    object-fit: contain;
    cursor: pointer;
    border: 1px solid transparent;

    &.selected {
      outline: 1px solid black;
    }
  }

  // Right side

  .item-details {
    padding: 44px 0;
    height: 100%;
    position: relative;
  }

  .item-header {
    font-size: 36px;
    line-height: 41px;
    margin-bottom: 16px;
  }

  .item-price {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 12px;
  }

  .item-description {
    max-width: 75%;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;
    font-weight: 300;
  }

  .item-option-label {
    font-size: 16px;
    line-height: 18px;
    display: flex;
    margin-bottom: 6px;

    .option-label {
      font-weight: normal;
      margin-left: 5px;
    }
  }

  .item-option,
  .item-colors {
    display: flex;
    margin-bottom: 31px;
  }

  .item-option,
  .item-color {
    outline: 0;
    border-radius: 0;
    border: 0;
    background: transparent;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
  }

  .item-color,
  .item-color-swatch {
    border-radius: 100%;
  }

  .item-color {
    width: 23px;
    height: 23px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;

    &.selected {
      border: 1px solid black;

      .item-color-swatch {
        border: 0;
      }
    }
  }

  .item-color-swatch {
    width: 19px;
    height: 19px;
    border: 1px solid #BFBFBF;
  }

  .item-option {
    width: 225px;

    select {
      width: 100%;
    }
  }

  .item-quantity {
    width: 85px;
  }

  .item-add {
    font-size: 16px;
    border-radius: 3px;
    height: 42px;
    margin-top: 42px;
  }

  &.cart-view {
    grid-template-columns: auto 1fr;
    grid-gap: 43px;

    .item-details {
      padding: 7px 0;
    }

    .item-image,
    .selected-image {
      width: 168px;
      max-height: 246px;
      min-height: 246px;
    }

    .item-description {
      max-width: unset;
    }
  }

  &.featured-view {
    @include item-block;

    display: block;
    width: 611px;

    .remove-item {
      position: initial;
      width: 100%;
      text-align: right;
      margin-top: 20px;
    }

    .featured-item-selection {
      margin-right: 62px;
      height: 19px;
      width: 19px;
    }

    .item-header-price {
      font-weight: bold;
      font-size: 18px;
      position: absolute;
      right: 0;
    }

    .item-container {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 15px;

      .item-image,
      .selected-image {
        max-height: 139px;
        min-height: 139px;
        width: 160px;
      }
    }

    .item-details {
      padding: 0;
    }

    .item-options-container {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-gap: 10px;
      margin-bottom: 23px;

      .select-wrapper {
        margin: 0;
      }
    }

    .item-options {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;

      .item-option {
        width: auto;
      }
    }

    .item-description {
      margin: 0;
      text-align: left;
    }
  }

  &.donation-view {
    width: 575px;

    .item-container {
      display: grid;
      grid-template-columns: auto 1fr;

      .item-image,
      .selected-image {
        max-height: 93px;
        min-height: 93px;
        width: 105px;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .merchandise-item {
    grid-template-columns: 1fr;

    * {
      text-align: center;
    }

    .item-image {
      .selected-image {
        min-height: 300px;
        max-height: 300px;
      }
    }

    .item-header {
      font-size: 28px;
    }

    .item-details {
      padding: 0 10px 24px;
    }

    .item-description {
      max-width: 100%;
    }

    .item-option-label {
      display: flex;
      justify-content: center;
    }

    .item-option,
    .item-colors {
      justify-content: center;
    }

    .item-color {
      height: 30px;
      width: 30px;
    }

    .item-color-swatch {
      height: 24px;
      width: 24px;
    }

    .select-wrapper {
      margin: 0 auto 43px;
    }

    .item-quantity {
      text-align: left;
    }

    .item-add {
      margin-top: 10px;
    }

    &.cart-view {
      width: 100%;
      grid-template-columns: 1fr 3fr;

      .item-image,
      .selected-image {
        width: 100px!important;
        max-height: 150px;
        min-height: 150px;
      }
    }

    &.mobile-cart-view {
      .item-header {
        font-weight: bold;
      }
    }

    &.featured-view {
      width: 100%;

      .item-header-price {
        font-size: 16px;
      }

      .item-container {
        grid-template-columns: 1fr 10fr;
        justify-items: center;
      }

      .item-image,
      .selected-image {
        max-width: 100px;
        max-height: 100px;
      }

      .item-options-container,
      .item-options {
        display: block;

        .select-wrapper {
          margin-bottom: 10px;
        }
      }

      .featured-item-selection {
        margin-right: 10px;
      }

      .select-wrapper,
      select {
        width: 100%;
        text-align: center;
      }
    }
  }
}
