.merch-container {
  background-color: transparent;
  color: black;
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  height: auto;
  justify-content: center !important;
  margin: auto;
  margin-top: 80px;
  max-width: 1350px;
  width: 100%;
}

.merch-title {
  color: black;
  font-size: 50px !important;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 5px;
  text-align: center;
  text-shadow: #fff 0 0 0;
  user-select: none;
  white-space: pre-wrap;
  width: 100%;
}

.merch-item {
  background: transparent !important;
  border: 0 !important;
  height: 440px;
  margin: 20px;
  perspective: 1500px;
  perspective: 1500px;
  position: relative;
  user-select: none;
  width: 400px;

  @media only screen and (max-width: 620px) {
    height: 390px;
    width: 350px;
  }

  @media only screen and (max-width: 450px) {
    height: 290px;
    width: 250px !important;
  }
}

.merch-item:hover {
  filter: brightness(1) !important;
}

.merch-image {
  background: transparent !important;
  border: 0 !important;
  border-radius: 10px;
  height: 400px;
  perspective: 1500px;
  perspective: 1500px;
  position: relative;
  user-select: none;
  width: 100%;

  @media only screen and (max-width: 620px) {
    height: 350px !important;
    width: 350px !important;
  }

  @media only screen and (max-width: 450px) {
    height: 250px !important;
    width: 250px !important;
  }
}

.merch-detail {
  box-pack: justify;
  color: black;
  display: flex;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: bold;
  font-weight: normal;
  height: 40px;
  justify-content: space-between;
  letter-spacing: 0.07px;
  line-height: 32px;
  overflow-wrap: break-word;
  text-align: left;
  text-transform: uppercase;
  width: 100%;

  @media only screen and (max-width: 620px) {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}

.merch-name {
  border: 0;
  font: inherit;
  font-family: Helvetica;
  font-size: 100%;
  font-style: normal;
  font-weight: 300;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 170%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;

  @media only screen and (max-width: 450px) {
    font-size: 16px;
  }

  @media only screen and (max-width: 350px) {
    font-size: 14px;
  }
}

.merch-price {
  border: 0;
  font: inherit;
  font-family: Helvetica;
  font-size: 100%;
  font-style: normal;
  font-weight: 300;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 170%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;

  @media only screen and (max-width: 450px) {
    font-size: 16px;
  }

  @media only screen and (max-width: 350px) {
    font-size: 14px;
  }
}

.merch-description {
  background: transparent !important;
  display: flex;
  height: 50px;
  perspective: 1500px;
  perspective: 1500px;
  position: relative;
  user-select: none;
  width: 420px;
}
