.overview-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  margin-top: 100px;
  overflow: auto;
  width: 100%;

  &__eventInfo {
    background: #f9f7f4;
    background: #f9f7f4;
    box-shadow: 4px 12px 40px 6px rgba(0,0,0,.09);
    color: #000 !important;
    display: flex;
    flex-direction: row;
    height: auto;
    margin: auto;
    max-width: 1350px;
    padding: 40px;
    position: relative;
    width: 100%;

    @media only screen and (max-width: 1500px) {
      flex-direction: column;
    }

    @media only screen and (max-width: 800px) {
      flex-direction: column;
      padding: 20px;
    }

    @media only screen and (max-width: 420px) {
      flex-direction: column;
      padding: 15px;
    }
  }

  &__photoGroup {
    display: flex;
    flex-direction: column;
    height: auto;
    height: 100%;
    width: 37.5%;
    
    @media only screen and (max-width: 1500px) {
      flex-direction: column;
      margin-top: 50px;

      width: 100%;
    }

    &__singlePhoto {
      display: block;
      flex-shrink: 0;
      height: 450px;
      margin: auto;
      max-width: 320px;
      object-fit: cover !important;
      width: 100%;
    }
  }

  &__info {
    -ms-user-select: none; /* IE 10+ and Edge */
    -webkit-user-select: none; /* Safari */
    display: flex;
    flex-direction: column;
    height: auto;
    margin-right: 10px;
    user-select: none; /* Standard syntax */
    width: 62.5%;

    @media only screen and (max-width: 1500px) {
      width: 100%;
    }

    &__title {
      color: #000 !important;
      font-family: sans-serif;
      font-size: 60px;
      font-weight: 700;
      letter-spacing: -.2px;
      line-height: 50px;
      margin-bottom: 5px;
      margin-top: 0;
      text-transform: uppercase;
      @media only screen and (max-width: 1600px) {
        font-size: 53px;
      }

      @media only screen and (max-width: 1200px) {
        font-size: 60px !important;
        line-height: 50px;
      }
  
      @media only screen and (max-width: 1000px) {
          font-size: 55px !important;
          line-height: 45px;
      }

      @media only screen and (max-width: 800px) {
          font-size: 50px !important;
          line-height: 40px;
      }

      @media only screen and (max-width: 700px) {
        font-size: 40px !important;
        letter-spacing: -2.2px;
        line-height: 40px;
      }

      @media only screen and (max-width: 540px) {
        font-size: 32px !important;
        letter-spacing: -2.2px;
        line-height: 35px;
      }

      @media only screen and (max-width: 420px) {
        font-size: 28px !important;
        letter-spacing: -1px;
        line-height: 35px;
      }

      &__desc {
        font-family: sans-serif;
        font-size: 35px;
        font-weight: 700;
        letter-spacing: -.2px;
        margin-top: 0;
        text-transform: capitalize;
        @media only screen and (max-width: 1600px) {
          font-size: 32px;
        }

        @media only screen and (max-width: 1200px) {
          font-size: 30px !important;
        }

        @media only screen and (max-width: 1000px) {
            font-size: 28px !important;
        }

        @media only screen and (max-width: 800px) {
            font-size: 27px !important;
        }

        @media only screen and (max-width: 700px) {
          font-size: 26px !important;
        }

        @media only screen and (max-width: 540px) {
          font-size: 22px !important;
          letter-spacing: -1px;
        }

        @media only screen and (max-width: 420px) {
          font-size: 21px !important;
          letter-spacing: -1px;
        }
      }  
    }
  
    &__synopsis {
      -ms-user-select: none; /* IE 10+ and Edge */
      -webkit-user-select: none; /* Safari */
      color: #000 !important;
      display: -webkit-box;
      font-family: sans-serif;
      font-size: 20px;
      font-weight: 500;
      margin-left: 0;
      margin-right: 100px;
      margin-top: 15px;

      overflow: hidden;
      position: relative;
      // text-align: center;
      text-align: left;
    
      text-align: left;
      user-select: none; /* Standard syntax */
      white-space: pre-line;

      @media only screen and (max-width: 1600px) {
        font-size: 18px;
      }

      @media only screen and (max-width: 800px) {
        font-size: 18px;
        margin-right: 50px;
      }

      @media only screen and (max-width: 600px) {
        font-size: 18px;
        margin-right: 20px;
      }
    }

    &__photoGroup {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 37.5%;

      &__singlePhoto {
        height: auto;
        margin: auto;
        margin-top: 90px;
        width: 380px;
      }

      @media only screen and (max-width: 1680px) {
        flex-direction: column;
      }
    }

    &__photo {
      height: auto;
      margin: auto;
      margin-top: 90px;
      width: 380px;
    }

    &__schedule {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center !important;
      margin-bottom: 10rem;
      width: 100%;
      
      &__post {
        background-color: rgb(48, 47, 47);
        border-radius: 10px;
        display: grid;
        grid-column-gap: 30px;
        grid-template-columns: 0% [date-start] 37.5% [date-end info-start] 37.5% [info-end button-start] 10% ;
        height: 80px;
        margin-bottom: 20px;
        width: 85%;

        @media only screen and (max-width: $bp-large-2) {
          width: 100%;
        }

        @media only screen and (max-width: $bp-medium) {
          align-items: center;
          display: flex;
          flex-direction: column;
          height: 220px;
          justify-content: space-evenly;
          width: 80%;
        }

        @media only screen and (max-width: $bp-small-3) {
          width: 90%;
        }

        &__detail {
          color: var(--pText) !important;
          font-size: 20px;
          font-weight: bold;
          grid-column: date-start / date-end;
          margin-top: 25px !important;
          @media only screen and (max-width: $bp-small) {
            font-size: 19px;
            margin-left: 20px;
            margin-right: 20px;

          }

          @media only screen and (max-width: $bp-tiny-2) {
            font-size: 18px;
          }
        }

        &__info {
          color: var(--pText) !important;
          font-size: 20px;
          font-weight: bold;
          grid-column: info-start / info-end;
          margin-top: 25px !important;

          @media only screen and (max-width: $bp-small) {
            font-size: 19px;
            margin-left: 20px;
            margin-right: 20px;

          }

          @media only screen and (max-width: $bp-tiny-2) {
            font-size: 18px;
          }
        }
      }
    }
  }
}
