.overview-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  overflow: visible;
  width: 100%;

  @media only screen and (max-width: 800px) {
    margin-top: 35px;
  }
}

.overview-social-box {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 40px auto;
  width: 50%;

  .info-social-link {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;

    .social-icon {
      height: 100%;
      padding: 3px;
      width: 100%;
    }
  }

  .spotify {
    &:hover {
      fill: #1db954;
    }
  }

  .soundcloud {
    &:hover {
      fill: #f70;
    }
  }

  .apple_music {
    &:hover {
      fill: rgb(112, 112, 112);
    }
  }

  .youtube {
    &:hover {
      fill: #c4302b;
    }
  }

  .instagram {
    &:hover {
      fill: #c4302b;
    }
  }

  .twitter {
    &:hover {
      fill: #1da1f2;
    }
  }

  .facebook {
    &:hover {
      fill: #4267b2;
    }
  }

  .website {
    &:hover {
      fill: rgb(112, 112, 112);
    }
  }


  @media only screen and (max-width: 900px) {
    width: 100%;
  }
}
