.react-select-container {
  min-height: auto !important;
  width: 100% !important;
}

.react-select {
  position: absolute !important;

  &__input {
    caret-color: transparent !important;
    color: #f2eeea !important;
    position: absolute !important;
    text-shadow: 0 0 0 #f2eeea !important;
  }

  &__control {
    background: #f2eeea !important;
    height: auto !important;
    min-height: auto !important;
  }

  &__value-container {
    height: auto !important;
    margin-left: 5px !important;
    overflow: visible !important;
  }

  &__indicators {
    height: auto !important;
  }

  &__menu-list {
    box-sizing: border-box;
    max-height: 120px !important;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    padding-bottom: 4px;
    padding-top: 4px;
    position: relative;
  }

  &__indicator-separator {
    display: none;
  }

  &__single-value {
    font-size: 14px !important;
    margin-left: 5px !important;
  }

  &__option {
    font-size: 14px !important;
    padding: 5px 12px !important;
  }
}

.stripe-checkout-button {
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  height: 50px;
  justify-content: space-evenly;
  letter-spacing: 0.14em;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;

  @media only screen and (max-width: 600px) {
    font-size: 14px;
    letter-spacing: 0.05em;
  }

  @media only screen and (max-width: 400px) {
    font-size: 13px;
    letter-spacing: 0;
  }
}

.stripe-checkout-logo {
  height: 38px;
  width: auto;
}

.checkout-button {
  background: #232323;
  border-radius: 5px;
  color: #fff;
  width: 400px;

  @media only screen and (max-width: 700px) {
    margin-left: 0;
    width: 100%;
  }

  &:hover {
    background: #000;
  }
}

.paypal-button {
  width: 400px;

  @media only screen and (max-width: 700px) {
    margin-left: 0;
    width: 100%;
  }
}
