.payment-container {
  display: flex;
  flex-direction: row;
  gap: 80px;
  width: 100%;
  height: auto;
  max-width: 980px;
  // min-height: 800px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 30px 20px;
  overflow: scroll;

  overflow: hidden;
  @media only screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 980px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 50px 30px;
 }
}


.payment-event-overview {
  flex: 1 1;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 60px;
  display: block;
}

.payment-inner-overview {
  display: flex;
  min-height: calc(100vh - 150px);
  position: sticky;
  top: 105px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.payment-info {
  // padding-right: 60px;
  flex: 1 1;
  // min-height: calc(100vh - 150px);
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  color: black;
  font-weight: 400;
  font-size: 17px;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  line-height: 1.47059;
  letter-spacing: -.022em;
  text-rendering: optimizelegibility;
  @media only screen and (max-width: 1000px) {
    align-items: center;
  } 
}
.payment-info-img-container {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  max-width: 320px;
  // margin-right: 40px;
  max-width: 225px;
  margin: 0 0 40px;
  border-radius: 12px;
  overflow: hidden;
  background: hsla(0,0%,100%,.8);
  box-shadow: 50px 50px 50px rgba(0,0,0,.04), 20px 20px 20px rgba(0,0,0,.02);
  align-self: center;
}

.payment-info-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.payment-info-artist {
  display: block;
  margin: 0 0 0px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: .5px;
  text-transform: uppercase;
}
.payment-info-event {
  margin: 0 0 0px;
  padding: 0;
  text-align: center;
  line-height: 1.2;
  word-break: break-word;
  font-size: 28px;
  letter-spacing: -1px;
  font-weight: 700;
  @media only screen and (max-width: 500px) {
    font-size: 24px;
  } 
  
  // font-family: "Noe Display Bold", sans-serif;


}
.payment-info-date {
  font-size: 14px;
  margin: 0;

  font-weight: 500;

}
.payment-info-description {

  display: -webkit-box;
  margin-left: 0;
  text-align: left;

  position: relative;
  margin-top: 25px;
  overflow: hidden;
  color: rgba(0,0,0,.6);
  font-size: 15px;
  // text-align: center;
  white-space: pre-line;

  display: -webkit-box;
  margin-left: 0;
  text-align: left;

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  

  @media only screen and (max-width: 1000px) {
    text-align: center;
  } 
  
}


.sponsor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  color: black;
  font-weight: 400;
  font-size: 17px;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  line-height: 1.47059;
  letter-spacing: -.022em;
  text-rendering: optimizelegibility;
  margin-top: 50px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  @media only screen and (max-width: 1000px) {
    // display: none;
  } 

}


.sponsor-title {
  display: block;
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: .5px;
  text-transform: uppercase;
}


.sponsor-img-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: -35px;

}
.big-sponsor-img {
  width: 300px;
  height: auto;
  margin-top: -105px;
  margin-bottom: -50px;

  // margin-right: 15px;
  // border: 1px solid #000;
  // border-radius: 40px;
  // object-fit: cover;
}
.sponsor-img1 {
  width: 110px;
  height: auto;
  margin-right: 20px;
}
.sponsor-img2 {
  width: 150px;
  height: auto;
  margin-top: -30px;

  // margin-right: 30px;
  margin-left: 20px;
}







.payment-checkout {
  flex-shrink: 0;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  display: block;
  height: 100%;
}


.checkout-section {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 12px;
  background: hsla(0,0%,100%,0.72)  ;
  // box-shadow: 50px 50px 50px rgba(0,0,0,.04), 20px 20px 20px rgba(0,0,0,.02);
  // -webkit-backdrop-filter: saturate(1.8) blur(20px);
  // backdrop-filter: saturate(1.8) blur(20px);
  padding: 22px 40px;

  color: black;
  font-weight: 400;
  font-size: 17px;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  line-height: 1.47059;
  letter-spacing: -.022em;
  text-rendering: optimizelegibility;
}

.currency-quantity-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 2fr 1fr;
  grid-gap: 5px;
  gap: 5px;
}

.currency-select{
  position: relative;
  margin-bottom: 8px;
  text-align: left;
  height: auto;
  z-index: 1091898181818;
}

.quantity-select{
  position: relative;
  margin-bottom: 8px;
  text-align: left;
}

.checkout-checkbox-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;

}

.checkout-checkbox-input {
  // position: absolute;
  // top: 3px;
  // left: 0;
  // width: 16px;
  // height: 16px;
  // cursor: pointer;
  // // opacity: 0;
  margin-right: 25px;
  margin-top: 2.6px;

  position: relative;
  display: inline-block;
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkout-checkbox-label {
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

}


.checkout-checkbox-heading {
  line-height: 120%;
  margin: -2px 0 0;
  font-size: 18px;
  letter-spacing: -.05px;
  font-weight: 700;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.checkout-checkbox-bundle {
  display: flex;
  align-items: flex-start;
}
.checkout-checkbox-bundle-img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  // border: 1px solid rgba(0, 0, 0, 0.603);
  // border-radius: 40px;
  object-fit: cover;
}
.checkout-checkbox-bundle-info {
  text-align: left;
  width: 100%;
}
.checkout-checkbox-bundle-name {
  font-weight: 500;
  width: 150%;
}
.checkout-checkbox-bundle-description {
  margin: 0 0 10px;
  color: rgba(0,0,0,.6);
  font-size: 12px;
}
.checkout-checkbox-bundle-size {
  // margin: 0 0 10px;
  // color: rgba(0,0,0,.6);
  // font-size: 14px;
  // z-index: 199;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7.5px;

}
.css-yk16xz-control {
  :hover{
    border-color: black !important;
  }
}


.checkout-email-form {
  position: relative;
  margin-bottom: 8px;
  input {
    // border-radius: 1px;
    font-size: 2.2rem;
    // height: 48px;
    // letter-spacing: 1.5px;
    // margin-top: 1rem;
    // text-align: center;
    // width: MIN(35rem, 90vw);

    display: inline-block;
    width: 100%;
    height: 3.3em;
    padding: 0px 20px 0;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    color: rgb(49, 49, 53);
    font-size: 17px;
    // line-height: 1.23543;
    // letter-spacing: -.022em;
    text-transform: none;
    vertical-align: top;
    word-spacing: normal;
    cursor: text;



    background: hsla(0,0%,100%,0.72)  ;
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    backdrop-filter: saturate(1.8) blur(20px);


    transition: all .125s ease 0s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-rendering: auto;
    -webkit-rtl-ordering: logical;



    @media only screen and (max-width: 415px) {
      font-size: 2rem;
      width: 280px;
    } 

    &::placeholder {
      // font-variant: all-small-caps;
      color: black;

    }
  }
}
.checkout-email-info {
  font-size: 14px;
  color: rgba(0,0,0,.6);
  padding-bottom: 10px;
  text-align: center;
}


.checkout-button {
  display: inline-block;
  max-width: 100%;
  padding: 1rem;
  border: none;
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background: #252525;
  outline: none;
  box-shadow: 0 1px 1px rgba(37,37,37,.12), 0 2px 5px rgba(37,37,37,.12), 0 0 1px rgba(37,37,37,.12);
  cursor: pointer;
  // transition: background .2s ease,box-shadow .2s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 100%;
  margin-top: 20px;
  border-radius: 12px;
  padding: 12px 18px;
  font-size: 15px;
}
.checkout-error {
  // display: none;
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
  color: rgb(222, 7, 28);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  letter-spacing: .006em;
  text-align: center;
}


// <div class="react-select-container">
//   <div class="react-select__control">
//     <div class="react-select__value-container">...</div>
//     <div class="react-select__indicators">...</div>
//   </div>
//   <div class="react-select__menu">
//     <div class="react-select__menu-list">
//       <div class="react-select__option">...</div>
//     </div>
//   </div>
// </div>
.react-select-container {
  width: 100% !important;
  height: 30px !important;

}
.react-select {
  position: absolute !important;
  &__input{
    // display: none !important;
    color: transparent !important;
  }
  &__control{
    height: 30px !important;
    min-height: 30px !important;

  }
  &__value-container{
    height: 30px !important;


  }
  &__indicators{
    height: 30px !important;


  }
  &__menu{

  }
  &__menu-list{
    max-height: 120px !important;
    overflow-y: auto;
    padding-bottom: 4px;
    padding-top: 4px;
    position: relative;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;

  }
  &__indicator-separator {
    display: none;
  }
  &__single-value{
    font-size: 14px !important;
  }

  &__option{
    font-size: 14px !important;
    padding: 5px 12px !important;

  }
}
