.stream-nav {
  display: flex;
  flex-direction: row;
  height: 75px;
  justify-content: space-between;
  width: 100% !important;
  z-index: 500000;

  &__logo {
    height: 22px;
    margin-bottom: 25px;
    margin-left: 6px;
    margin-top: 26.5px;
    position: absolute;
    user-select: none;
    width: auto;
  }

  &__title {
    color: #000;
    font-size: 34px;
    // height: 31px;
    letter-spacing: 0;
    // margin: auto;
    line-height: 100%;
    margin-bottom: 22px;
    margin-left: 6px;
    margin-top: 22px !important;
    user-select: none;
    width: 100%;
  }

  &__button-grp {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    margin-right: 15px;
    width: auto;
  }

  &__button-grp2 {
    margin-right: 10px;

    @media only screen and (max-width: 1000px) {
      display: none;
    }
  }

  &__dropdown {
    color: #000 !important;
    height: 32.5px;
    margin-bottom: 21.25px;
    margin-right: 30px;
    margin-top: 21.25px;
    width: 170px;
  }
}

.stream-root {
  /* IE10+ */
  -ms-overflow-style: -ms-autohiding-scrollbar !important;
  overflow-y: hidden;

  /* FireFox */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    background-color: transparent;
    display: none !important;
    height: 0 !important;
    width: 0 !important;
  }

  &::-webkit-scrollbar-thumb {
    display: none !important;
  }
}

.stream-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: calc(100% - 75px);
  width: 100%;

  ::-webkit-scrollbar {
    background-color: transparent;
    display: none; // Safari and Chrome
  }

  &__streamBox {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: calc(100vh - 175px) 100px;
    height: 100%;
    overflow: hidden !important;
    width: 100%;

    @media only screen and (max-width: 500px) {
      grid-template-rows: calc(100vh - 275px) 200px;
      height: calc(100vh - 75px);
    }

    &--videoBox {
      background: #000;
      grid-column: 1;
      grid-row: 1 / 2;
      height: calc(100vh - 175px);

      @media only screen and (max-width: 500px) {
        // height: calc(100vh - 75px);
        height: calc(100vh - 275px);
      }
    }

    &--video {
      background: #000;
      height: 100%;
      left: 0;
      object-fit: cover !important;
      position: relative;
      top: 0;
      width: 100%;
    }

    &--info {
      background-color: transparent;
      display: grid;
      grid-template-columns: 75% 25%;
      height: 100%;
      justify-content: space-between;
      padding: 0 30px;
      user-select: none;
      width: 100%;

      @media only screen and (max-width: 600px) {
        grid-template-columns: 100%;
        padding: 0 10px;
      }
    }
  }

  &__tabs {
    background-color: #000;
    height: 100%;
    width: 100%;

    &--bottom {
      height: calc(100% - 75px);
      width: 100%;
    }

    &--bottom2 {
      height: auto !important;
      width: 100% !important;
    }

    &--chat {
      height: 100%;
      width: 100%;
    }

    &--wall {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 15% 85%;
      height: 100%;
      width: 100%;
    }

    &--fanHeading {
      align-items: center;
      color: #fff;
      display: flex;
      flex-direction: column;
      grid-column: 1;
      height: 100%;
      justify-content: space-evenly;
      width: 100%;

      &--fanTitle {
        color: #fff;
        display: inline-block;
        font-size: 27px;
        font-size: bold !important;
        height: auto;
        line-height: 4rem;
        margin-bottom: 5px;
        padding-bottom: 0;
        text-align: center !important;
        text-transform: uppercase;
        width: auto;
      }
    }

    &--fan {
      background-color: #008000;
      height: 100%;
      width: 100%;
    }

    &--twilio {
      background-color: #000;
      height: 100%;
      width: 100%;
    }
  }
}

.stream-container ::-webkit-scrollbar {
  display: none;
  overflow: hidden !important;
}

.feedGrid {
  height: 100%;
  position: relative;
  width: 100%;

  & > video {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.videobox {
  align-items: center;
  background: #000;
  display: flex;
  height: auto;
  justify-content: center;
  object-fit: cover;
  overflow: none;
  position: relative;
  width: 100%;
  z-index: 5;
}

.singleVideoBox {
  align-items: center;
  background: #000;
  display: flex;
  grid-area: 1 / 1 / span 3 / span 3 !important; //<row-start> / <column-start> / <row-end> / <column-end>
  height: auto;
  justify-content: center;
  object-fit: cover;
  position: relative;
  width: 100%;
  z-index: 5;
}

.hideVideoBox {
  height: 1px;
  position: absolute;
  visibility: hidden;
  width: 1px;
}

.videobox0 {
  align-items: center;
  background: #000;
  // grid-column: 1 / 3;
  // grid-row: 1 / 3;
  display: flex;
  grid-area: 1 / 1 / 3 / 3; //<row-start> / <column-start> / <row-end> / <column-end>
  height: auto;
  justify-content: center;
  object-fit: cover;
  position: relative;
  width: 100%;
  z-index: 5;
}

.videobox1 {
  align-items: center;
  background: #000;
  display: flex;
  grid-area: 3 / 1 / 4 / 2; //<row-start> / <column-start> / <row-end> / <column-end>
  height: auto;
  justify-content: center;
  object-fit: cover;
  position: relative;
  width: 100%;
  z-index: 5;
}

.videobox2 {
  align-items: center;
  background: #000;
  display: flex;
  grid-area: 3 / 2 / 4 / 3; //<row-start> / <column-start> / <row-end> / <column-end>
  height: auto;
  justify-content: center;
  object-fit: cover;
  position: relative;
  width: 100%;
  z-index: 5;
}

.videobox3 {
  align-items: center;
  // background-color: yellow;
  // grid-column: 3 / 4;
  // grid-row: 3 / 4;
  display: flex;
  grid-area: 3 / 3 / 4 / 4; //<row-start> / <column-start> / <row-end> / <column-end>
  height: auto;
  justify-content: center;
  object-fit: cover;
  position: relative;
  width: 100%;
  z-index: 5;
}

.videobox4 {
  align-items: center;
  background: #000;
  // grid-column: 3 / 4;
  // grid-row: 2 / 3;
  display: flex;
  grid-area: 2 / 3 / 3 / 4; //<row-start> / <column-start> / <row-end> / <column-end>
  height: auto;
  justify-content: center;
  object-fit: cover;
  position: relative;
  width: 100%;
  z-index: 5;
}

.videobox5 {
  align-items: center;
  // background-color: pink;
  // grid-column: 3 / 4;
  // grid-row: 1 / 2;
  display: flex;
  grid-area: 1 / 3 / 2 / 4; //<row-start> / <column-start> / <row-end> / <column-end>
  height: auto;
  justify-content: center;
  object-fit: cover;
  position: relative;
  width: 100%;
  z-index: 5;
}

.active-stream {
  background: #000;
  height: 100%;
  object-fit: cover !important;
  width: 100%;
}

.hide-stream {
  height: 1px;
  position: absolute;
  visibility: hidden;
  width: 1px;
}

.video-heading {
  background-color: rgba(245, 235, 225, 1) !important;
  bottom: 20px;
  left: 20px;
  opacity: 1;
  padding: 4px 10px;
  position: absolute;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
}

.video-heading-span {
  box-decoration-break: clone;
  box-decoration-break: clone;
  color: #000 !important;
  font-family: sans-serif !important;
  font-size: 17px;
  font-weight: bold;
  line-height: 160%;
  text-transform: capitalize;
  white-space: nowrap;
}

.back-button-stream {
  background-color: $elv-color-bg-dark;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  height: 30px;
  padding: $elv-spacing-xs;
  // margin-left: 3vw;
  // margin-top: 3rem;
  position: absolute;
  right: 30px;
  stroke: #fff;
  top: 30px;
  width: 5.5rem;
  z-index: 10000000000;

  &:hover {
    background-color: $elv-color-darkgray;
    // stroke: $elv-color-lightgray;
  }
}

.video-close {
  background-color: rgba(245, 235, 225, 1) !important;
  opacity: 1;
  padding: 2px 10px;
  position: absolute;
  right: 20px;
  top: 20px;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
  z-index: 1000;
}

.video-close-span {
  box-decoration-break: clone;
  box-decoration-break: clone;
  color: #000 !important;
  font-family: sans-serif !important;
  font-size: 17px;
  font-weight: bold;
  line-height: 180%;
  white-space: nowrap;
  // text-transform: uppercase;
}

// Styling for tabs

.MuiDrawer-paperAnchorDockedRight {
  border-left: 0 !important;
}

.MuiSvgIcon-root {
  font-size: 28px !important;
}

.MuiTabs-root {
  height: 75px !important;
}

.stream-info-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: auto;

  @media only screen and (max-width: 600px) {
    margin-left: 10px;
  }

  &__title {
    display: inline-block;
    font-family: sans-serif !important;
    font-family: Helvetica;
    font-family: Helvetica;
    font-size: 37.5px;
    font-style: normal;
    font-style: normal;
    font-weight: 700;
    font-weight: normal;
    font-weight: 300;
    font-weight: 300;
    letter-spacing: 0;
    letter-spacing: 0.05em;
    letter-spacing: 3px;
    line-height: 1;
    line-height: 100%;
    margin-bottom: 10px !important;
    margin-top: -0.65rem;
    text-align: left;
    // font-family: 'Poppins', sans-serif !important;
    text-align: left;

    @media only screen and (max-width: 900px) {
      font-size: 34px;
      height: auto;
      letter-spacing: 0;
      line-height: 100%;
      width: auto;
    }

    @media only screen and (max-width: 600px) {
      font-size: 24px;
    }
  }

  &__subtitle {
    // color: rgba(0, 0, 0,.7);
    // color: rgba(255, 255, 255, 0.7);

    display: inline-block;
    font-family: sans-serif !important;
    font-family: Helvetica;
    // font-family: 'Poppins', sans-serif !important;
    font-family: Helvetica;
    font-size: 27px;
    font-size: 20px;
    font-style: normal;
    font-style: normal;
    font-weight: normal;
    font-weight: normal;
    font-weight: 300;
    font-weight: 300;
    letter-spacing: 0.05em;
    letter-spacing: 1px;
    line-height: 1.75;
    line-height: 170%;
    margin: 10px 0 !important;
    margin-top: 10px !important;
    text-align: left;
    text-align: left;
    text-transform: uppercase;
    width: 100%;

    @media only screen and (max-width: 900px) {
      font-size: 22px;
      height: auto;
      letter-spacing: 0;
      line-height: 120%;
      margin-top: 20px !important;
      width: auto;
    }
  }
}

.sponsor-info-container {
  align-items: center;
  align-self: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  // margin:auto;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  justify-content: flex-end;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  max-height: 100px;
  // margin-top: 10px;
  //margin-right: 80px;
  opacity: 2 !important;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  user-select: none;
  width: auto;

  @media only screen and (max-width: 650px) {
    align-self: flex-start;
    height: 50%;
    width: 120px;
  }

  &__title {
    align-self: center;
    display: none;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    // font-weight: bold !important;
    // font-weight: 600;
    // // margin-bottom: 20px !important;
    // font-weight: bold !important;
    text-align: center !important;
  }

  &__img-container {
    align-self: center;
    display: flex;
    // flex: 0 1 auto;
    // align-items: flex-start;
    // justify-content: space-between;
    flex-direction: row;
    height: 100%;
    justify-content: flex-end;
    overflow: hidden;

    @media only screen and (max-width: 750px) {
      display: none;
    }
  }
}

.stream-sponsor-img {
  align-self: center;
  height: 70%;
  max-height: 80px;
  object-fit: contain;
  overflow: hidden;
  padding: 0 5px;
  width: auto;

  // margin-top: -40px;
  width: auto;
}

.stream-chat-signup-light {
  align-items: center;
  background: rgba(255, 255, 255, 0.425);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  // background-color: rgba(245, 235, 225, 0.3) !important;
  height: 100px !important;
  justify-content: center;
  position: relative;
  width: 450px !important;
  z-index: 1;
}

.stream-chat-signup-dark {
  align-items: center;
  background: rgba(255, 255, 255, 0.03) !important;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.34);
  display: flex;
  height: 100px !important;
  justify-content: center;
  width: 450px !important;
}

.stream-chat-form {
  position: relative;
  // margin-bottom: 8px;
  input {
    appearance: none;
    appearance: none;
    appearance: none;
    backdrop-filter: saturate(1.8) blur(20px);
    backdrop-filter: saturate(1.8) blur(20px);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(37, 37, 37, 0.12), 0 2px 5px rgba(37, 37, 37, 0.12), 0 0 1px rgba(37, 37, 37, 0.12);
    color: rgb(0, 0, 0);
    cursor: text;
    display: inline-block;
    font-size: 2.2rem;
    font-size: 17px;
    height: 45px;
    padding: 0 20px;
    -webkit-rtl-ordering: logical;
    text-rendering: auto;
    text-transform: none;
    transition: all 0.125s ease 0s;
    vertical-align: top;
    width: 100%;
    word-spacing: normal;

    @media only screen and (max-width: 415px) {
      font-size: 2rem;
      width: 280px;
    }

    &::placeholder {
      // font-variant: all-small-caps;
      color: rgba(0, 0, 0, 0.801);
    }
  }
}

.enter-chat-button {
  align-items: center;
  align-self: center;
  appearance: none;
  appearance: none;
  appearance: none;
  background-color: rgb(255, 255, 255);
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(37, 37, 37, 0.12), 0 2px 5px rgba(37, 37, 37, 0.12), 0 0 1px rgba(37, 37, 37, 0.12);
  color: #000;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  font-size: 15px;
  // transition: background .2s ease,box-shadow .2s ease;
  font-weight: 900;
  height: 45px;
  justify-content: center;
  letter-spacing: 1px;
  margin-left: 20px;
  max-width: 100%;
  outline: none;
  padding: 1rem;
  padding: 10px 5px;
  text-align: center;
  text-align: center;
  text-decoration: none;
  width: 150px;
}
