.stream-nav {
  display: flex;
  flex-direction: row;
  height: 75px;
  justify-content: space-between;
  width: 100% !important;
  z-index: 500000;

  &__logo {
    height: 22px;
    margin-bottom: 25px;
    margin-left: 6px;
    margin-top: 26.5px;
    position: absolute;
    user-select: none;
    width: auto;
  }

  &__title {
    color: #000;
    font-size: 34px;
    letter-spacing: 0;
    line-height: 100%;
    margin-bottom: 22px;
    margin-left: 6px;
    margin-top: 22px !important;
    user-select: none;
    width: 100%;
  }

  &__button-grp {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    margin-right: 15px;
    width: auto;

    svg {
      fill: black;
    }
  }

  &__button-grp2 {
    margin-right: 10px;

    @media only screen and (max-width: 1000px) {
      display: none;
    }
  }

  &__dropdown {
    color: #000 !important;
    height: 32.5px;
    margin-bottom: 21.25px;
    margin-right: 30px;
    margin-top: 21.25px;
    width: 170px;
  }
}

.stream-root {
  -ms-overflow-style: -ms-autohiding-scrollbar !important;
  overflow-y: hidden;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    background-color: transparent;
    display: none !important;
    height: 0 !important;
    width: 0 !important;
  }

  &::-webkit-scrollbar-thumb {
    display: none !important;
  }
}

.stream-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: calc(100% - 75px);
  width: 100%;

  ::-webkit-scrollbar {
    background-color: transparent;
    display: none; // Safari and Chrome
  }

  &__streamBox {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: calc(100vh - 175px) 100px;
    height: 100%;
    overflow: hidden !important;
    width: 100%;

    @media only screen and (max-width: 500px) {
      grid-template-rows: calc(100vh - 275px) 200px;
      height: calc(100vh - 75px);
    }

    &--videoBox {
      background: #000;
      grid-column: 1;
      grid-row: 1 / 2;
      height: calc(100vh - 175px);

      @media only screen and (max-width: 500px) {
        height: calc(100vh - 275px);
      }
    }

    &--video {
      background: #000;
      height: 100%;
      left: 0;
      object-fit: cover !important;
      position: relative;
      top: 0;
      width: 100%;
    }

    &--info {
      background-color: white;
      display: grid;
      grid-template-columns: 75% 25%;
      height: 100%;
      justify-content: space-between;
      padding: 0 30px;
      user-select: none;
      width: 100%;

      @media only screen and (max-width: 600px) {
        grid-template-columns: 100%;
        padding: 0 10px;
      }
    }
  }

  &__tabs {
    background-color: #000;
    height: 100%;
    width: 100%;

    &--bottom {
      height: calc(100% - 75px);
      width: 100%;
    }

    &--bottom2 {
      height: auto !important;
      width: 100% !important;
    }

    &--chat {
      height: 100%;
      width: 100%;
    }

    &--wall {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 15% 85%;
      height: 100%;
      width: 100%;
    }

    &--fanHeading {
      align-items: center;
      color: #fff;
      display: flex;
      flex-direction: column;
      grid-column: 1;
      height: 100%;
      justify-content: space-evenly;
      width: 100%;

      &--fanTitle {
        color: #fff;
        display: inline-block;
        font-size: 27px;
        font-size: bold !important;
        height: auto;
        line-height: 4rem;
        margin-bottom: 5px;
        padding-bottom: 0;
        text-align: center !important;
        text-transform: uppercase;
        width: auto;
      }
    }

    &--fan {
      background-color: #008000;
      height: 100%;
      width: 100%;
    }

    &--twilio {
      background-color: #000;
      height: 100%;
      width: 100%;
    }
  }
}

.stream-container ::-webkit-scrollbar {
  display: none;
  overflow: hidden !important;
}

.feedGrid {
  height: 100%;
  position: relative;
  width: 100%;

  & > video {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

// Styling for tabs

.MuiDrawer-paperAnchorDockedRight {
  border-left: 0 !important;
}

.MuiSvgIcon-root {
  font-size: 28px !important;
}

.MuiTabs-root {
  height: 75px !important;
}

.stream-info-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: auto;
  text-align: left;

  @media only screen and (max-width: 600px) {
    margin-left: 10px;
  }

  &__title {
    display: inline-block;
    font-family: sans-serif !important;
    font-size: 37.5px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 3px;
    line-height: 1;
    line-height: 100%;
    margin-bottom: 10px !important;
    margin-top: -0.65rem;

    @media only screen and (max-width: 900px) {
      font-size: 34px;
      height: auto;
      letter-spacing: 0;
      line-height: 100%;
      width: auto;
    }

    @media only screen and (max-width: 600px) {
      font-size: 24px;
    }
  }

  &__subtitle {
    display: inline-block;
    font-family: sans-serif !important;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 170%;
    margin: 10px 0 !important;
    margin-top: 10px !important;
    text-transform: uppercase;
    width: 100%;

    @media only screen and (max-width: 900px) {
      font-size: 22px;
      height: auto;
      letter-spacing: 0;
      line-height: 120%;
      margin-top: 20px !important;
      width: auto;
    }
  }
}

.sponsor-info-container {
  align-items: center;
  align-self: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  justify-content: flex-end;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  max-height: 100px;
  opacity: 2 !important;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  user-select: none;
  width: auto;

  @media only screen and (max-width: 650px) {
    align-self: flex-start;
    height: 50%;
    width: 120px;
  }

  &__img-container {
    align-self: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-end;
    overflow: hidden;

    @media only screen and (max-width: 750px) {
      display: none;
    }
  }
}

.stream-sponsor-img {
  align-self: center;
  height: 70%;
  max-height: 80px;
  object-fit: contain;
  overflow: hidden;
  padding: 0 5px;
  width: auto;
}

.stream-chat-signup-light {
  align-items: center;
  background: rgba(255, 255, 255, 0.425);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  height: 100px !important;
  justify-content: center;
  position: relative;
  width: 450px !important;
  z-index: 1;
}

.stream-chat-signup-dark {
  align-items: center;
  background: rgba(255, 255, 255, 0.03) !important;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.34);
  display: flex;
  height: 100px !important;
  justify-content: center;
  width: 450px !important;
}

.stream-chat-form {
  position: relative;
  input {
    appearance: none;
    backdrop-filter: saturate(1.8) blur(20px);
    backdrop-filter: saturate(1.8) blur(20px);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(37, 37, 37, 0.12), 0 2px 5px rgba(37, 37, 37, 0.12), 0 0 1px rgba(37, 37, 37, 0.12);
    color: rgb(0, 0, 0);
    cursor: text;
    display: inline-block;
    font-size: 2.2rem;
    font-size: 17px;
    height: 45px;
    padding: 0 20px;
    -webkit-rtl-ordering: logical;
    text-rendering: auto;
    text-transform: none;
    transition: all 0.125s ease 0s;
    vertical-align: top;
    width: 100%;
    word-spacing: normal;

    @media only screen and (max-width: 415px) {
      font-size: 2rem;
      width: 280px;
    }

    &::placeholder {
      color: rgba(0, 0, 0, 0.801);
    }
  }
}

.enter-chat-button {
  align-items: center;
  align-self: center;
  appearance: none;
  background-color: rgb(255, 255, 255);
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(37, 37, 37, 0.12), 0 2px 5px rgba(37, 37, 37, 0.12), 0 0 1px rgba(37, 37, 37, 0.12);
  color: #000;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 900;
  height: 45px;
  justify-content: center;
  letter-spacing: 1px;
  margin-left: 20px;
  max-width: 100%;
  outline: none;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  width: 150px;
}
