.tenant {
  &__footer {
    width: 100%;

    &__border {
      background: $black;
      height: 1px;
      margin: 20px 0;
      width: 100%;
    }

    &__message {
      align-items: center;
      display: flex;
      font-size: 20px;
      font-weight: 300;
      height: 30px;
      justify-content: center;
      margin: 10px 0 30px;

      &__image {
        height: 20px;
        margin: 0 0 5px 10px;
        max-height: 20px;

        svg {
          height: 100%;
          width: auto;
        }
      }
    }

    &__links {
      color: #555;
      display: flex;
      font-size: 16px;
      justify-content: center;
      width: 100%;

      &__copyright {
        margin-right: 10px;
      }
    }

    &__link {
      color: #555;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      margin: 0 10px;

      button {
        color: #555;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media screen and (width <= 900px) {
    &__footer {
      &__links {
        flex-wrap: wrap;
        margin-bottom: 30px;

        &__copyright {
          display: block;
          margin-bottom: 10px;
          text-align: center;
          width: 100%;
        }
      }

      &__link {
        font-size: 14px;
      }
    }
  }
}
