/* Compacta */
@font-face {
  font-family: 'Compacta Black BT';
  font-style: normal;
  font-weight: 400;
  src: url('./files/CompactaBlackBT.woff2') format('woff2'),
    url('./files/CompactaBlackBT.woff') format('woff'),
    url('./files/CompactaBlackBT.ttf') format('truetype');
}


:root { font-family: 'Compacta Black BT', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Compacta Black BT', sans-serif; }
}

body {
  font-family: 'Compacta Black BT', sans-serif;
}

body * {
  font-family: 'Compacta Black BT', sans-serif;
}
