@font-face {
  font-family: "Selawik var";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("files/Selawik-variable.ttf") format("ttf");
  font-named-instance: "Regular";
}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
  font-family: 'Selawik var', sans-serif;
}
