@font-face {
  font-display: swap;
  font-family: 'Selawik var';
  font-named-instance: 'Regular';
  font-style: normal;
  font-weight: 100 900;
  src: url('files/Selawik-variable.ttf') format('ttf');
}

:root { font-family: Selawik, sans-serif; }

@supports (font-variation-settings: normal) {
  :root { font-family: 'Selawik var', sans-serif; }
}

body {
  font-family: 'Selawik var', sans-serif;
}

body * {
  font-family: 'Selawik var', sans-serif;
}
