.featured-events {
  background: black;
  height: calc(100vw * 9 / 16);
  max-height: 100vh;
  position: relative;
  width: 100%;
  min-height: 60vh;

  .arrow-right,
  .arrow-left {
    bottom: 100px;
  }

  .arrow-right {
    right: 100px;
  }

  .arrow-left {
    left: 80px;
  }

  @media only screen and (max-width: 900px) {
    .arrow-left,
    .arrow-right {
      bottom: 75px;
    }

    .arrow-left {
      left: 10px;
    }

    .arrow-right {
      right: 10px;
    }
  }
}

.featured-event {
  animation: fadein 0.35s linear;
  display: none;
  height: 100%;
  position: relative;
  user-select: none;
  width: 100%;

  &.featured-event-selected {
    display: block;
    z-index: 9;
  }

  &.featured-event-fading-out {
    animation: fadeout 0.35s linear;
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 10;

    .featured-event__details {
      display: none;
    }
  }

  &__hero-image-container,
  &__hero-image {
    height: 100%;
    min-height: 60vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover !important;
  }

  &__hero-image-container {
    &::after {
      background: linear-gradient(180deg, rgba(125, 125, 125, 0) 62.58%, black);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      min-height: 60vh;

    }
  }

  &__hero-image {
    object-fit: cover;
    object-position: top;
  }

  &__details {
    animation: fadein 1.25s ease-in;
    bottom: 0;
    margin-bottom: 100px;
    padding: 0 20px;
    position: absolute;
    width: 100%;
    z-index: 100;
  }

  &__header,
  &__subheader {
    color: white;
    font-size: 56px;
    font-weight: 300;
    letter-spacing: 0.3em;
    text-align: center;
    text-transform: uppercase;
  }

  &__subheader {
    font-size: 32px;
    font-weight: 200;
    margin-top: 10px;
  }

  @media only screen and (max-width: 900px) {
    &__header {
      font-size: 24px;
      font-weight: 300;
    }

    &__subheader {
      color: #eee;
      font-size: 14px;
      font-weight: 300;
      margin: 0;
    }

    &__details {
      margin-bottom: -10px;
      padding-bottom: 0;
    }
  }
}
