.feature-block {
  margin-bottom: 100px;
  padding: 50px 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;

  &:first-child {
    .arrow-up {
      * {
        stroke: rgba(255, 255, 255, 0.3)!important;
      }
    }
  }

  &:last-child {
    .arrow-down {
      display: none;
    }
  }

  * {
    text-align: center;
    font-weight: 300;
  }

  &__image-container,
  &__text-container,
  &__actions {
    flex: 1 1 auto;
  }

  &__image-container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    max-height: 100%;

    .promo-player,
    img {
      max-height: calc(100vh - 550px);
      margin: 0 auto;
    }

    .promo-player {
      max-height: calc(100vh - 550px);
      min-height: calc(100vh - 550px);
      min-width: calc((100vh - 550px) * 8 / 16);
      max-width: calc((100vh - 550px) * 16 / 9);
    }
  }

  &__header,
  &__subheader,
  &__text {
    max-width: 800px;
    width: 100%;
  }

  &__header {
    font-size: 64px;
    margin: 25px auto;

    &:first-child {
      // Override semantic UI reset
      margin-top: 25px;
    }
  }

  &__subheader {
    font-size: 36px;
    margin: 0 auto 30px;
  }

  &__text {
    font-size: 24px;
    margin: 0 auto 20px;
  }

  &__actions {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  &__action {
    border: 1px solid black;
    background-color: transparent;
    font-size: 16px;
    width: 180px;
    height: 42px;
    cursor: pointer;
  }

  // Variants

  &-directly_to_fans {
    .feature-block__image-container {
      max-width: 1200px;
    }
  }

  &-retain_control {
    .feature-block__image-container {
      max-width: 680px
    }
  }

  &-push_boundaries {
    .feature-block__image-container {
      max-width: 1200px
    }
  }

  &-remonetize_endlessly {
    .feature-block__image-container {
      max-width: 1300px
    }
  }

  @media only screen and (max-width: 900px) {
    padding: 0 25px;

    &__header {
      font-size: 36px;
      margin-bottom: 20px;
    }

    &__subheader {
      font-size: 24px;
      margin-bottom: 30px;
    }

    &__text {
      font-size: 18px;
      margin-bottom: 40px;
    }
  }
}
