$block-spacing: 100px;
$item-spacing: 25px;

.feature-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: $block-spacing 0;
  max-height: 100%;
  padding: 0 50px 0;

  &:first-child {
    margin-top: 0;

    .arrow-up {
      * {
        stroke: rgba(255, 255, 255, 0.3) !important;
      }
    }
  }

  &:last-child {
    margin-bottom: 150px;
  }

  &:last-child {
    .arrow-down {
      display: none;
    }
  }

  * {
    font-weight: 300;
    text-align: center;
  }

  &__text-container,
  &__actions {
    flex: 1 1 auto;
  }

  &__image-container {
    align-items: flex-end;
    display: flex;
    flex: 1 1 auto;
    max-height: 100%;
    width: 100%;
    position: relative;
    margin-bottom: $block-spacing;

    img {
      margin: 0 auto;
      object-fit: contain;
      max-height: calc(100vh - 450px);
    }
  }

  &__attribution {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: #666;
    font-weight: 200;
    bottom: -20px;
    font-style: italic;
  }

  &__video {
    margin: 0 auto;
    position: relative;
    background-color: black;
    height: 100%;
    width: 100%;
    max-height: calc(100vh - 450px);
    max-width: calc((100vh - 450px) * 16 / 9);
    min-height: calc(100vh - 450px);
    min-width: calc((100vh - 450px) * 16 / 9);

    @media only screen and (orientation: portrait) {
      max-height: calc((100vw - 100px) * 9 / 16);
      max-width: calc(100vw - 100px);
      min-height: calc((100vw - 100px) * 9 / 16);
      min-width: calc(100vw - 100px);
    }
  }

  &__text-container {
    margin-bottom: $item-spacing;
  }

  &__header,
  &__subheader,
  &__text {
    max-width: 800px;
    width: 100%;
    margin: 0 auto $item-spacing;
  }

  &__header {
    font-size: 64px;
  }

  &__subheader {
    font-size: 36px;
  }

  &__text {
    font-size: 24px;
  }

  &__actions {
    display: flex;
    justify-content: center;
  }

  &__action {
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    height: 42px;
    width: 180px;
    transition: background-color 0.08s linear, color 0.08s linear;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  @media only screen and (max-width: 900px) {
    padding: 0 20px;

    &__header {
      font-size: 36px;
    }

    &__subheader {
      font-size: 24px;
    }

    &__text {
      font-size: 18px;
    }

    &__attribution {
      font-size: 8px;
      color: #333;
      font-weight: 300;
      bottom: -16px;
    }

    .feature-block__video {
      max-height: calc((100vw - 30px) * 9 / 16);
      max-width: calc(100vw - 30px);
      min-height: calc((100vw - 30px) * 9 / 16);
      min-width: calc(100vw - 30px);

      @media only screen and (orientation: landscape) {
        max-height: calc((100vw - 100px) * 9 / 16);
        max-width: calc(100vw - 100px);
        min-height: calc((100vw - 100px) * 9 / 16);
        min-width: calc(100vw - 100px);
      }
    }
  }
}
