.featured-events {
  width: 100%;
  height: calc(100vw * 9 / 16);
  max-height: 100vh;
  background: black;
  position: relative;
}

.featured-event {
  animation: fadein 0.35s linear;
  user-select: none;
  position: relative;
  width: 100%;
  height: 100%;
  display: none;

  &.featured-event-selected {
    display: block;
    z-index: 9;
  }

  &.featured-event-fading-out {
    opacity: 0;
    animation: fadeout 0.35s linear;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;

    .featured-event__details {
      display: none;
    }
  }

  &__hero-image-container,
  &__hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__hero-image-container {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(125, 125, 125, 0) 62.58%, black);
    }
  }

  &__hero-image {
    object-fit: cover;
    object-position: top;
  }

  &__details {
    animation: fadein 1.25s ease-in;
    z-index: 100;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 100px;
  }

  &__header,
  &__subheader {
    letter-spacing: 0.3em;
    font-size: 56px;
    font-weight: 300;
    color: white;
    text-align: center;
    text-transform: uppercase;
  }

  &__subheader {
    font-size: 32px;
    margin-top: 10px;
    font-weight: 200;
  }

  @media only screen and (max-width: 900px) {
    &__header {
      font-weight: 300;
      font-size: 24px;
    }

    &__subheader {
      font-size: 14px;
      font-weight: 300;
      margin: 0;
      color: #eee;
    }

    &__details {
      padding-bottom: 0;
      margin-bottom: -10px;
    }
  }
}
