.footer {
  &__logo-container {
    display: flex;
    justify-content: center;
    height: 100px;

    svg {
      * {
        fill: black;
        stroke: transparent;
      }
    }
  }

  &__logo {
    fill: black;
    height: auto;
    stroke: black;
    width: 191px;
  }

  &__links {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    margin: 52px 163px 0;
    padding: 25px 0 50px;
  }

  &__link {
    font-size: 16px;
    letter-spacing: 0.07em;
    padding: 0 56px;
  }

  &__social {
    width: 400px;
    margin: 0 auto 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    svg {
      height: 20px;
      width: 20px;
    }
  }

  &__attributions,
  &__copyright {
    width: 100%;
    text-align: center;
    margin: 30px 0 20px;
    font-weight: 300;
    color: #999;
    font-size: 12px;
  }

  &__copyright {
    margin-top: 0;
  }

  // Footer
  @media only screen and (max-width: 900px) {
    &__logo {
      width: 110px;
    }

    &__logo-container {
      border-bottom: 1px solid black;
    }

    &__links {
      border: 0;
      justify-content: space-between;
      margin: 0 35px;
      padding-bottom: 25px;
    }

    &__link {
      font-size: 11px;
      padding: 0;
    }

    &__social {
      width: 250px;

      svg {
        height: 18px;
        width: 18px;
      }
    }
  }
}
