.header {
  align-items: center;
  background: transparent;
  border-bottom: 1px solid black;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  &.header-scrolled {
    background-color: rgba(255, 255, 255, 0.8);
  }

  & > * {
    flex: 0 1 auto;
  }

  &,
  * {
    transition: background-color 1s linear, color 0.5s linear, border 0.5s linear, stroke 0.5s linear, fill 0.5s linear;
    user-select: none;
  }

  &__logo {
    align-items: center;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    max-width: min-content;

    svg {
      height: 26px;
      width: auto;

      * {
        fill: black;
        stroke: transparent;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    min-width: 350px;

  }

  &__link {
    font-size: 18px;
    &-active {
      font-weight: bold;
    }
  }


  &__search {
    display: flex;
    font-size: 14px;
    justify-content: center;
    letter-spacing: 0.07em;
  }

  // Header is white on main page
  &.header-main {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: white;

    &.header-scrolled {
      background-color: rgba(0, 0, 0, 0.5);
      border-bottom: 1px solid transparent;
    }

    .header__link {
      color: white;

      &:hover {
        color: white;
      }
    }

    svg {
      * {
        fill: white;
      }
    }
  }

  @media only screen and (max-width: 900px) {
    padding: 0 25px 0 15px;

    &__logo {
      padding: 0;

      svg {
        // width: 90px;
        height: 20px;
        // max-width: min-content;
      }
    }

    &__links {
      padding-top: 0;
      max-width: 300px;
      min-width: 250px;

    }

    &__link {
      font-size: 14px;
    }

    &__search {
      display: none;
    }
  }

  @media only screen and (max-width: 500px) {
    height: 40px;

    &__logo {
      padding-right: 10px;
      height: auto;

      svg {
        height: 14px;
      }
    }

    &__links {
      height: 14px;
      padding-top: 0;
      align-items: center;
      width: 100%;
      max-width: 200px;
      min-width: 0;
    }

    &__link {
      font-size: 10px;
    }
  }
}
