.main-header {
  align-items: center;
  background: transparent;
  border-bottom: 1px solid $black;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 100px;
  position: fixed;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 100;

  &.header-scrolled {
    background-color: rgba(255, 255, 255, 0.8);
  }

  & > * {
    flex: 0 1 auto;
    user-select: none;
  }

  &,
  * {
    transition: background-color 1s linear, color 0.5s linear, border 0.5s linear, stroke 0.5s linear, fill 0.5s linear;
  }

  &__logo {
    align-items: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 40px;
    max-width: min-content;

    svg {
      height: 26px;
      width: auto;

      * {
        fill: $black;
        stroke: transparent;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
  }

  &__link {
    font-size: 18px;

    &-active {
      font-weight: bold;
    }
  }

  &__search {
    display: flex;
    font-size: 14px;
    justify-content: center;
    letter-spacing: 0.07em;
  }

  // Header is $white on main page
  &.header-main {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: $white;

    &.header-scrolled {
      background-color: rgba(0, 0, 0, 0.5);
      border-bottom: 1px solid transparent;
    }

    .main-header__link {
      color: $white;

      &:hover {
        color: $white;
      }
    }

    svg {
      * {
        fill: $white;
      }
    }
  }

  @media only screen and (max-width: 900px) {
    height: 40px;
    padding: 0 25px 0 15px;

    &__logo {
      padding: 0;

      svg {
        height: 20px;
      }
    }

    &__links {
      max-width: 400px;
      min-width: 400px;
    }

    &__link {
      font-size: 14px;
    }

    &__search {
      display: none;
    }
  }

  @media only screen and (max-width: 600px) {
    height: 40px;

    &__logo {
      height: auto;
      padding-right: 10px;

      svg {
        height: 13px;
      }
    }

    &__links {
      align-items: center;
      height: 14px;
      max-width: 225px;
      min-width: 225px;
      padding-top: 0;
      width: 100%;
    }

    &__link {
      font-size: 9px;
    }
  }
}
