.markdown-document {
  h2 {
    font-size: 22px;
    text-align: center;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
    margin-bottom: 0;
    text-decoration: underline;
  }

  h5 {
    text-align: center;
  }

  p {
    font-size: 16px;
    margin: 15px 0;
  }

  a {
    color: #1b73e8;

    &:hover {
      color: #1b73e8;
    }
  }
}
