.event-nav {
  background-color: transparent;
  height: 8rem;
  position: absolute;
  width: 100%;

  &__container {
    align-items: center;
    display: flex;
    height: 8rem;
    justify-content: flex-start;
 
    &--logo { 
       height: 4rem;
       margin-left: 12.5vw;
       margin-top: 3rem;
       width: auto;
    }
  }
}


.event-container {
  background-image: linear-gradient(to right bottom, rgb(4, 6, 34), #000000);
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;

  &__info {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    &__title {
      color: #fff;
      // display: inline-block;
      font-size: 2em;
      font-weight: 600;
      line-height: 4rem;
      margin-bottom: 8rem; 
      margin-top: 8rem;
      text-align: center !important;
      @media only screen and (max-width: $bp-small) {
        font-size: 30px;
        margin-bottom: 6rem; 
        margin-top: 6rem;
      }
      @media only screen and (max-width: $bp-tiny-2) {
        font-size: 28px;
      }
      @media only screen and (max-width: 415px) {
        font-size: 26px;
      }
    }

    &__schedule {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center !important;
      margin-bottom: 10rem;
      width: 100%;
      
      &__post {
        background-color: rgb(48, 47, 47);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        height: 80px;
        justify-content: space-around;
        margin-bottom: 20px;
        width: 60%;

        @media only screen and (max-width: $bp-large-3) {
          width: 75%;
        }
        @media only screen and (max-width: $bp-large-2) {
          width: 85%;
        }
        @media only screen and (max-width: $bp-large) {
          width: 90%;
        }

        @media only screen and (max-width: $bp-medium) {
          flex-direction: column;
          height: 220px;
          align-items: center;
          justify-content: space-evenly;
          width: 60%;
        }
        @media only screen and (max-width: $bp-small-3) {
          width: 90%;
        }



        &__detail {
          color: #fff !important;
          font-size: 20px;
          font-weight: 500;
          margin-top: 25px !important;
          @media only screen and (max-width: $bp-small) {
            font-size: 19px;
          }
          @media only screen and (max-width: $bp-tiny-2) {
            font-size: 18px;
          }
        }
      }
      &__ticket {
        background-color: rgb(37, 36, 36);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        justify-content: center;
        margin-top: 20px;
        width: auto;
        padding: 35px 70px;

        // @media only screen and (max-width: $bp-large-3) {
        //   width: 75%;
        // }
        // @media only screen and (max-width: $bp-large-2) {
        //   width: 85%;
        // }
        // @media only screen and (max-width: $bp-large) {
        //   width: 90%;
        // }

        // @media only screen and (max-width: $bp-medium) {
        //   flex-direction: column;
        //   height: 220px;
        //   align-items: center;
        //   justify-content: space-evenly;
        //   width: 60%;
        // }
        // @media only screen and (max-width: $bp-small-3) {
        //   width: 90%;
        // }
        &__ticketdetail {
          color: white !important;
          font-size: 40px !important;
          font-weight: 800 !important;
          text-align: center !important;
          line-height: 3rem;
          margin-top: 25px !important;
          margin-bottom: 15px !important;
          // text-decoration: underline;
          @media only screen and (max-width: $bp-small) {
            font-size: 25px;
          }
          @media only screen and (max-width: $bp-tiny-2) {
            font-size: 20px;
          }
        }



        &__ticketdetail2 {
          background-color: white;
          color: black !important;
          border-radius: 10px;
          width: auto;
          height:auto;
          padding: 17.5px 22.5px;

          font-size: 35px !important;
          font-weight: 800 !important;
          text-align: center !important;
          line-height: 3rem;
          margin-top: 25px !important;
          margin-bottom: 75px !important;
          @media only screen and (max-width: $bp-small) {
            font-size: 20px;
          }
          @media only screen and (max-width: $bp-tiny-2) {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.btn3, .btn3:link, .btn3:visited {
  border: 0;
  border-radius: 100px !important;
  color: #000;
  cursor: pointer; 
  display: inline-block;
  font-size: 16px !important;
  font-weight: 600 !important;

  height: 50px !important;
  margin-top: 0;
  margin-top: 15px !important;
  padding: 12.5px 20px !important;
  /* margin: auto; */
  position: relative;
  text-align: center; 
  transition: all .2s;
  width: 150px !important;
}

// .btn3:hover {
//   transform: translateY(-3px);
//   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

// .btn3:hover::after {
//   transform: scaleX(1.4) scaleY(1.6);
//   opacity: 0; }

// .btn3:active, .btn3:focus {
//   outline: none;
//   transform: translateY(-1px);
//   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

// .btn3::after {
//   content: "";
//   display: inline-block;
//   height: 100%;
//   width: 100%;
//   border-radius: 100px;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   transition: all .4s; }

// .btn3--animated {
//   animation: moveInBottom .5s ease-out .75s;
//   animation-fill-mode: backwards; }

// .btn3-text:link, .btn3-text:visited {
//   font-size: 16px;
//   color: #55c57a;
//   display: inline-block;
//   text-decoration: none;
//   border-bottom: 1px solid #55c57a;
//   padding: 3px;
//   transition: all .2s; }

// .btn3-text:hover {
//   background-color: #55c57a;
//   color: #fff;
//   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
//   transform: translateY(-2px); }

// .btn3-text:active {
//   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
//   transform: translateY(0); }

// .btn3--white {
//   background-color: #fff;
//   color: black; }
