.event-nav {
  background-color: transparent;
  height: 8rem;
  position: absolute;
  width: 100%;
  z-index: 9999999;

  &__container {
    align-items: center;
    display: flex;
    height: 8rem;
    justify-content: flex-start;
 
    &--logo { 
       height: 4rem;
       margin-left: 12.5vw;
       margin-top: 3rem;
       width: auto;
    }

  }
}


.event-container {
  background-color: transparent;
  // background-image: linear-gradient(to bottom, #040622 38%,#000 55%,  #000 100%);
  // linear-gradient(to bottom, ${backgroundColor1} 75%, ${backgroundColor3} 80%, ${backgroundColor4} 85%, ${backgroundColor5}  87%, ${backgroundColor6} 90%, ${backgroundColor} 100%), url(${thumbnail})
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  overflow: auto;

  &__info {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    &__title {
      color: var(--pText);
      // display: inline-block;
      font-size: 36px;
      font-weight: bold;
      text-transform: capitalize;
      letter-spacing: 2px;
      text-shadow: white 0px 0px 1px;

      line-height: 4rem;
      margin-bottom: 8rem; 
      margin-top: 8rem;
      text-align: center !important;
      @media only screen and (max-width: $bp-small) {
        font-size: 30px;
        margin-bottom: 6rem; 
        margin-top: 6rem;
      }
      @media only screen and (max-width: $bp-tiny-2) {
        font-size: 28px;
      }
      @media only screen and (max-width: 415px) {
        font-size: 26px;
      }
    }
    &__h1Props {
      font-size: 70px !important;
      color: white;
      text-shadow: white 0px 0px 3px;
      // text-transform: uppercase;
      letter-spacing: 3px !important;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10+ and Edge */
      user-select: none; /* Standard syntax */
      margin: auto;
      padding-top: 8rem;
      white-space: pre-wrap;
      font-weight: bold;
      width: 100%;
      text-align: left;
      line-height: 60px;
      margin-bottom: 12px;
      @media only screen and (max-width: 1200px) {
        font-size: 60px !important;
        line-height: 50px;

      }
      @media only screen and (max-width: 1000px) {
          font-size: 55px !important;
          line-height: 45px;

      }
      @media only screen and (max-width: 800px) {
          font-size: 50px !important;
          line-height: 40px;

      }
      
      &__desc {
        font-size: 35px !important;
        color: white;
        text-shadow: white 0px 0px 3px;
        letter-spacing: 0px !important;
        font-weight: 600;
        @media only screen and (max-width: 1200px) {
          font-size: 30px !important;
        }
        @media only screen and (max-width: 1000px) {
            font-size: 28px !important;
        }
        @media only screen and (max-width: 800px) {
            font-size: 24px !important;
        }
      }  
    }
  
    &__synopsis {
      color: white;
      text-align: left;
      margin-top: 30px;
      // margin-left: 50px;
      margin-right: 15%;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10+ and Edge */
      user-select: none; /* Standard syntax */
      font-weight: 500;
      font-size: 22px;
    }
    &__music {
      margin: auto;
      margin-top: 50px;

    }
    &__ticketGroup {

      display: flex;
      flex-direction: row;
      height: auto;
      width: 100%;
      padding-top: 50px;
      // padding-bottom: 25px;
      // margin-top: 30px;

      // margin-bottom: 20px;
      // width: 600px;
      @media only screen and (max-width: 1680px) {
        flex-direction: column;
      }
      
    }
    &__photo {
      width: 380px;
      height: auto;
      margin: auto;
      margin-top: 90px;
    }
    &__photo2 {
      width: auto;
      height: 400px;
      margin: auto;
      margin-top: 90px;
    }
    &__ticketDetail {
      margin: auto;
      color: white;
      text-align: center;
      background-color: rgb(27, 27, 27);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      height: 325px;
      padding-top: 25px;
      padding-bottom: 25px;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 600px;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10+ and Edge */
      user-select: none; /* Standard syntax */
      
    }
    &__ticketDetail2 {
      color: white;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 25px;
      font-size: 35px !important;
      color: white;
      text-shadow: white 0px 0px 2px;
      letter-spacing: 0px !important;
      font-weight: 600;
      text-transform: uppercase;

    }
    &__ticketDetail3 {
      display: flex;
      flex-direction: column;
      list-style: outside !important;
      justify-content: center;
      height: 100px;
      list-style-position: outside !important;
      margin-bottom: 15px !important;
    }
    &__ticketDetail4 {
      text-shadow: white 0px 0px 1px;

      // text-transform: uppercase;
      color: white;
      text-align: left;
      margin-top: 5px;
      margin-left: 60px;
      font-size: 20px;
      display: flex;
      margin-right: 60px;
      flex-direction: column;
      list-style-position: outside !important;
    }
    &__ticketBTN {
      margin-top: 15px !important;
    }

    &__schedule {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center !important;
      margin-bottom: 10rem;
      width: 100%;
      
      &__post {
        background-color: rgb(48, 47, 47);
        border-radius: 10px;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-around;
        display: grid;
        grid-template-columns: 0% [date-start] 37.5% [date-end info-start] 37.5% [info-end button-start] 10% ;
        grid-column-gap: 30px;

        height: 80px;
        margin-bottom: 20px;
        width: 85%;

        // @media only screen and (max-width: $bp-large-3) {
        //   width: 75%;
        // }
        @media only screen and (max-width: $bp-large-2) {
          width: 100%;
        }
        // @media only screen and (max-width: $bp-large) {
        //   width: 90%;
        // }

        @media only screen and (max-width: $bp-medium) {
          display: flex;
          flex-direction: column;
          height: 220px;
          align-items: center;
          justify-content: space-evenly;
          width: 80%;
        }
        @media only screen and (max-width: $bp-small-3) {
          width: 90%;
        }



        &__detail {
          color: var(--pText) !important;
          font-size: 20px;
          font-weight: bold;
          margin-top: 25px !important;
          // text-transform: uppercase;
          grid-column: date-start / date-end;

          @media only screen and (max-width: $bp-small) {
            font-size: 19px;
            margin-left: 20px;
            margin-right: 20px;

          }
          @media only screen and (max-width: $bp-tiny-2) {
            font-size: 18px;
          }
        }
        &__info {
          color: var(--pText) !important;
          font-size: 20px;
          font-weight: bold;
          margin-top: 25px !important;
          // text-transform: uppercase;
          grid-column: info-start / info-end;

          @media only screen and (max-width: $bp-small) {
            font-size: 19px;
            margin-left: 20px;
            margin-right: 20px;

          }
          @media only screen and (max-width: $bp-tiny-2) {
            font-size: 18px;
          }
        }
      }
      &__ticket {
        background-color: rgb(52, 52, 52);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        justify-content: center;
        margin-top: 20px;
        width: auto;
        padding: 32.5px 60px;

        // @media only screen and (max-width: $bp-large-3) {
        //   width: 75%;
        // }
        // @media only screen and (max-width: $bp-large-2) {
        //   width: 85%;
        // }
        // @media only screen and (max-width: $bp-large) {
        //   width: 90%;
        // }

        // @media only screen and (max-width: $bp-medium) {
        //   flex-direction: column;
        //   height: 220px;
        //   align-items: center;
        //   justify-content: space-evenly;
        //   width: 60%;
        // }
        // @media only screen and (max-width: $bp-small-3) {
        //   width: 90%;
        // }
        &__ticketdetail {
          color: var(--pText) !important;
          font-size: 40px !important;
          font-weight: 800 !important;
          text-align: center !important;
          line-height: 3rem;
          margin-top: 25px !important;
          margin-bottom: 15px !important;
          // text-decoration: underline;
          @media only screen and (max-width: $bp-small) {
            font-size: 25px;
          }
          @media only screen and (max-width: $bp-tiny-2) {
            font-size: 20px;
          }
        }



        &__ticketdetail2 {
          background-color: white;
          color: black !important;
          border-radius: 10px;
          width: auto;
          height:auto;
          padding: 17.5px 22.5px;

          font-size: 35px !important;
          font-weight: 800 !important;
          text-align: center !important;
          line-height: 3rem;
          margin-top: 25px !important;
          margin-bottom: 70px !important;
          @media only screen and (max-width: $bp-small) {
            font-size: 20px;
          }
          @media only screen and (max-width: $bp-tiny-2) {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.btn3, .btn3:link, .btn3:visited {
  border: 0;
  border-radius: 100px !important;
  color: #000;
  cursor: pointer; 
  display: inline-block;
  font-size: 16px !important;
  font-weight: 600 !important;

  height: 50px !important;
  margin-top: 0;
  margin-top: 15px !important;
  padding: 12.5px 20px !important;
  /* margin: auto; */
  position: relative;
  text-align: center; 
  transition: all .2s;
  width: 150px !important;
}

.home-container {
  // background-color: black;
  background-image: linear-gradient(to bottom, #040622 40%,#000 55%,  #000 100%);
  // linear-gradient(to bottom, ${backgroundColor1} 75%, ${backgroundColor3} 80%, ${backgroundColor4} 85%, ${backgroundColor5}  87%, ${backgroundColor6} 90%, ${backgroundColor} 100%), url(${thumbnail})
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}


.home-containerBlack {
  // background-color: black;
  background-image: linear-gradient(to bottom, #000 40%,#000 55%,  #000 100%);
  // linear-gradient(to bottom, ${backgroundColor1} 75%, ${backgroundColor3} 80%, ${backgroundColor4} 85%, ${backgroundColor5}  87%, ${backgroundColor6} 90%, ${backgroundColor} 100%), url(${thumbnail})
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.ul, .li {
  /*
   * We want the bullets outside of the list,
   * so the text is aligned. Now the actual bullet
   * is outside of the list’s container
   */
   list-style: outside;
  list-style-position: outside !important;

  /*
   * Because the bullet is outside of the list’s
   * container, indent the list entirely
   */
  // margin-left: 1em;
}