
.live-container {
  // background-image: linear-gradient(to right bottom, var(--bgColor), #000000);
  background-image: linear-gradient(to right bottom, #040622, #000);
  // background-color: var(--bgColor) !important;
  // background-color: transparent;

  display: flex;
  flex-direction: column;
}

.spin-container {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  padding-left: calc(50vw - 16px); 
  padding-top: calc(50vh - 16px); 
}

.new-live-container {
  // background-image: linear-gradient(to right bottom, var(--bgColor), #000000);
  background-image: linear-gradient(to right bottom, #040622, #000);
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.live-nav {
  background-image: transparent;
  height: 8rem;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
  @media only screen and (max-width: $bp-small-3) {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &--logo { 
    height: 4rem;
    margin-left: 12.5vw;
    width: auto;
    z-index: 999;
    @media only screen and (max-width: $bp-small-3) {
      margin-left: 0rem;
      margin-bottom: 0rem;
    }
  }

  &--ticket { 
    height: 4.5rem;
    margin-right: 12.5vw;
    width: auto;
    margin-top: 0 !important;
    padding: 9px 40px !important;
    color: black !important;
    @media only screen and (max-width: $bp-small-3) {
      margin-right: 0rem;
      top: 375px;
    }
    @media only screen and (max-width: 415px) {
      top: 320px;
    }
  }
}

.live-hero {
  background-color: transparent !important;
  // background-color: var(--bgColor) !important;
  display: flex;
  flex-direction: row;
  height: 750px;
  justify-content: space-between;
  margin-left: 12.5vw;
  margin-right: 12.5vw;
  width: 75vw;
  @media only screen and (max-width: $bp-medium) {
    height: 700px;

  }
  @media only screen and (max-width: $bp-small-3) {
    margin-left: 5rem;
    margin-right: 5rem;
    height: 600px;
  }
  @media only screen and (max-width: 415px) {
    margin-left: 5rem;
    margin-right: 5rem;
    height: 525px;
  }

  &__container {
    color: var(--pText);
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10rem;
    margin-top: 22.5rem;
    width: 1900px;
    @media only screen and (max-width: $bp-small-3) {
      margin-top: 18rem;
    }
    @media only screen and (max-width: 415px) {
      margin-top: 15rem;
    }
    &__title {
      // text-align: center !important;
      color: var(--pText);
      display: inline-block;
      font-size: 5.5em;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 1;
      text-align: left;
      width: 700px;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10+ and Edge */
      user-select: none; /* Standard syntax */
      @media only screen and (max-width: 1560px) {
        font-size: 5em;
        width: 600px;
      }

      @media only screen and (max-width: $bp-medium) {
        font-size: 4em;
        width: 500px;
      }
      @media only screen and (max-width: $bp-small-3) {
        font-size: 3.6em;
        width: 425px;
      }

      @media only screen and (max-width: $bp-small) {
        font-size: 3.2em;
        width: 400px;
      }
      @media only screen and (max-width: $bp-tiny-2) {
        font-size: 2.7em;
        width: 325px;
      }
      @media only screen and (max-width: 415px) {
        font-size: 2.4em;
        width: 290px;
      }


    }

    &__subtitle {
      // text-align: center !important;
      color: var(--sText);
      display: inline-block;
      font-size: 1.5em;
      font-weight: normal;
      line-height: 1.4;
      margin-top: 50px;
      text-align: left;
      width: 630px;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10+ and Edge */
      user-select: none; /* Standard syntax */
      @media only screen and (max-width: 1560px) {
        font-size: 1.5em;
      }
      @media only screen and (max-width: $bp-medium) {
        font-size: 1.4em;
        width: 450px;
      }
      @media only screen and (max-width: $bp-small-3) {
        font-size: 1.3em;
        width: 400px;
      }
      @media only screen and (max-width: $bp-small) {
        font-size: 1.1em;
        width: 350px;
      }
      @media only screen and (max-width: $bp-tiny-2) {
        font-size: 1em;
        width: 325px;
      }
      @media only screen and (max-width: 415px) {
        font-size: 1em;
        width: 275px;
      }
    }
  }
  
  &__cardMain {
    -moz-perspective: 1500px;
    background: transparent !important;
    border: 0;
    // position: relative;
    border-radius: 7.5px;
    height: 360px;
    width: 480px;
    margin-left: 5rem;
    // margin-right: 12.5vw;

    margin-top: 20rem;
    perspective: 1500px;


    @media only screen and (max-width: 1640px) {
      height: 320px;
      width: 426.7px;
      margin-top: 23rem;
    }
    @media only screen and (max-width: 1430px) {
      height: 280px;
      width: 373px;
      margin-top: 24.6rem;
    }

    @media only screen and (max-width: 1300px) {
      display: none !important;
    }

  }
  
  &__cardMain__side {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15); 
    height: 325px;
    // overflow: auto;
    left: 0;
    top: 0;
    height: 360px;
    width: 480px;
    @media only screen and (max-width: 1640px) {
      height: 320px;
      width: 426.7px;
    }
    @media only screen and (max-width: 1430px) {
      height: 280px;
      width: 373px;
    }

    @media only screen and (max-width: 1300px) {
      display: none !important;

    }
  }

  &__picture {
    background-blend-mode: screen;
    background-size: cover;
    border-radius: 10px;
    height: 360px !important;
    width: 480px !important;
    object-fit: cover !important;

    @media only screen and (max-width: 1640px) {
      height: 320px !important;
      width: 426.7px !important;
    }
    @media only screen and (max-width: 1430px) {
      height: 280px !important;
      width: 373px !important;
    }

    // @media only screen and (max-width: 1300px) {
    //   height: 325px;
    //   width: 350px;
    // }

    @media only screen and (max-width: 1300px) {
      display: none !important;

    }
  }

  &__heading {
    color: var(--pText);
    font-size: 25px;
    font-weight: 300;
    margin-left: 25px;
    margin-right: 12.5vw;
    position: relative;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    top: 300px;
    width: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */ 
    @media only screen and (max-width: 1640px) {
      top: 260px;
    }
    @media only screen and (max-width: 1430px) {
      top: 220px;
    }
  }

  &__heading-span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: 180%;
    margin-right: 12.5vw;
    padding: 7px 12px;
    white-space: nowrap;
    background-image: linear-gradient(to right bottom, rgba(3, 33, 55, 0.85), rgba(0, 0, 0, 0.85));

  }
}

.live-content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  &__title {
    color: #000;
    // display: inline-block;
    font-size: 32px;
    font-weight: 600;
    line-height: 4rem;
    margin-bottom: 8rem; 
    margin-top: 8rem;
    text-align: center !important;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    @media only screen and (max-width: $bp-small) {
      font-size: 30px;
      margin-bottom: 5rem; 
      margin-top: 5rem;
    }
    @media only screen and (max-width: $bp-tiny-2) {
      font-size: 28px;
    }
    @media only screen and (max-width: 415px) {
      font-size: 26px;
    }
  }

  &__container {
    color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    margin-bottom: 10rem;
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    @media only screen and (max-width: 750px) {
      margin-left: 1rem;
      margin-right: 1rem;
    } 
  }
}

.live-footer {
  background-color: transparent;
  color: var(--pText) !important;
  height: 5rem;
  margin-top: 3rem;
  text-align: center !important;
  width: 100%;

  &__title {
    color: var(--pText) !important;
    font-size: 1.6rem;
    margin-top: 3rem;
    text-align: center !important;
  }
}
