#style-1::-webkit-scrollbar-track {
  //    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
  background-color: transparent;
}

#style-1::-webkit-scrollbar {
  background-color: transparent;
}

#style-1::-webkit-scrollbar-thumb {
  //    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: transparent;
}
.stream-container ::-webkit-scrollbar {
  display: none;
  overflow: hidden !important;
}
.css-1okebmr-indicatorSeparator {
  display: none !important;
}

.css-1pahdxg-control {
  border-radius: 20px !important;
  text-align: center !important;
  box-shadow: 0 0 0 1px #030b30 !important;
  border-color: #030b30 !important;
}

.css-g1d714-ValueContainer {
  text-align: center !important;
  padding: 2px 15px !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  color: black !important;
}

.css-yk16xz-control {
  border-radius: 20px !important;
}

.css-1hwfws3 {
  text-align: center !important;
  padding: 2px 15px !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
.MuiDrawer-paperAnchorDockedRight {
  border-left: none !important;
}

.MuiSvgIcon-root{
  font-size: 28px !important;
}


.stream-nav { 
  background-color: #000;
  height: 75px;
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  z-index: 500000;

  // @media only screen and (max-width: 1000px) {
  //   // display: none;
  // }

  &__logo { 
    height: 32.5px;
    margin-left: 6px;
    margin-top: 21.25px;
    margin-bottom: 21.25px;
    width: 130px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
  }
  &__button-grp { 
    height: 100%;
    display: flex;
    flex-direction: row;
    // margin-top: 21.25px;
    // margin-bottom: 21.25px;
    // width: 140px;
    margin-right: 15px;
    width: auto;
  }

  &__button-grp2 { 
    margin-top: 12.25px;
    margin-bottom: 21.25px;
    margin-right: 10px;

    @media only screen and (max-width: 1000px) {
      display: none;
    }

  }

  &__dropdown { 
    height: 32.5px ;
    margin-top: 21.25px;
    margin-bottom: 21.25px;
    margin-right: 30px;
    width: 170px;
    color: black !important;
  }
  
}

.stream-container {
  background-color: #000;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  overflow: hidden !important;
  // @media only screen and (max-width: 1000px) {
  //   overflow: hidden !important;
  //   position: fixed;
  //   height: 100vh !important;
  //   max-height: 100vh !important;
  //   height: calc(var(--vh, 1vh) * 100) !important;
  //   max-height: calc(var(--vh, 1vh) * 100) !important;
  //   width: 100vw !important;
  //   max-width: 100vw !important;
  //   flex-direction: column;
  // }
  ::-webkit-scrollbar {
    display: none; // Safari and Chrome
    background-color: transparent;

  }

  &__streamBox {
    display: grid;
    height: 100%;
    // width: calc(100vw - 450px);
    width: 100%;

    grid-template-columns: 100%;
    grid-template-rows: calc(100% - 125px) 125px;
 
    // @media only screen and (max-width: 1250px) {
    //   width: calc(100vw - 375px);
    // }
    // @media only screen and (max-width: 1000px) {
    //   grid-template-columns: 100%;
    //   grid-template-rows: 75px calc(42vh - 75px);
    //   width: 100% !important;
    // }

    &--nav { 
      background-color: #000;
      height: 100% !important;
      width: 100%;
      grid-column: 1;
      grid-row: 1 / 2;
      display: flex;
      // height: 6rem; 
      justify-content: space-between;
      flex-direction: row;

      @media only screen and (max-width: 1000px) {
        // display: none;
      }
    
      &__logo { 
        height: 32.5px;
        margin-left: 30px;
        margin-top: 21.25px;
        margin-bottom: 21.25px;
        width: 130px;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10+ and Edge */
        user-select: none; /* Standard syntax */
      }
      &__dropdown { 
        height: 32.5px ;
        margin-top: 21.25px;
        margin-bottom: 21.25px;
        // width: 140px;
        margin-right: 30px;
        width: 170px;
      }
    }

    &--video { 
      background-color: black; 
      // position: absolute;
      height: 100%;
      width: 100%;
      margin: auto;
      text-align: center;
      color: white;
      font-size: 30px;
      grid-column: 1;
      grid-row: 1 / 2;
      object-fit: fill;
      display: flex;
      align-content: center;
      justify-content: center;
      // @media only screen and (max-width: 1000px) {
      //   height: au;
      // }
    }

    &--feedGrid { 
      // background-color: #000;
      height: 100%;
      width: 100%;
      grid-column: 1;
      grid-row: 1 / 2;
      display: grid; 
      grid-template-columns: 65% 35%;
      grid-template-rows: 50% 50%;

      // @media only screen and (max-width: 1000px) {
      //   height: 100%;
      // }
    }
    &--video1 { 
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      height: 100%;
      width: 100%;
      object-fit: fill;
    }
    &--video2 { 
      grid-column: 2;
      grid-row: 1;
      height: 100%;
      width: 100%;
      object-fit: fill;


    }
    &--video3 { 
      grid-column: 2;
      grid-row: 2 ;
      height: 100%;
      width: 100%;
      object-fit: fill;

    }

    &--info { 
      background-color: #000; 
      height: 100%;
      width: 100%;
      grid-column: 1;
      grid-row: 2 / 3;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10+ and Edge */
      user-select: none; /* Standard syntax */
      // @media only screen and (max-width: 1000px) {
      //   display: none;
      // }
      &__title {
        color: #fff;
        display: inline-block;
        font-size: 37.5px;
        font-weight: 700;
        letter-spacing: -0.01em;
        line-height: 1;
        margin-left: 30px;
        margin-top: -1rem;
        text-align: left;
        text-align: left;
        margin-bottom: 1rem;
        // @media only screen and (max-width: 1000px) {
        //   font-size: 2.5rem;
        //   font-weight: 700;
        //   letter-spacing: -0.01em;
        //   line-height: 1;
        //   margin-left: 2.5rem;
        //   margin-top: 0rem;
        //   text-align: left;
        //   text-align: left;
        //   margin-bottom: .5rem;
        // }
        @media only screen and (max-width: 600px) {
          font-size: 26px;


        }
      }

      &__subtitle {
        color: #666;
        display: inline-block;
        font-size: 30px;
        font-weight: normal;
        line-height: 2;
        margin-left: 30px;
        margin-top: 1rem !important;
        text-align: left;
        text-align: left;
        width: 100%;
        @media only screen and (max-width: 600px) {
          font-size: 26px;


        }
      }
    }
    
  }

  &__tabs {
    height: 100%;
    width: 100%;
    background-color: black;
    // @media only screen and (max-width: 1250px) {
    //   width: 375px;
    // }
    // @media only screen and (max-width: 1000px) {
    //   height: 60% !important;
    //   width: 100%;
    // }
    // @media only screen and (max-width: 1000px) {
    //   height: 58vh !important;
    //   width: 100% !important;
    // }

    &--bottom { 
      height: calc(100% - 75px);
      width: 100%;
      // @media only screen and (max-width: 1000px) {
      //   height: calc(58vh - 62.5px) !important;
      //   width: 100% !important;
      // }
    }
    &--bottom2 { 
      height: auto!important;
      width: 100% !important;
      // box-sizing: border-box;
      // outline: none;
      // display:block;
      }
    &--chat { 
      // background-color: green; 
      height: 100%;
      width: 100%;

      // @media only screen and (max-width: 1000px) {
      //   height: 100%;
      // }
    }
    &--wall { 
      // background-color: green; 
      height: 100%;
      width: 100%;
      display: grid; 
      // grid-template-columns: 50% 50%;
      grid-template-columns: 100%;

      // grid-auto-rows: 125px;
      // grid-template-rows: 130px repeat(auto-fill, 130px);
      // grid-template-rows: 130px calc(100% - 130px);

      grid-template-rows: 15% 85%;
      // @media only screen and (max-width: 1000px) {
      //   grid-template-rows: 25% 75% !important;

      // }
      // @media only screen and (max-width: 1000px) {
      //   height: 100%;
      // }
    }
    &--fanHeading { 
      // background-color: pink; 
      grid-column: 1;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      // align-content: center;
      color: white;
  

      &--fanTitle { 
        height: auto;
        width: auto;
        color: white;
        font-size: 27px;
        font-size: bold !important;
        line-height: 4rem;
        margin-bottom: 5px;
        text-transform: uppercase;
        text-align: center !important;
        display: inline-block;
        // border-bottom: 1px solid white;
        padding-bottom: 0px;

      }
      &--fanButton { 
        // margin-top: -10px !important;
      }
    }

    &--fan { 
      background-color: green; 
      height: 100%;
      width: 100%;

      // @media only screen and (max-width: 750px) {
      //   height: 100%;
      // }
    }
    &--twilio { 
      // grid-column: 2;
      // grid-row: 2;

      background-color: black; 
      height: 100%;
      width: 100%;
    }
  }
}
.MuiTabs-root {
  height: 75px !important;
  // @media only screen and (max-width: 1000px) {
  //   height: 62.5px !important;
  // }

}
.sr-input:focus, input[type='text']:focus, button:focus, .focused {
  box-shadow: none !important;
}
// .str-chat__header-livestream-left--title p{
//   content: 'The Masked Singer';
// }
// .str-chat__header-livestream-left--title:after {
//   content: 'The Masked Singer';
// }
.str-chat__message-livestream-content > *{
  color: white !important;
  font-size: 14px !important;
}
.str-chat__message-livestream-author {
  color: white !important;
  // text-transform: lowercase;
  font-size: 16px !important;
  font-size: 1500 !important;
}

.livestream.dark.str-chat .str-chat__message-livestream{
  color: white !important;
}
.dark.str-chat .str-chat__date-separator-line {
  // color: white !important;
  background-color: rgba(255, 255, 255, .5) !important;
}
.str-chat__date-separator-date {
  color: white !important;
}
.str-chat__input-flat-emojiselect svg {
  opacity: .75 !important
}
.rta__textarea .str-chat__textarea__textarea {
  color: white !important;
  opacity: .75 !important
}
.str-chat__input-flat-emojiselect {
  top: calc(100% - 47px) !important;
  @media only screen and (max-width: 750px) {
    top: calc(100% - 36px) !important;
  }
}
// .str-chat__send-button {
//   color: white !important;
//   fill: white !important;
//   // background-color: white !important;

// }
.str-chat__loading-indicator {
  margin-top: 50vh !important;
  margin-left: calc(var(--vw, 1vh) * 12) !important;
  @media only screen and (max-width: 1250px) {
    margin-left: calc(var(--vw, 1vh) * 17) !important;
  }
  @media only screen and (max-width: 750px) {
    margin-top: 50% !important;
    margin-left: 47.5% !important;

  }
  // margin-right: 225px !important;

  position: absolute;
}
.rfu-file-upload-button {
  display: none !important;
}

.str-chat__avatar-fallback {
  background-color:rgb(0,20,85) !important;
  color: white !important;
}

.str-chat__avatar--rounded {
  display: none !important;
}
.str-chat__avatar--circle {
  margin-top: 2.25px !important;
}
.dark.str-chat .str-chat__input-flat textarea {
  background-color: rgb(0,0,0) !important;
}

.str-chat {
  background-color: black;
  height: calc(100vh - 75px) !important;

  // @media only screen and (max-width: 1000px) {
  //   height: calc(58vh - 75px) !important;
  // }
}


.str-chat__input-flat {
  background-color: rgb(15,15,15) !important;
}

.str-chat__header-livestream {
  background-color: rgb(15,15,15) !important;
  height: 55px !important;
  // border-bottom: 1px solid white;
  // border-left: .1px solid white;

  @media only screen and (max-width: 750px) {
    max-height: 50px !important;
    height: auto;
  }
}
.str-chat__main-panel {
  // border-left: 2.25px solid rgb(10, 10, 10);
}

.str-chat__header-livestream-left {
  @media only screen and (max-width: 750px) {
    font-size: 12px;
    flex: 2;
  }
}
.str-chat__input-flat .str-chat__textarea > textarea:focus {
  box-shadow: 0 0 0 2px white !important;
}

.livestream.str-chat.dark .str-chat__header-livestream-left--title {
  @media only screen and (max-width: 750px) {
    font-size: 14px;
  }
}

.str-chat__header-hamburger {
  @media only screen and (max-width: 750px) {
    display: none;
  }
}

.livestream.str-chat .str-chat__list {
  background-color: rgb(3, 3, 3) !important;
  @media only screen and (max-width: 750px) {
    padding: 5px 5px;
  }
}

.str-chat__message-livestream {
  @media only screen and (max-width: 750px) {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    width: 100%;
    margin: 0 0;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    position: relative;
  }
}

.str-chat__message-livestream-content > * {
  @media only screen and (max-width: 750px) {
    font-size: 12px;
    line-height: 12px;
    margin: 0;
  }

}

.str-chat__message-livestream-text--is-emoji {
  @media only screen and (max-width: 750px) {
    font-size: 16px;
    line-height: 16px;
  }
}

.str-chat__input-flat {
  @media only screen and (max-width: 750px) {
    padding: 5px 20px;
    height: auto;
  }

}
.str-chat__input-flat-wrapper {
  @media only screen and (max-width: 750px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }

}
.str-chat__input-flat--textarea-wrapper {
  @media only screen and (max-width: 750px) {
    height: 50px;

  }
}

.str-chat__input-flat-emojiselect {
  @media only screen and (max-width: 750px) {
    position: absolute;
    top: calc(100% - 35px);
    left: 25px;
  }

}

.str-chat__input-flat .rfu-file-upload-button {
  @media only screen and (max-width: 750px) {
    position: absolute;
    top: calc(100% - 31px);
    right: 25px;
  }
}
// .str-chat__input-flat .str-chat__textarea {
//   flex: 1;
// }
.rta {
  @media only screen and (max-width: 750px) {
    font-size: 12px;
  }
}

.str-chat__input-flat .str-chat__textarea > textarea {
  @media only screen and (max-width: 750px) {
    padding: 20px 69px;
    height: 40px !important;
    font-size: 14px;
    line-height: 14px;
  }

}

.dark.str-chat .str-chat__input-flat textarea {
  @media only screen and (max-width: 750px) {
    height: 40px !important;
  }
}