.headerSubduedText {
  line-height: 132%;
  text-shadow: 0 5px 7px rgb(0 0 0 / 98%);
}

.headerMainTitle {
  letter-spacing: -0.05rem;
  line-height: 132%;
}

.benefitCard {
  filter: drop-shadow(0 0 25px rgb(0 0 0 / 14%));
  min-height: 20px;
}

.benefitCard4LeftCol {
  white-space: pre-line;
}

.benefitCard4Icon {
  color: var(--mantine-color-neutral-0);
  height: auto;
  width: 100%
}

.useCaseCard {
  border-radius: 14px;

  &:hover {
    .useCaseButtonContainer {
      opacity: 1;
    }
  }
}

.useCaseButtonContainer {
  background: linear-gradient(180deg, rgb(255 255 255 / 0%) 0%, #FFF 64.9%);
  border-radius: 0 0 14px 14px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 5;
}

@media (width <= 960px) {
  .headerSubduedText {
    opacity: 1;
  }
}
