.headerSubduedText {
  line-height: 132%;
  text-shadow: 0 5px 7px rgb(0 0 0 / 98%);
}

.headerMainTitle {
  letter-spacing: -0.05rem;
  line-height: 132%;
}

.benefitCard {
  filter: drop-shadow(0 0 25px rgb(0 0 0 / 14%));
}

.benefitCard4LeftCol {
  white-space: pre-line;
}

.benefitCard4Icon {
  color: var(--mantine-color-neutral-0);
  height: auto;
  width: 100%
}

@media (max-width: 960px) {
  .headerSubduedText {
    opacity: 1;
  }
}
