.headerSubduedText {
  line-height: 132%;
  text-shadow: 0 5px 7px rgb(0 0 0 / 98%);
}

.headerMainTitle {
  letter-spacing: -0.05rem;
  line-height: 132%;
}

@media (max-width: var(--mantine-breakpoint-md)) {
  .headerSubduedText {
    opacity: 1;
  }
}
