.code-entry {
  background-color: #fff;
  height: MIN(40rem, 90vh); 
  width: MIN(424px, 90vw);

  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  z-index: 10000;

  
  &--logo {
    height: 58px;
    margin-bottom: 2rem;
    width: auto;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    @media only screen and (max-width: 415px) {
      height: 5rem;
      margin-bottom: 2rem;
      width: auto;
    } 
  }

  &__title {
    color: #000;
    font-weight: 500;
  }

  input {
    border-radius: 1px;
    font-size: 2.2rem;
    height: 48px;
    letter-spacing: 1.5px;
    margin-top: 1rem;
    text-align: center;
    width: MIN(35rem, 90vw);

    @media only screen and (max-width: 415px) {
      font-size: 2rem;
      width: 280px;
    } 

    &::placeholder {
      font-variant: all-small-caps;
    }
  }

  button {
    background-color: #d7bb73;
    border: 0;
    border-radius: 2px;
    color: #000;
    cursor: pointer;
    font-weight: 500;
    height: 48px;
    letter-spacing: 2px;
    line-height: 18px;
    margin-top: 3rem;
    text-align: center;
    width: MIN(35rem, 90vw);
    font-size: 16px;

    @media only screen and (max-width: 415px) {
      width: 280px;
    } 
  }
}

input, textarea, pre {
  border: 1px solid #ddd;
  padding: 0 .25rem;
}