.payment-button {
  border: 0;
  width: 100% !important;
  height: auto !important;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
  color: white !important;
}

.coinbase {
  color: white !important;
} 

.success-container {
  background-image: linear-gradient(110deg, #192196 7%,#4553ff 32.5%, #07c2e7 60%, #05d5ff  70%,#d694c6 95%);
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  height: 100vh;
}

.success-root {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: #f9f7f4;
  margin: auto;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  @media only screen and (max-width:700px) {
    width: 90%;
  }
}

.payment-overview{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
  align-self: center;
  margin: auto;
  padding: 10px 50px;
  margin-top: 30px;
  margin-bottom: 10px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  @media only screen and (max-width:700px) {
    padding: 10px 20px;
  }
}

.payment-overview-title{
  text-align: center !important;
  font-size: 38px;
  line-height: 3rem;
  margin-bottom: 5rem;
  color: black;
  font-weight: bold;
  
  @media only screen and (max-width:700px) {
    font-size: 28px;
  }
}

.payment-overview-p{
  text-align: center !important;
  font-size: 22px;
  line-height: 3rem;
  margin-bottom: 50px;
  color: black;
  font-weight: normal;
  line-height:"22px";
  @media only screen and (max-width:700px) {
    font-size: 17px;
  }
  @media only screen and (max-width:400px) {
    font-size: 17px;
  }
}
.payment-overview-order{
  text-align: center !important;
  font-size: 22px;
  line-height: 3rem;
  margin-bottom: 2rem;
  color: black;
  line-height:"22px";
  font-weight: bold;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  @media only screen and (max-width:700px) {
    font-size: 20px;
  }
  @media only screen and (max-width:400px) {
    font-size: 18px;
  }
}

.payment-overview-order2{
  text-align: center !important;
  font-size: 40px;
  line-height: 3rem;
  margin-bottom: 5rem;
  color: black;
  font-weight: bold;
  line-height:"22px";
  -webkit-user-select: text; /* Safari */
  -ms-user-select: text; /* IE 10+ and Edge */
  user-select: text; /* Standard syntax */
  @media only screen and (max-width:700px) {
    font-size: 36px;
  }
}

.code-reveal {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  margin-bottom: 1rem;
  width: 100%;
  
  &__ticket {
    background-color: transparent;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    width: auto;
    padding: 32.5px 60px;
  }
}