.stream-nav { 
  background-color: #000;
  height: 75px;
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  z-index: 500000;

  &__logo { 
    height: 32.5px;
    margin-left: 6px;
    margin-top: 21.25px;
    margin-bottom: 21.25px;
    width: 130px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
  }
  &__button-grp { 
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    width: auto;
  }

  &__button-grp2 { 
    margin-top: 12.25px;
    margin-bottom: 21.25px;
    margin-right: 10px;
    @media only screen and (max-width: 1000px) {
      display: none;
    }
  }

  &__dropdown { 
    height: 32.5px ;
    margin-top: 21.25px;
    margin-bottom: 21.25px;
    margin-right: 30px;
    width: 170px;
    color: black !important;
  }
}

.stream-container {
  background-color: #000;
  display: flex;
  flex-direction: column;
  height: calc(100% - 75px);
  width: 100%;

  ::-webkit-scrollbar {
    display: none; // Safari and Chrome
    background-color: transparent;
  }

  &__streamBox {
    display: grid;
    height: 100%;
    width: 100%;
    @media only screen and (max-width: 500px) {
      height: calc(100vh - 75px);
    }
    overflow: hidden !important;
    grid-template-columns: 100%;
    grid-template-rows: calc(100vh - 200px) 125px;

    &--videoBox { 
      background-color: black; 
      height:calc(100vh - 200px);
      width: 100%;
      margin: auto;
      text-align: center;
      color: white;
      font-size: 30px;
      grid-column: 1;
      grid-row: 1 / 2;
      object-fit: cover;
      display: flex;
      align-content: center;
      justify-content: center;
    }

    &--video { 
      width: 100%;
      height: 100%;
      position: relative;
      top: 0;
      left: 0;
      object-fit: cover !important;
    }

    &--feedGrid { 
      height:calc(100vh - 200px);
      width: 100%;
      grid-column: 1 ;
      grid-row: 1 / 2;
      display: grid; 
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
    }
    &--videobox1 { 
      background-color: black; 
      height:auto;
      grid-column: span 2 ;
      grid-row: 1;
      width: 100%;
      object-fit: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--videobox2 { 
      background-color: black; 
      height:auto;
      width: 100%;
      grid-column: 1;
      grid-row: 2;
      object-fit: cover;
      display: flex;
      justify-content: center;
      align-items: center;

    }
    &--videobox3 { 
      height:auto;
      background-color: black; 
      grid-column: 2;
      grid-row: 2;
      width: 100%;
      object-fit: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--info { 
      background-color: #000; 
      height: 100%;
      width: 100%;
      grid-column: 1;
      grid-row: 2 / 3;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10+ and Edge */
      user-select: none; /* Standard syntax */

      &__title {
        color: #fff;
        display: inline-block;
        font-size: 37.5px;
        font-weight: 700;
        letter-spacing: -0.01em;
        line-height: 1;
        margin-left: 30px;
        margin-top: -1rem;
        text-align: left;
        text-align: left;
        margin-bottom: 1rem;
        @media only screen and (max-width: 600px) {
          font-size: 26px;
        }
      }

      &__subtitle {
        color: #666;
        display: inline-block;
        font-size: 30px;
        font-weight: normal;
        line-height: 2;
        margin-left: 30px;
        margin-top: 1rem !important;
        text-align: left;
        text-align: left;
        width: 100%;
        @media only screen and (max-width: 600px) {
          font-size: 26px;
        }
      }
    }
  }

  &__tabs {
    height: 100%;
    width: 100%;
    background-color: black;

    &--bottom { 
      height: calc(100% - 75px);
      width: 100%;
    }
    &--bottom2 { 
      height: auto!important;
      width: 100% !important;
      }
    &--chat { 
      height: 100%;
      width: 100%;
    }
    &--wall { 
      height: 100%;
      width: 100%;
      display: grid; 
      grid-template-columns: 100%;
      grid-template-rows: 15% 85%;
    }
    &--fanHeading { 
      grid-column: 1;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      color: white;

      &--fanTitle { 
        height: auto;
        width: auto;
        color: white;
        font-size: 27px;
        font-size: bold !important;
        line-height: 4rem;
        margin-bottom: 5px;
        text-transform: uppercase;
        text-align: center !important;
        display: inline-block;
        padding-bottom: 0px;
      }
    }

    &--fan { 
      background-color: green; 
      height: 100%;
      width: 100%;
    }
    &--twilio { 
      background-color: black; 
      height: 100%;
      width: 100%;
    }
  }
}

.stream-container ::-webkit-scrollbar {
  display: none;
  overflow: hidden !important;
}

.feedGrid { 
  height:calc(100vh - 200px);
  width: 100%;
  grid-column: 1;
  grid-row: 1 / 2;
  display: grid; 
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(3, 33.33%);
  position: relative;
}

.videobox1 { 
  // background-color: red; 
  height:auto;
  // grid-column: 1 / 3;
  // grid-row: 1 / 3;
  grid-area: 1 / 1 / 3 / 3; //<row-start> / <column-start> / <row-end> / <column-end>
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}
.videobox2 { 
  // background-color: blue; 
  height:auto;
  width: 100%;
  // grid-column: 1 / 2;
  // grid-row: 3 / 4;
  grid-area: 3 / 1 / 4 / 2; //<row-start> / <column-start> / <row-end> / <column-end>

  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;

}

.videobox3 { 
  height:auto;
  // background-color: green; 
  // grid-column: 2 / 3;
  // grid-row: 3 / 4;
  grid-area: 3 / 2 / 4 / 3; //<row-start> / <column-start> / <row-end> / <column-end>

  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;

}
.videobox4 { 
  height:auto;
  // background-color: yellow; 
  // grid-column: 3 / 4;
  // grid-row: 3 / 4;
  grid-area: 3 / 3 / 4 / 4; //<row-start> / <column-start> / <row-end> / <column-end>

  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;

}
.videobox5 { 
  height:auto;
  // background-color: grey; 
  // grid-column: 3 / 4;
  // grid-row: 2 / 3;
  grid-area: 2 / 3 / 3 / 4; //<row-start> / <column-start> / <row-end> / <column-end>
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;

}
.videobox6 { 
  height:auto;
  // background-color: pink; 
  // grid-column: 3 / 4;
  // grid-row: 1 / 2;
  grid-area: 1 / 3 / 2 / 4; //<row-start> / <column-start> / <row-end> / <column-end>
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;

}
.testvideo { 
  width: 100%;
  height: 100%;
  // position: relative;
  // top: 0;
  // left: 0;
  object-fit: cover !important;
  background-color: black;
}

.video-heading{
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: white !important;
  opacity: .9;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 2px 10px;

}

.video-heading-span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  line-height: 180%;
  white-space: nowrap;  
  color: black !important;
  font-size: 16px;
  font-weight: bold;
}


.video-close{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white !important;
  opacity: .9;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 2px 10px;
  z-index: 1000;
}

.video-close-span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  line-height: 180%;
  white-space: nowrap;  
  color: black !important;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

// Styling for Live Chat and tabs

.MuiDrawer-paperAnchorDockedRight {
  border-left: none !important;
}

.MuiSvgIcon-root{
  font-size: 28px !important;
}

.MuiTabs-root {
  height: 75px !important;
}


.css-1okebmr-indicatorSeparator {
  display: none !important;
}

.css-1pahdxg-control {
  border-radius: 20px !important;
  text-align: center !important;
  box-shadow: 0 0 0 1px #030b30 !important;
  border-color: #030b30 !important;
}

.css-g1d714-ValueContainer {
  text-align: center !important;
  padding: 2px 15px !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  color: black !important;
}

.css-yk16xz-control {
  border-radius: 20px !important;
}

.css-1hwfws3 {
  text-align: center !important;
  padding: 2px 15px !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
.sr-input:focus, input[type='text']:focus, button:focus, .focused {
  box-shadow: none !important;
}

.str-chat__message-livestream-content > *{
  color: white !important;
  font-size: 14px !important;
}
.str-chat__message-livestream-author {
  color: white !important;
  font-size: 16px !important;
  font-size: 1500 !important;
}

.livestream.dark.str-chat .str-chat__message-livestream{
  color: white !important;
}
.dark.str-chat .str-chat__date-separator-line {
  background-color: rgba(255, 255, 255, .5) !important;
}
.str-chat__date-separator-date {
  color: white !important;
}
.str-chat__input-flat-emojiselect svg {
  opacity: .75 !important
}
.rta__textarea .str-chat__textarea__textarea {
  color: white !important;
  opacity: .75 !important
}
.str-chat__input-flat-emojiselect {
  top: calc(100% - 47px) !important;
  @media only screen and (max-width: 750px) {
    top: calc(100% - 36px) !important;
  }
}

.str-chat__loading-indicator {
  margin-top: 50vh !important;
  margin-left: calc(var(--vw, 1vh) * 12) !important;
  @media only screen and (max-width: 1250px) {
    margin-left: calc(var(--vw, 1vh) * 17) !important;
  }
  @media only screen and (max-width: 750px) {
    margin-top: 50% !important;
    margin-left: 47.5% !important;

  }

  position: absolute;
}
.rfu-file-upload-button {
  display: none !important;
}

.str-chat__avatar-fallback {
  background-color:rgb(0,20,85) !important;
  color: white !important;
}

.str-chat__avatar--rounded {
  display: none !important;
}
.str-chat__avatar--circle {
  margin-top: 2.25px !important;
}
.dark.str-chat .str-chat__input-flat textarea {
  background-color: rgb(0,0,0) !important;
}

.str-chat {
  background-color: black;
  height: calc(100vh - 75px) !important;
}


.str-chat__input-flat {
  background-color: rgb(15,15,15) !important;
}

.str-chat__header-livestream {
  background-color: rgb(15,15,15) !important;
  height: 55px !important;

  @media only screen and (max-width: 750px) {
    max-height: 50px !important;
    height: auto;
  }
}


.str-chat__header-livestream-left {
  @media only screen and (max-width: 750px) {
    font-size: 12px;
    flex: 2;
  }
}
.str-chat__input-flat .str-chat__textarea > textarea:focus {
  box-shadow: 0 0 0 2px white !important;
}

.livestream.str-chat.dark .str-chat__header-livestream-left--title {
  @media only screen and (max-width: 750px) {
    font-size: 14px;
  }
}

.str-chat__header-hamburger {
  @media only screen and (max-width: 750px) {
    display: none;
  }
}

.livestream.str-chat .str-chat__list {
  background-color: rgb(3, 3, 3) !important;
  @media only screen and (max-width: 750px) {
    padding: 5px 5px;
  }
}

.str-chat__message-livestream {
  @media only screen and (max-width: 750px) {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    width: 100%;
    margin: 0 0;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    position: relative;
  }
}

.str-chat__message-livestream-content > * {
  @media only screen and (max-width: 750px) {
    font-size: 12px;
    line-height: 12px;
    margin: 0;
  }

}

.str-chat__message-livestream-text--is-emoji {
  @media only screen and (max-width: 750px) {
    font-size: 16px;
    line-height: 16px;
  }
}

.str-chat__input-flat {
  @media only screen and (max-width: 750px) {
    padding: 5px 20px;
    height: auto;
  }

}
.str-chat__input-flat-wrapper {
  @media only screen and (max-width: 750px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }

}
.str-chat__input-flat--textarea-wrapper {
  @media only screen and (max-width: 750px) {
    height: 50px;

  }
}

.str-chat__input-flat-emojiselect {
  @media only screen and (max-width: 750px) {
    position: absolute;
    top: calc(100% - 35px);
    left: 25px;
  }

}

.str-chat__input-flat .rfu-file-upload-button {
  @media only screen and (max-width: 750px) {
    position: absolute;
    top: calc(100% - 31px);
    right: 25px;
  }
}

.rta {
  @media only screen and (max-width: 750px) {
    font-size: 12px;
  }
}

.str-chat__input-flat .str-chat__textarea > textarea {
  @media only screen and (max-width: 750px) {
    padding: 20px 69px;
    height: 40px !important;
    font-size: 14px;
    line-height: 14px;
  }

}

.dark.str-chat .str-chat__input-flat textarea {
  @media only screen and (max-width: 750px) {
    height: 40px !important;
  }
}

.active-title-video {
  height: 100vh;
  margin: 0 -4vw;
  width: 100vw;
  z-index: 1000000;

  video {
    background-color: $elv-color-black;
    border-radius: 0.5rem;
    cursor: pointer;
    height: 100vh;
    max-height: 100vh;
    scroll-margin: 10rem;
    width: 100vw;
    z-index: 1000000;
  }
}

#style-1::-webkit-scrollbar-track {
  background-color: transparent;
}

#style-1::-webkit-scrollbar {
  background-color: transparent;
}

#style-1::-webkit-scrollbar-thumb {
  background-color: transparent;
}
