
.stream-nav { 
	// background: linear-gradient(140deg, #0610a1 7%,#4553ff 32.5%, #07c2e7 60%, #05d5ff  70%,#d694c6 95%);
  height: 75px;
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  z-index: 500000;

  &__logo { 
    height: 32.5px;
    margin-left: 6px;
    margin-top: 22px;
    margin-bottom: 22px;
    width: 130px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
  }
  &__title { 
    font-family: NoeDisplayBold, sans-serif;
    // font-family: 'Abril Fatface', cursive;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0px;
    color: black;
    // height: 31px;
    width: auto;
    // margin: auto;
    margin-left: 6px;
    margin-top: 22px !important;
    margin-bottom: 22px;
    // width: 130px;
    // -webkit-user-select: none; /* Safari */
    // -ms-user-select: none; /* IE 10+ and Edge */
    // user-select: none; /* Standard syntax */
  }
  &__button-grp { 
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    width: auto;
    justify-content: center;
    align-items: center;
  }

  &__button-grp2 { 
    // margin-top: 12.25px;
    // margin-bottom: 21.25px;
    margin-right: 10px;
    @media only screen and (max-width: 1000px) {
      display: none;
    }
  }

  &__dropdown { 
    height: 32.5px ;
    margin-top: 21.25px;
    margin-bottom: 21.25px;
    margin-right: 30px;
    width: 170px;
    color: black !important;
  }
}

.stream-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: calc(100% - 75px);
  width: 100%;

  ::-webkit-scrollbar {
    display: none; // Safari and Chrome
    background-color: transparent;
  }

  &__streamBox {
    display: grid;
    height: 100%;
    width: 100%;
    @media only screen and (max-width: 500px) {
      height: calc(100vh - 75px);
    }
    overflow: hidden !important;
    grid-template-columns: 100%;
    grid-template-rows: calc(100vh - 175px) 100px;

    &--videoBox { 
      background-color: rgba(245, 235, 225, .8);
      height:calc(100vh - 175px);
      width: 100%;
      margin: auto;
      text-align: center;
      color: white;
      font-size: 30px;
      grid-column: 1;
      grid-row: 1 / 2;
      object-fit: cover;
      display: flex;
      align-content: center;
      justify-content: center;
    }

    &--video { 
      width: 100%;
      height: 100%;
      position: relative;
      top: 0;
      left: 0;
      object-fit: cover !important;
      background: black; 
    }

    &--info { 
      background-color: rgba(245, 235, 225, .8);
      height: 100%;
      width: 100%;
      grid-column: 1;
      grid-row: 2 / 3;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10+ and Edge */
      user-select: none; /* Standard syntax */

      &__title {
        color: black;
        display: inline-block;
        font-size: 37.5px;
        font-weight: 700;
        letter-spacing: 0px;
        line-height: 1;
        margin-left: 30px;
        margin-top: -1rem;
        text-align: left;
        text-align: left;
        margin-bottom: 10px !important;
        font-family: NoeDisplayBold, sans-serif !important;

        @media only screen and (max-width: 600px) {
          font-size: 26px;
        }
      }

      &__subtitle {
        color: rgba(0, 0, 0,.7);
        display: inline-block;
        font-size: 30px;
        font-weight: normal;
        line-height: 1.75;
        margin-left: 30px;
        margin-top: 10px !important;
        text-align: left;
        text-align: left;
        width: 100%;
        font-family: NoeDisplayBold, sans-serif !important;

        @media only screen and (max-width: 600px) {
          font-size: 26px;
        }
      }
    }
  }

  &__tabs {
    height: 100%;
    width: 100%;
    background-color: black;

    &--bottom { 
      height: calc(100% - 75px);
      width: 100%;
    }
    &--bottom2 { 
      height: auto!important;
      width: 100% !important;
      }
    &--chat { 
      height: 100%;
      width: 100%;
    }
    &--wall { 
      height: 100%;
      width: 100%;
      display: grid; 
      grid-template-columns: 100%;
      grid-template-rows: 15% 85%;
    }
    &--fanHeading { 
      grid-column: 1;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      color: white;

      &--fanTitle { 
        height: auto;
        width: auto;
        color: white;
        font-size: 27px;
        font-size: bold !important;
        line-height: 4rem;
        margin-bottom: 5px;
        text-transform: uppercase;
        text-align: center !important;
        display: inline-block;
        padding-bottom: 0px;
      }
    }

    &--fan { 
      background-color: green; 
      height: 100%;
      width: 100%;
    }
    &--twilio { 
      background-color: black; 
      height: 100%;
      width: 100%;
    }
  }
}

.stream-container ::-webkit-scrollbar {
  display: none;
  overflow: hidden !important;
}


.singleFeed { 
  background-color: rgba(245, 235, 225, .8);
  height:calc(100vh - 175px);
  width: 100%;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 30px;
  grid-column: 1;
  grid-row: 1 / 2;
  object-fit: cover;
  display: flex;
  align-content: center;
  justify-content: center;
}

.feedGrid { 
  height:calc(100vh - 175px);
  width: 100%;
  grid-column: 1;
  grid-row: 1 / 2;
  display: grid; 
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(3, 33.33%);
  position: relative;
  background: black; 
}
.videobox { 
  background: black; 
  height:auto;
  // grid-area: 1 / 1 / 3 / 3; //<row-start> / <column-start> / <row-end> / <column-end>
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}

.videobox0 { 
  background: black; 
  height:auto;
  // grid-column: 1 / 3;
  // grid-row: 1 / 3;
  grid-area: 1 / 1 / 3 / 3; //<row-start> / <column-start> / <row-end> / <column-end>
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}
.videobox1 { 
  background: black; 
  height:auto;
  width: 100%;
  // grid-column: 1 / 2;
  // grid-row: 3 / 4;
  grid-area: 3 / 1 / 4 / 2; //<row-start> / <column-start> / <row-end> / <column-end>

  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;

}

.videobox2 { 
  height:auto;
  background: black; 
  // grid-column: 2 / 3;
  // grid-row: 3 / 4;
  grid-area: 3 / 2 / 4 / 3; //<row-start> / <column-start> / <row-end> / <column-end>

  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;

}
.videobox3 { 
  height:auto;
  // background-color: yellow; 
  // grid-column: 3 / 4;
  // grid-row: 3 / 4;
  grid-area: 3 / 3 / 4 / 4; //<row-start> / <column-start> / <row-end> / <column-end>

  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;

}
.videobox4 { 
  height:auto;
  background: black; 
  // grid-column: 3 / 4;
  // grid-row: 2 / 3;
  grid-area: 2 / 3 / 3 / 4; //<row-start> / <column-start> / <row-end> / <column-end>
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;

}
.videobox5 { 
  height:auto;
  // background-color: pink; 
  // grid-column: 3 / 4;
  // grid-row: 1 / 2;
  grid-area: 1 / 3 / 2 / 4; //<row-start> / <column-start> / <row-end> / <column-end>
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}
.stream-video { 
  width: 100%;
  height: 100%;
  object-fit: cover !important;
  background: black; 
}

.video-heading{
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(245, 235, 225, 1) !important;
  opacity: .9;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 2px 10px;

}

.video-heading-span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  line-height: 180%;
  white-space: nowrap;  
  color: black !important;
  font-family: NoeDisplayBold, sans-serif !important;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
}


.video-close{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(245, 235, 225, 1) !important;
  opacity: .9;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 2px 10px;
  z-index: 1000;
}

.video-close-span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  line-height: 180%;
  white-space: nowrap;  
  font-family: NoeDisplayBold, sans-serif !important;
  color: black !important;
  font-size: 16px;
  font-weight: bold;
  // text-transform: uppercase;
}

// Styling for tabs

.MuiDrawer-paperAnchorDockedRight {
  border-left: none !important;
}

.MuiSvgIcon-root{
  font-size: 28px !important;
}

.MuiTabs-root {
  height: 75px !important;
}

