$color-dark: #171818;
$color-background: #111;
$color-background-modal: #000;
$color-white: rgb(221, 218, 218);

$color-green: #1cb831; 
$color-green-modal: rgb(92, 223, 92); 
$color-modal-grey: rgb(172, 171, 171);
$color-modal-grey-2: rgb(122, 122, 122);

$color-red: #e21221;
$color-red-2: #f80616de;

$color-dark-blue: #082452;
$color-light-blue: rgb(15, 61, 129);
$color-light-blue-2: #2b2da5;

$color-purple: #782da3;


.divbody {
  font-family: "Open Sans", sans-serif !important;
  background-color: white;
  margin-bottom: 50px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
.block {
	width: 100%!important;
  height: 760px!important;
  // background: linear-gradient(45deg, #53f 15%, #05d5ff 50%, #a6ffcb 75%, #b5539d 90%)!important;
  
	background: linear-gradient(110deg, #192196 7%,#4553ff 32.5%, #07c2e7 60%, #05d5ff  70%,#d694c6 95%);
  // background: linear-gradient(150deg, #192196 15%,#4553ff 50.5%, #07c2e7 90%);
	// background: linear-gradient(60deg, #04346b 5%, #53f 20%, #4553ff 40%, #06bde2 70%,#ce88bc 90%)!important;
	transform: skewY(-7deg)!important;
	transform-origin: 0!important;
	position: absolute!important;
	top: 0!important;
}
.block span {
	height: 190px!important;
	position: absolute!important;
}
// .block span:nth-child(1) {
// 	width: 37.3%;
// 	// width: calc(100% / 3);
// 	left: -8.66666%;
// 	// left: calc(calc(calc(100% / 3) / 2) * -1);
//   // background: #4553ff;
//   background: rgb(52, 25, 185);

// }
// .block span:nth-child(2) {
// 	width: 50.33333%;
// 	// width: calc(100% / 3);
// 	top: 0;
// 	left: 24.66666%;
// 	right: auto;
//   background: #53f;
// }


.hero-view-container {
	position: relative !important;
	height: 760px !important;
  display: flex !important;
  flex-direction: row;
	color: #fff !important;
  max-width: 1250px !important;
  width: auto !important;
  margin: auto !important;
  // margin-left: 12.5vw;
  // margin-right: 12.5vw;
}
.text {
	position: relative !important;
	height: 760px !important;
	display: flex !important;
	margin: -60px 0 0 0vw !important;
	flex-direction: column !important;
	justify-content: center !important;
	color: #fff !important;
  max-width: 1024px !important;
  font-family: "Open Sans", sans-serif !important;


}
.texth1 {
  color: #fff !important;
	font-size: 60px!important;
  opacity: 0;
  animation: fadein 1s!important;
  animation-delay: 0.2s!important;
  animation-fill-mode: forwards!important;
  font-family: "Open Sans", sans-serif !important;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 900 !important;
  font-family: "Helvetica Neue", Arial, sans-serif !important;
  letter-spacing: -2.5px!important;
  -webkit-font-smoothing: antialiased!important;

}
.textp {
	color: #d9fcff!important;
	font-size: 22px!important;
	max-width: 55%!important;
  line-height: 38px!important;
  opacity: 0;
  animation: fadein 1s!important;
  animation-delay: 0.8s!important;
  animation-fill-mode: forwards!important;
  font-family: "Open Sans", sans-serif !important;
  letter-spacing: 0px;
  font-weight: 600 !important;
  font-family: "Helvetica Neue", Arial, sans-serif !important;

}

.photo-container {
  position: relative !important;
	height: 760px !important;
	display: flex !important;
	// margin: -60px 0 0 150px !important;
	flex-direction: column !important;
  justify-content: center !important;
  align-items: center;
	color: #fff !important;
  max-width: 100% !important;
  width: 100% !important;
}
.photo-div{
  backface-visibility: hidden;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  height: 325px;
  left: 0;
  top: 0;
  height: 360px;
  width: 480px;
  z-index: 21;
}
.live-hero-photo{
  background-blend-mode: screen;
  background-size: cover;
  border-radius: 10px;
  height: 360px !important;
  width: 480px !important;
  -o-object-fit: cover !important;
  object-fit: cover !important;
  margin: auto !important;
}
.photo-heading{
  color: var(--pText);
  font-size: 30px;
  font-weight: 300;
  margin-left: 25px;
  margin-right: 30px;
  position: relative;
  position: absolute;
  right: 0;
  text-align: right;
  text-transform: uppercase;
  top: 300px;
  width: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.img-wrapper {
  position: absolute!important;
  opacity: 0;
	top: 500px!important;
  right:  0px!important;
  // margin-right: 12.5vw!important;

	transform: translateY(-110px) translateX(-0px)!important;
	background: #fff!important;
	padding: 8px 8px!important;
	// border-radius: 24px!important;
	box-shadow: inset 0 4px 7px 1px #fff,
		inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14),
    0 10px 20px rgba(0, 21, 64, 0.05)!important;
  animation: up 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards!important;
}

.actual-img {
	// width: 500px!important;
  // height: auto!important;

  background-blend-mode: screen;
  background-size: cover;
  // border-radius: 10px;
  height: 360px !important;
  width: 500px !important;
  -o-object-fit: cover !important;
  object-fit: cover !important;
}

.photo-heading-span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  line-height: 180%;
  // right: 0px;
  padding: 7px 12px;
  white-space: nowrap;
  background-image: linear-gradient(to right bottom, rgba(3, 33, 55, 0.85), rgba(0, 0, 0, 0.85));
}

@keyframes up {
	0% {
		transform: translateY(-180px) translateX(-0px);
		opacity: 0;
	}
	100% {
		transform: translateY(-110px) translateX(-0px);
		opacity: 1;
	}
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 830px) {
  .img-wrapper {
    display: none;
  }
}

@media screen and (max-height: 600px) {
	.text {
		margin: -200px 0 0 150px;
	}
	.block {
		height: 500px;
	}
	.img-wrapper {
		top: 280px;
	}
}