@font-face {
  font-display: swap;
  font-family: 'Inter var';
  font-named-instance: 'Regular';
  font-style: normal;
  font-weight: 100 900;
  src: url('files/Inter-roman.var.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter var';
  font-named-instance: 'Italic';
  font-style: italic;
  font-weight: 100 900;
  src: url('files/Inter-italic.var.woff2') format('woff2');
}

:root { font-family: Inter, sans-serif; }

@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
  font-family: 'Inter var', sans-serif;
}

body * {
  font-family: 'Inter var', sans-serif;
}
