.navigation {
  -moz-transition: ease-in 1s;
  -o-transition: ease-in 1s;
  -webkit-transition: ease-in 1s;
  background-color: transparent; 
  height: 8rem;
  margin: 0 -4vw;
  position: fixed;
  transition: all 1s;
  transition: all 1s ease-in;
  transition: ease-in 1s;
  transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  width: 100vw;
  z-index: 1000;
  // transition-delay: 1s;

  &__container {
   align-items: center;
   background-color: transparent;
   display: flex;
   height: 6.7rem;
   justify-content: flex-start;

   &--logo { 
      height: 3rem;
      margin-left: 4vw;
      margin-top: 1rem;
      padding-right: 1rem;
      width: 12rem;
   }

   &--search {
      color: #fff;
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      margin-top: 3rem;
      padding-right: 4vw;

      &__subscribe { 
         margin-left: 4vw;
      }

      &__input {
         background: $color-background;
         border: 0;
         border: 1px solid #fff;
         color: #fff;
         cursor: pointer;
         font-size: 1.4rem;
         opacity: 0;
         outline: none;
         padding: 10px;
         padding-right: 2rem;
         transition: width .5s;
         width: 0;
         
            &:focus {
               cursor: text;
               opacity: 1;
               padding-left: 4rem;
               width: 22rem;
            }
      }
   }
   &--newsearch {
      color: #fff;
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      margin-top: 2rem;
      padding-right: 4vw;

      &__subscribe { 
         margin-left: 4vw;
      }

      &__input {
         background: $color-background;
         border: 0;
         border: 1px solid #fff;
         color: #fff;
         cursor: pointer;
         font-size: 1.4rem;
         opacity: 0;
         outline: none;
         padding: 10px;
         padding-right: 2rem;
         transition: width .5s;
         width: 0;
         
            &:focus {
               cursor: text;
               opacity: 1;
               padding-left: 4rem;
               width: 22rem;
            }
      }
   }
  }
}

.logo {
  cursor: pointer;
  height: 2.2rem;
  transform: translateX(2.7rem) translateY(.5rem);
  width: 2.2rem;
  margin-top: -.2rem;
}

.hide {
   display: none !important;
}

.btnSubscribe {
   background-color: transparent; 
   border: 0;
   border-radius: .4vw;
   // border-radius: 15px;  
   color: #fff;
   cursor: pointer;
   font-size: 2rem;
   font-weight: 700;
   margin-right: 1rem;
   outline: none;
   padding-bottom: 1rem;
   padding-left: 3.5rem;
   padding-right: 1rem;
   @media only screen and (max-width: $bp-small) {
     width: 90vw;
   }
   
}