.login-modal {
  overflow-y: hidden;

  .modal__content {
    height: 100vh;
    max-height: 100vh;
    max-width: unset;
    min-height: 100vh;
    padding: 50px 0;
    width: 100%;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    // sass-lint:disable no-vendor-prefixes
    &::-webkit-scrollbar {
      width: 0;
    }

    .modal__content {
      padding: 0;
    }
  }
}

.login-page {
  align-items: center;
  border-radius: 5px;
  display: flex;
  height: max-content;
  min-height: 100%;
  justify-content: center;
  margin: 0;
  overflow-y: hidden;
  padding: 0 30px;

  input {
    &[type="checkbox"] {
      appearance: none;
      max-height: 18px;
      max-width: 18px;
      min-height: 18px;
      min-width: 18px;
      position: relative;

      &:checked {
        &::after {
          top: 0;
          left: 0;
          color: $gray;
          background-color: transparent;
          height: 100%;
          width: 100%;
          content: "✓";
          font-size: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  &-large-logo-mode {
    padding: 0;

    .login-page__login-box {
      height: 100%;
      justify-content: space-evenly;
      max-width: 500px;
      min-height: 600px;
      width: 100%;
    }

    .login-page__logo {
      margin-bottom: 20px;
      max-height: 250px;
      max-width: 350px;
      width: 100%;
    }
  }

  .loader {
    height: auto;
    margin-top: 10px;
  }

  &__background {
    background-color: $darkestgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    user-select: none;
    width: 100vw;

    &--default {
      background: linear-gradient($lightestgray, $lightgray);
    }
  }

  h1 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
  }

  &__login-box {
    align-items: center;
    background: $white;
    border: 1px solid $mediumgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: space-evenly;
    max-width: 400px;
    min-height: 550px;
    padding: 50px 30px 20px;
    position: relative;
    width: 100%;
  }

  button {
    cursor: pointer;
  }

  &__private-key-form {
    border-radius: 10px;
    max-width: 500px;
    padding: 5px 20px 20px;
    width: 100%;

    &__actions {
      display: flex;
      justify-content: center;
    }

    input {
      font-size: 12px;
    }

    button {
      flex: 1 1 auto;
      height: 40px;
      padding: 5px;
      width: 150px;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &.login-page__private-key-form__button-submit {
        background-color: $blue;
        border: 1px solid $blue;
        color: $white;
      }
    }
  }

  .labelled-field {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    label {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.03em;
      margin-bottom: 8px;
    }

    input {
      height: 40px;
      padding: 5px 10px;
    }
  }

  &__logo {
    margin-bottom: 20px;
    object-fit: contain;
    width: 160px;
  }

  &__logo-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;

    .login-page__logo {
      margin-bottom: 0;
      padding: 0 5px 15px;
    }

    .login-page__tagline {
      align-items: center;
      color: $black;
      display: flex;
      flex-direction: column;
      font-size: 10px;
      font-weight: 300;
      justify-content: center;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      user-select: none;

      &__image {
        height: 20px;
        margin-top: 10px;

        * {
          fill: $black;
          stroke: $black;
        }
      }
    }
  }

  &__login-button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 12px;
    height: 46px;
    margin: 5px 0;
    outline: 0;
    width: 191px;

    &:focus,
    &.focus,
    &.active {
      filter: drop-shadow(0 0 3px $blue);
    }
  }

  &__login-button-auth0 {
    background-color: $blue;
    color: $white;
    font-size: 18px;
  }

  &__login-button-cancel,
  &__login-button-create {
    background-color: $white;
    border: 0.75px solid $gray;
    color: $black;
  }

  &__login-button-pk {
    font-size: 10px;
    height: 23px;
  }

  &__login-button-image {
    padding: 0;

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  &__terms-button {
    background: transparent;
    bottom: 20px;
    font-size: 9px;
    height: 20px;
    justify-self: flex-end;
    letter-spacing: 0.05em;
    position: absolute;

    &.login-page__terms-button {
      border: 0;
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__text-section {
    margin-top: 100px;

    * {
      color: $gray;
    }
  }

  &__terms,
  &__consent {
    font-size: 10px;
    margin: 0 auto;
    max-width: 350px;
    text-align: center;

    a {
      color: $lightblue;
    }

    &-checkbox {
      cursor: pointer;
      margin-right: 10px;
    }

    &-label {
      cursor: pointer;
      font-weight: normal;
    }
  }

  &__eluvio-terms {
    padding-top: 30px;
  }

  &__consent {
    align-items: center;
    display: flex;
    padding-top: 10px;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    padding: 0;

    &__background {
      display: none;
    }

    &__login-box {
      height: 100%;
      max-width: unset;
      min-height: 100vh;
      padding: 75px 10px 100px;
      width: 100%;
      border: 0;
    }

    &__terms-modal {
      .modal__content {
        bottom: 0;
        top: 0;
        width: 100%;
      }
    }

    &-large-logo-mode {
      .login-page__login-box {
        flex: 1 1 100%;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        min-height: 100%;
        min-width: 100%;
        width: 100%;
      }
    }
  }

  &:not(.login-page--dark) {
    * {
      color: $black;
    }

    a {
      color: $lightblue;
    }

    .login-page__login-button-sign-in,
    .login-page__private-key-form__button-submit {
      color: $white;
    }
  }

  &--dark {
    .loader {
      background: $black;

      .lds-default div {
        background: rgba(255, 255, 255, 0.5);
      }
    }

    .login-page__background--default {
      background: linear-gradient($darkestgray, $black);
    }

    .login-page__login-box {
      background: $black;
      border: 1px solid $darkergray;
    }

    .login-page__logo {
      * {
        fill: $white;
        stroke: $white;
      }
    }

    .login-page__logo-container {
      .login-page__tagline {
        color: $lightgray;

        &__image {
          * {
            fill: $white;
            stroke: $white;
          }
        }
      }
    }

    .login-page__text-section {
      * {
        color: $darkgray;
      }

      a {
        color: $blue;
      }
    }

    .login-page__private-key-form {
      button {
        color: $white;
      }

      input {
        background: $white;
        color: $black;
      }
    }

    .login-page__login-button {
      border: 0;
    }

    .login-page__login-button-cancel,
    .login-page__login-button-create {
      background-color: $black;
      border: 0.75px solid $gray;
      color: $white;
    }

    .login-page__terms {
      a {
        color: $blue;
      }
    }

    @media screen and (max-width: $mobile-breakpoint) {
      .login-page__login-box {
        border: 0;
      }
    }
  }
}
