img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.active-background {
  height: 100vh !important;
  margin: 0;
  position: absolute;
  width: 100%;
}

.active-view-container {
  align-self: start;
  display: grid;
  grid-row-gap: 1.2rem;
//   height: 100%;
//   background-color: black;
//   margin-left: 10vw;
//   margin-right: 10vw;
    height: max-content;
  grid-template-rows: 53.5vh [title-start] min-content [title-end timer-start] min-content [timer-end button-start] min-content [button-end overview-start] min-content ;
  grid-template-columns: repeat(auto-fill, 100vw);

  margin-bottom: 3rem;
  position: relative;
  width: 100% !important;

  &__logo {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    grid-row: title-start / title-start;
    
    height: 20.4rem;
    width: 51rem;
    margin: auto;
    @media only screen and (max-width: $bp-small-3) {
        height: 18rem;
        margin: auto;
        width: 45rem;
    }  

    @media only screen and (max-width: $bp-small) {
        height: 16rem;
        margin: auto;
        width: 40rem;
    }

    @media only screen and (max-width: $bp-tiny-2) {
        height: 12.8rem;
        margin: auto;
        width: 32rem;
    }
  }  
  &__logo2 {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    grid-row: title-start / title-start;
    height: 190px;
    width: auto;
    margin: auto;
    @media only screen and (max-width: $bp-small-3) {
        height: 18rem;
        margin: auto;
        width: auto;
    }  

    @media only screen and (max-width: $bp-small) {
        height: 16rem;
        margin: auto;
        width: auto;
    }

    @media only screen and (max-width: $bp-tiny-2) {
        height: 12.8rem;
        margin: auto;
        width: auto;
    }
  } 
    &__logo3 {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10+ and Edge */
        user-select: none; /* Standard syntax */
        grid-row: title-start / title-start;
        height: auto;
        width: 800px;
        margin: auto;
        padding-top: 70px;
        margin-bottom: 0px;
  }   

    &__heading {
        grid-row: title-start / title-end;
        display: grid;
        flex-direction: column;
        .name{
            // font-size: 60px;
            font-size: calc(min(calc(max(15vw, 55px)), 95px));
            color: white;
            font-weight: bold;
            text-shadow: white 0px 0px 3px;
            text-transform: uppercase;
            letter-spacing: 10px;
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10+ and Edge */
            user-select: none; /* Standard syntax */
            // margin: auto;
            margin-bottom: -5px;
            padding-top: 40px;
            text-align: center;
        }
        .logoMad {
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10+ and Edge */
            user-select: none; /* Standard syntax */
            height: auto;
            width: 800px;
            margin: auto;
            margin-bottom: -10px;
            padding-top: 40px;
            @media only screen and (max-width: 1200px) {
                width: 700px;
            }
            @media only screen and (max-width: 800px) {
                width: 600px;
            }
        }
        .logoSeries {
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10+ and Edge */
            user-select: none; /* Standard syntax */
            height: auto;
            width: 850px;
            margin: auto;
            margin-bottom: -25px;
            padding-top: 0px;
        }
        .logoFilm {
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10+ and Edge */
            user-select: none; /* Standard syntax */
            height: auto;
            width: 600px;
            margin: auto;
            margin-bottom: 20px;
            padding-top: 0px;
          }
        .logoMer {
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10+ and Edge */
            user-select: none; /* Standard syntax */
            height: 190px;
            width: 600px;
            margin: auto;
            margin-bottom: 20px;
            object-fit: cover !important;
            object-position: 0px -60px !important;
            // padding-top: 20px;


          }  
        .premiereDate{
            font-size: 30px;
            letter-spacing: 7px;
            text-shadow: white 0px 0px 3px;
            font-weight: bold;
            color: white;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
            text-align: center;
            margin-bottom: 3px;
            -webkit-user-drag: none;
            text-transform: uppercase;
        }
        .filmDate{
            font-size: 30px;
            letter-spacing: 6px;
            text-shadow: white 0px 0px 3px;
            font-weight: bold;
            color: white;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
            text-align: center;
            margin-bottom: -10px;

            -webkit-user-drag: none;
            text-transform: uppercase;
        }  
        .location{
            font-size: 35px !important;
            // font-size: calc(min(calc(max(10vw, 55px)), 40px));

            color: white;
            text-shadow: white 0px 0px 3px;
            text-transform: uppercase;
            letter-spacing: 10px;
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10+ and Edge */
            user-select: none; /* Standard syntax */
            font-weight: 700 !important;
            margin-bottom: 8px;
            width: 100%;
            text-align: center;
            @media only screen and (max-width: 1200px) {
                font-size: 32px !important;
            }
            @media only screen and (max-width: 1000px) {
                font-size: 28px !important;
            }
            @media only screen and (max-width: 800px) {
                margin-top: 10px;
                font-size: 26px !important;
                letter-spacing: 4px;
                line-height: 40px;
            }

        }
        .time{
            font-size: 25px;
            font-size: calc(min(calc(max(15vw, 18px)), 25px));

            letter-spacing: 2px;
            text-shadow: white 0px 0px 3px;

            font-weight: bold;
            color: white;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
            text-align: center;
            -webkit-user-drag: none;
            text-transform: uppercase;
            @media only screen and (max-width: 500px) {
                font-size: 22px;
                letter-spacing: -.5px;
                // width: 80%;
                // margin: auto;

            }
        }
  }

  &__premiere {
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    color: white;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    text-transform: uppercase;
    grid-row: button-start / button-end;
}

  &__timer {
      grid-row: timer-start / timer-end;
  }

  &__button {
    margin: auto;
    flex-direction: row;
    display: flex;
    grid-row: timer-start / timer-end;
    margin-top: -5px;
    @media only screen and (max-width: 800px) {
        display: none !important;
    }
  }

  &__dropdown {
    grid-row: button-start / button-end;
    width: 20rem;
 }

    &__overview {
        grid-row-start: overview-start;
        margin-top: 10px;
        margin-left: 12.5vw;
        margin-right: 12.5vw;
        background-color: transparent;
        height: max-content;

  }
}
