img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.active-background {
  height: 100vh !important;
  margin: 0;
  position: absolute;
  width: 100%;
}

.active-view-container {
  align-self: start;
  display: grid;
  grid-row-gap: 1.2rem;
//   height: 100%;
//   background-color: black;
//   margin-left: 10vw;
//   margin-right: 10vw;

  grid-template-rows: 53.5vh [title-start] min-content [title-end timer-start] min-content [timer-end button-start] min-content [button-end overview-start] min-content ;
  grid-template-columns: repeat(auto-fill, 100vw);

  margin-bottom: 3rem;
  position: relative;
  width: 100% !important;


//   &__done {
//       margin-top: 10rem;
//       height: auto;
      
//       @media only screen and (max-width: $bp-medium) {
//           margin-top: 5rem;
//       }

//       @media only screen and (max-width: $bp-small-2) {
//           margin-top: 2.5rem;
//       }

//       @media only screen and (max-width: $bp-small) {
//           margin-top: 1rem;
//       }
//   }

  &__logo {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    grid-row: title-start / title-start;
    
    height: 20.4rem;
    width: 51rem;
    margin: auto;
    @media only screen and (max-width: $bp-small-3) {
        height: 18rem;
        margin: auto;
        width: 45rem;
    }  

    @media only screen and (max-width: $bp-small) {
        height: 16rem;
        margin: auto;
        width: 40rem;
    }

    @media only screen and (max-width: $bp-tiny-2) {
        height: 12.8rem;
        margin: auto;
        width: 32rem;
    }
  }  
  &__logo2 {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    grid-row: title-start / title-start;
    height: 190px;
    width: auto;
    margin: auto;
    @media only screen and (max-width: $bp-small-3) {
        height: 18rem;
        margin: auto;
        width: auto;
    }  

    @media only screen and (max-width: $bp-small) {
        height: 16rem;
        margin: auto;
        width: auto;
    }

    @media only screen and (max-width: $bp-tiny-2) {
        height: 12.8rem;
        margin: auto;
        width: auto;
    }
  } 
    &__logo3 {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10+ and Edge */
        user-select: none; /* Standard syntax */
        grid-row: title-start / title-start;
        height: auto;
        width: 800px;
        margin: auto;
        padding-top: 70px;
        margin-bottom: 0px;

    // @media only screen and (max-width: $bp-small-3) {
    //     height: 18rem;
    //     margin: auto;
    //     width: auto;
    // }  

    // @media only screen and (max-width: $bp-small) {
    //     height: 16rem;
    //     margin: auto;
    //     width: auto;
    // }

    // @media only screen and (max-width: $bp-tiny-2) {
    //     height: 12.8rem;
    //     margin: auto;
    //     width: auto;
    // }
  }   

    &__heading {
        grid-row: title-start / title-end;
        display: grid;
        flex-direction: column;
        .name{
            // font-size: 60px;
            font-size: calc(min(calc(max(15vw, 55px)), 95px));
            color: white;
            font-weight: bold;
            text-shadow: white 0px 0px 3px;
            text-transform: uppercase;
            letter-spacing: 10px;
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10+ and Edge */
            user-select: none; /* Standard syntax */
            // margin: auto;
            margin-bottom: -5px;
            padding-top: 40px;
            text-align: center;
        }
        .logoMad {
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10+ and Edge */
            user-select: none; /* Standard syntax */
            height: auto;
            width: 800px;
            margin: auto;
            margin-bottom: -10px;
            padding-top: 40px;
            @media only screen and (max-width: 1200px) {
                width: 700px;
            }
            @media only screen and (max-width: 800px) {
                width: 600px;
            }
        }
        .logoSeries {
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10+ and Edge */
            user-select: none; /* Standard syntax */
            height: auto;
            width: 850px;
            margin: auto;
            margin-bottom: -25px;
            padding-top: 0px;
        }
        .logoFilm {
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10+ and Edge */
            user-select: none; /* Standard syntax */
            height: auto;
            width: 600px;
            margin: auto;
            margin-bottom: 20px;
            padding-top: 0px;
          }
        .logoMer {
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10+ and Edge */
            user-select: none; /* Standard syntax */
            height: 190px;
            width: 600px;
            margin: auto;
            margin-bottom: 20px;
            object-fit: cover !important;
            object-position: 0px -60px !important;
            // padding-top: 20px;


          }  
        .premiereDate{
            font-size: 30px;
            letter-spacing: 7px;
            text-shadow: white 0px 0px 3px;
            font-weight: bold;
            color: white;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
            text-align: center;
            margin-bottom: 3px;
            -webkit-user-drag: none;
            text-transform: uppercase;
        }
        .filmDate{
            font-size: 30px;
            letter-spacing: 6px;
            text-shadow: white 0px 0px 3px;
            font-weight: bold;
            color: white;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
            text-align: center;
            margin-bottom: -10px;

            -webkit-user-drag: none;
            text-transform: uppercase;
        }  
        .location{
            font-size: 35px !important;
            // font-size: calc(min(calc(max(10vw, 55px)), 40px));

            color: white;
            text-shadow: white 0px 0px 3px;
            text-transform: uppercase;
            letter-spacing: 10px;
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10+ and Edge */
            user-select: none; /* Standard syntax */
            // margin: auto;
            // padding-top: 8rem;

            // margin-bottom: -25px;
            // padding-top: 70px;
            // font-size: 65px;
            font-weight: 700 !important;
            margin-bottom: 8px;
            width: 100%;
            text-align: center;
            @media only screen and (max-width: 1200px) {
                font-size: 32px !important;
            }
            @media only screen and (max-width: 1000px) {
                font-size: 28px !important;
            }
            @media only screen and (max-width: 800px) {
                margin-top: 10px;
                font-size: 26px !important;
                letter-spacing: 4px;
                line-height: 40px;
            }

        }
        .time{
            font-size: 25px;
            font-size: calc(min(calc(max(15vw, 18px)), 25px));

            letter-spacing: 2px;
            text-shadow: white 0px 0px 3px;

            font-weight: bold;
            color: white;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
            text-align: center;
            -webkit-user-drag: none;
            text-transform: uppercase;
            @media only screen and (max-width: 500px) {
                font-size: 22px;
                letter-spacing: -.5px;
                // width: 80%;
                // margin: auto;

            }
        }

    //   @media only screen and (max-width: $bp-medium) {
    //       font-size: 5.5rem;
    //   }

    //   @media only screen and (max-width: $bp-small-2) {
    //       font-size: 5rem;
    //   }

    //   @media only screen and (max-width: $bp-small) {
    //       font-size: 4.5rem;
    //   }
  }
//   &__heading {
//     font-size: 105px;
//     color: white;
//     font-weight: 700;
//     text-shadow: white 0px 0px 3px;
//     text-transform: uppercase;
//     letter-spacing: 6px;
//     -webkit-user-select: none; /* Safari */
//     -ms-user-select: none; /* IE 10+ and Edge */
//     user-select: none; /* Standard syntax */
//     margin: auto;
//     margin-bottom: -25px;
//     padding-top: 70px;
//     grid-row: title-start / title-end;
//     @media only screen and (max-width: $bp-large) {
//         font-size: 70px;
//     }

//     @media only screen and (max-width: $bp-medium) {
//         font-size: 5.5rem;
//     }

//     @media only screen and (max-width: $bp-small-2) {
//         font-size: 5rem;
//     }

//     @media only screen and (max-width: $bp-small) {
//         font-size: 4.5rem;
//     }
// }
  &__premiere {
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    color: white;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    text-transform: uppercase;
    grid-row: button-start / button-end;
}

  &__timer {
      grid-row: timer-start / timer-end;
  }

  &__button {
    margin: auto;
    flex-direction: row;
    display: flex;
    grid-row: timer-start / timer-end;
    margin-top: -5px;

    @media only screen and (max-width: $bp-small-2) {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & > * {
            margin-top: 1rem;
        }
    }

      @media only screen and (max-width: $bp-small-2) {
          font-size: 3rem;
          font-weight: 600;
      }

      @media only screen and (max-width: $bp-small) {
          font-size: 2.7rem;
          font-weight: 500;
      }
  }

  &__dropdown {
    grid-row: button-start / button-end;
    width: 20rem;
 }

    &__overview {
        grid-row-start: overview-start;
        margin-top: 10px;
        margin-left: 12.5vw;
        margin-right: 12.5vw;
        background-color: transparent;
        height: 100%;

  }
}

.activeTabs {
   
  width: 100%;
  // z-index: 5000;
  &__tabs {
      align-items: flex-end;
      border-bottom: 2px solid #7f7f7f;
      color: #fff;
      display: flex;
      // padding-bottom: $elv-spacing-s;
      font-family: inherit;
      font-family: inherit;
      font-size: 3.5rem;
      // height: 5rem;
      font-weight: bold !important;
      justify-content: flex-start;
      margin-top: $elv-spacing-s;
      padding-top: 1rem;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      width: 100%;

      button {

          background: transparent;
          border: 0;
          border-bottom: 3px solid transparent;
          color: $elv-color-lightestgray;
          cursor: pointer;
          font-size: 1.8rem;
          height: 3rem;
          font-weight: bold !important;
          // margin-left: 2rem;
          margin-right: 2rem;
          padding: 0 0 3rem;
          text-transform: uppercase;
          transition: border-bottom linear 0.15s, padding linear 0.15s;
          width: 25rem;
          &:focus {
              border-bottom: 3px solid $elv-color-text-lightest;
              outline: 0;
          }

          &.active-tab {
              border-bottom: 3px solid #fff;
          }
      }
  }

  
  &__container {
      display: flex;
      height: 100%;
      padding-top: 10rem;
      width: 100%;
      

      &__poster {
          align-self: flex-start;

          height: auto;
          max-height: 70vh;
          max-width: 40vw;
          object-fit: contain;
          object-position: center;
          width: 70rem;
      }

      &__info {
          margin-left: 10rem;
          margin-right: 10rem;
          padding: 0 $elv-spacing-m $elv-spacing-l $elv-spacing-l;

          * {
              color: #fff;
              font-size: 2rem;
              font-weight: 300;
          }
      
        //   h1 {
        //       font-size: 8rem;
        //       font-weight: 800;
        //       margin-bottom: $elv-spacing-m;
        //       text-align: left;
        //   }
      
          &__synopsis {
              text-align: left;
          }
      
          &__details-section {
              border-radius: $elv-spacing-xxs;
              margin: $elv-spacing-m 0;
              padding: $elv-spacing-m 0;
      
              &:not(:empty) {
                  border-bottom: 2px solid #7f7f7f;
                  // border-bottom: 2px solid $elv-color-darkblue;
                  border-top: 2px solid #7f7f7f;
                  
              }
          }
      
          &__detail {
              display: flex;
              flex-direction: column;
              // font-size: $elv-font-xxl;
              margin-bottom: $elv-spacing-s;
          
              * {
                  line-height: $elv-spacing-l;
                  padding: $elv-spacing-xs 0;
              }
          
              label {
                  color: $elv-color-mediumgray;
              }
          }
      
          &__copyright {
              color: $elv-color-text-lighter;
          }
      }
  }
  
}

.merch {
    font-size: 32px;
    font-weight: 800;
    margin: auto;
    padding-top: 20%;
    // margin-bottom: $elv-spacing-m;
    // text-transform: uppercase;
    text-align: center !important;
    color: white !important;
 }