.code-entry {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.code-entry {
  flex-direction: column;

  input {
    border-radius: 1px;
    font-size: 2.2rem;
    height: 5rem;
    letter-spacing: 1.5px;
    text-align: center;
    width: MIN(50rem, 90vw);

    &::placeholder {
      font-variant: all-small-caps;
    }
  }

  button {
    background-color: $color-light-blue;
    border: 0;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    height: 4rem;
    margin-top: 2rem;
    width: 15rem;
  }
}
