.hero-grid-container {
  height: 100vh;
  width: 100vw;
  margin: calc(-3vh - 4rem) -4vw;
}

.hero-grid-view-container {
    align-self: end;
    color: #fff;
    display: grid;
    grid-column: hero-start / hero-end;
    grid-row: hero-start / hero-end;
    grid-row-gap: 1.2rem;
    grid-template-rows: 60vh [title-start] minmax(4vh, min-content) [title-end timer-start] minmax(4vh, min-content) [timer-end button-start] minmax(4vh, min-content) [button-end overview-start] minmax(4vh, min-content) [overview-end] 5vh;
    &__heading {
        font-size: 6rem;
        grid-row: title-start / title-end;
        margin-left: 4vw;
    }

    &__heading-hero {
        font-size: 6rem;
        grid-row: timer-start / timer-end;
        margin-left: 4vw;

    }

    &__timer {
        grid-row: timer-start / timer-end;
        margin-left: 4vw;
    }

    &__button {
        grid-row: button-start / button-end;
        @media only screen and (max-width: $bp-small) {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & > * {
                margin-top: 1rem;
            }
        }
        margin-left: 4vw;

    }

    &__overview {
        font-size: 1.8rem;
        grid-row: overview-start / overview-end;
        line-height: 1.3;
        margin-left: 4vw;
        width: 55vw;
        @media only screen and (max-width: $bp-large) {
            font-size: 1.45rem;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 1.3rem;
        }

        @media only screen and (max-width: $bp-small-2) {
            font-size: 1.1rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1rem;
        }
    }
  }
