.hero-background {
    background-color: $color-background;
    height: 100vh;
    width: 100vw;
    margin: calc(-3vh - 4rem) -4vw;
    position: absolute;

}

.hero-view-container {
    align-self: end;
    color: #fff;
    display: grid;

    grid-row-gap: 1.2rem;
    grid-template-rows: 40% [title-start] minmax(min-content, 4vh) [title-end timer-start] minmax(min-content, 4vh) [timer-end button-start] minmax(min-content, 7vh) [button-end overview-start] minmax(min-content, 4vh) [overview-end] ;
    position: relative;
    margin-top: 30rem;


    &__heading {
        font-size: 6rem;
        grid-row: title-start / title-end;
    }

    &__heading-hero {
        font-size: 6rem;
        grid-row: timer-start / timer-end;
    }

    &__timer {
        grid-row: timer-start / timer-end;
    }

    &__button {
        grid-row: button-start / button-end;
        @media only screen and (max-width: $bp-small) {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & > * {
                margin-top: 1rem;
            }
        }
    }

    &__overview {
        font-size: 1.8rem;
        grid-row: overview-start / overview-end;
        line-height: 1.3;
        width: 55vw;

        @media only screen and (max-width: $bp-large) {
            font-size: 1.45rem;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 1.3rem;
        }

        @media only screen and (max-width: $bp-small-2) {
            font-size: 1.1rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1rem;
        }
    }
}
