.hero-grid-container {
  height: 100vh;
  margin: calc(-3vh - 4rem) -4vw;
  margin-bottom: 3rem;
  width: 100vw;
    @media only screen and (max-width: $bp-small) {
      margin-bottom: 20rem;
    }
}

.hero-grid-view-container {
  align-self: end;
  display: grid;  
  grid-row-gap: 1.2rem;
  grid-template-rows: 67.5vh [logo-start] minmax(4vh, min-content) [logo-end button-start] minmax(4vh, min-content) [button-end] minmax(4vh, min-content) 5vh;  
  &__heading {
    font-size: 6rem;
    grid-row: title-start / title-end;
    margin-left: 4vw;
  }  

  &__heading-hero {
    font-size: 6rem;
    grid-row: logo-start / logo-end;
    margin-left: 4vw;
    margin-top: 14rem;
    @media only screen and (max-width: $bp-medium) {
      font-size: 5.5rem;
    }  

    @media only screen and (max-width: $bp-small) {
      font-size: 5.3rem;
    }  
  } 
  
  &__logo {
    grid-row: logo-start / logo-end;
    height: 20.4rem;
    margin-left: 4vw;  
    width: 51rem;
    @media only screen and (max-width: $bp-small-3) {
      height: 18rem;
      margin: auto;
      width: 45rem;
    }  

    @media only screen and (max-width: $bp-small) {
      height: 16rem;
      margin: auto;
      width: 40rem;
    }

    @media only screen and (max-width: $bp-tiny-2) {
      height: 12.8rem;
      margin: auto;
      width: 32rem;
    }  
  }  

  &__timer {
    grid-row: timer-start / timer-end;
    margin-left: 4vw;
  }  

  &__button {
    grid-row: button-start / button-end;

    @media only screen and (max-width: $bp-small-3) {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & > * {
        margin-top: 1rem;
      }
    }
    margin-left: 4vw;  
  }  

  &__overview {
    font-size: 1.8rem;
    grid-row: overview-start / overview-end;
    line-height: 1.3;
    margin-left: 4vw;
    margin-top: 1rem;
    width: 55vw;
    
    @media only screen and (max-width: $bp-large) {
      font-size: 1.7rem;
    }  

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.6rem;
      width: 60vw;
    }  

    @media only screen and (max-width: $bp-small-2) {
      font-size: 1.5rem;
      width: 90vw;
    }  

    @media only screen and (max-width: $bp-small) {
      font-size: 1.4rem;
    }
  }
}



// .hero-grid-view-container {
//   align-self: end;
//   display: grid;  
//   grid-row-gap: 1.2rem;
//   grid-template-rows: 67vh [title-start] minmax(4vh, min-content) [title-end timer-start] minmax(4vh, min-content) [timer-end button-start] minmax(4vh, min-content) [button-end overview-start] minmax(4vh, min-content) [overview-end] 5vh;  
//   &__heading {
//     font-size: 6rem;
//     grid-row: title-start / title-end;
//     margin-left: 4vw;
//   }  

//   &__heading-hero {
//     font-size: 6rem;
//     grid-row: timer-start / timer-end;
//     margin-left: 4vw;  
//     @media only screen and (max-width: $bp-medium) {
//       font-size: 5.5rem;
//     }  

//     @media only screen and (max-width: $bp-small) {
//       font-size: 5.3rem;
//     }  
//   } 
  
//   &__logo {
//     grid-row: title-start / title-start;
//     margin-left: 4vw;  
//     height: 15vw;
//     width: 50vh;
//   }  

//   &__timer {
//     grid-row: timer-start / timer-end;
//     margin-left: 4vw;
//   }  

//   &__button {
//     grid-row: button-start / button-end;
//     @media only screen and (max-width: $bp-small) {
//       align-items: flex-start;
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//       & > * {
//         margin-top: 1rem;
//       }
//     }
//     margin-left: 4vw;  
//   }  

//   &__overview {
//     font-size: 1.8rem;
//     grid-row: overview-start / overview-end;
//     line-height: 1.3;
//     margin-left: 4vw;
//     width: 55vw;
    
//     @media only screen and (max-width: $bp-large) {
//       font-size: 1.7rem;
//     }  

//     @media only screen and (max-width: $bp-medium) {
//       font-size: 1.6rem;
//       width: 60vw;
//     }  

//     @media only screen and (max-width: $bp-small-2) {
//       font-size: 1.5rem;
//       width: 90vw;
//     }  

//     @media only screen and (max-width: $bp-small) {
//       font-size: 1.4rem;
//     }
//   }
// }
