.modal {
    box-shadow: 0 1.5rem 4rem rgba($color-dark, .15);
   //  color: #fff;
    height: 52rem;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5000;

    &__container {
       background: linear-gradient(90deg, #000 50%, transparent);
       height: 100%;
       padding-left: 5rem;
       padding-top: 3rem;
       width: 70%;
    }

    &__tabs {
      align-items: flex-end;
      display: flex;
      justify-content: center;
      margin-top: $elv-spacing-s;
      padding-bottom: $elv-spacing-s;
      padding-top: .8rem;
      position: absolute;
      width: 100%;

      button {
         background: transparent;
         border: 0;
         border-bottom: 3px solid transparent;
         color: $elv-color-lightestgray;
         cursor: pointer;
         font-size: 1.8rem;
         height: 3rem;
         margin-left: 2rem;
         margin-right: 2rem;
         padding: 0 0 $elv-spacing-xs;
         text-transform: uppercase;
         transition: border-bottom linear 0.15s, padding linear 0.15s;
         width: 15rem;


         &:focus {
         border-bottom: 1px solid $elv-color-text-lightest;
         outline: 0;
         }

         &.active-tab {
         border-bottom: 3px solid $elv-color-text-lightest;
         }
      }
   }

   &__dropdown {
      margin-left: 11rem;
      margin-top: -10rem;
      width: 20rem;
   }

    &__title {
       font-size: 4rem;
       padding-top: 3rem;
    }

    &__rating {
       color: $color-green-modal;
       font-size: 2rem;
    }

    &__info {
       font-size: 2rem;
       padding-top: 1.6rem;
       width: 60%;
    }

    &__overview {
       color: $color-modal-grey-2;
       font-size: 2rem;
       hyphens: auto;
       line-height: 1.2;
       padding-top: 2rem;
       width: 60%;

       &--cast {
         font-size: 1.7rem;
      }
    }

   &__btn {
      background-color: transparent;
      border: .5px solid $color-modal-grey-2;
      border-radius: 2px;
      // color: #fff;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 700;
      margin-right: 1rem;
      margin-top: 2rem;
      padding: 1rem 2rem 1rem 2rem;
      transition: all .2s;

      &:hover {
         transform: scale(1.09);
      }

      &--red {
         background-color: $color-red-2;
         border: 0;
         height: 50px;
         margin-right: 1rem;
         width: 100px;
      }

      &--icon {
         fill: #fff;
         height: 1.4rem;
         padding-right: 1rem;
         width: 1.4rem;
      }
   }
}

.show {
   // transition: .5s .3s ease-out;
   left: 0;
   opacity: 1;
   top: 25%;
   visibility: visible;
}

.hide {
   display: none !important;
}
