.premiere-background {
    height: 100vh;
    margin: calc(-3vh - 4rem) -4vw;
    position: absolute;
    width: 100vw;
}

.premiere-view-container {
    align-self: start;
    display: grid;
    grid-row-gap: 1.2rem;
    
    grid-template-rows: 40vh [title-start] min-content [title-end timer-start] min-content [timer-end button-start] min-content [button-end overview-start] min-content ;
    @media only screen and (max-width: $bp-medium-2) {
        grid-template-rows: 47.5vh [title-start] min-content [title-end timer-start] min-content [timer-end button-start] min-content [button-end overview-start] min-content [overview-end] ;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 45vh [title-start] min-content [title-end timer-start] min-content [timer-end button-start] min-content [button-end overview-start] min-content [overview-end];
    }

    @media only screen and (max-width: $bp-small-2) {
        grid-template-rows: 40vh [title-start] min-content [title-end timer-start] min-content [timer-end button-start] min-content [button-end overview-start] min-content [overview-end];
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-rows: 35vh [title-start] min-content [title-end timer-start] min-content [timer-end button-start] min-content [button-end overview-start] min-content [overview-end];
    }
    margin-bottom: 3rem;
    position: relative;
    width: 100vw !important;


    &__done {
        margin-top: 10rem;
        width: 100vw !important;

        @media only screen and (max-width: $bp-medium) {
            margin-top: 5rem;
        }

        @media only screen and (max-width: $bp-small-2) {
            margin-top: 2.5rem;
        }

        @media only screen and (max-width: $bp-small) {
            margin-top: 1rem;
        }
    }

    &__logo {
        grid-row: title-start / title-start;
        height: 22rem;
        width: 51rem;
    }  

    &__heading {
        font-size: 6rem;
        grid-row: title-start / title-end;
        @media only screen and (max-width: $bp-large) {
            font-size: 5.75rem;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 5.5rem;
        }

        @media only screen and (max-width: $bp-small-2) {
            font-size: 5rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 4.5rem;
        }
    }

    &__timer {
        grid-row: timer-start / timer-end;
    }

    &__button {
        grid-row: button-start / button-end;
        @media only screen and (max-width: $bp-small-2) {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & > * {
                margin-top: 1rem;
            }
        }

        @media only screen and (max-width: $bp-small-2) {
            font-size: 3rem;
            font-weight: 600;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 2.7rem;
            font-weight: 500;
        }
    }

    &__overview {
        grid-row-start: overview-start;
        margin-top: 1rem;
    }
}

.premiereTabs {
    position: relative;

    width: 100%;
    // z-index: 5000;
    &__tabs {
        align-items: flex-end;
        border-bottom: 2px solid #7f7f7f;
        color: #fff;
        display: flex;
        // padding-bottom: $elv-spacing-s;
        font-family: inherit;
        font-family: inherit;
        font-size: 3.5rem;
        // height: 5rem;
        font-weight: 500;
        justify-content: flex-start;
        margin-top: $elv-spacing-s;
        padding-top: 1rem;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        font-weight: bold !important;

        button {
            background: transparent;
            border: 0;
            border-bottom: 3px solid transparent;
            color: $elv-color-lightestgray;
            cursor: pointer;
            font-size: 1.8rem;
            height: 3rem;
            // margin-left: 2rem;
            font-weight: bold !important;

            margin-right: 2rem;
            padding: 0 0 3rem;
            text-transform: uppercase;
            transition: border-bottom linear 0.15s, padding linear 0.15s;
            width: 25rem;
            border-radius: 0px !important;
            &:focus {
                border-bottom: 3px solid $elv-color-text-lightest;
                outline: 0;
            }

            &.active-tab {
                // padding-top: 10px;
                border-bottom: 3px solid #fff;
            }
        }
    }

    &__container {
        display: flex;
        height: 100%;
        padding-top: 10rem;
        width: 75vw;
        @media only screen and (max-width: $bp-large) {
            flex-direction: column;
        }

        &__dropdown {
            margin-top: 2rem;
            width: 20rem;
            // align-self: flex-start;
        }

        &__poster {
            align-self: flex-start;

            height: auto;
            max-height: 70vh;
            max-width: 40vw;
            object-fit: contain;
            object-position: center;
            width: 70rem;
            @media only screen and (max-width: $bp-large) {
                align-self: center;
                max-width: 100vw;
            }
        }

        &__info {
            margin-left: 50px;
            // margin-right: 10rem;
            padding: 0 $elv-spacing-m $elv-spacing-l $elv-spacing-l;
            @media only screen and (max-width: $bp-large) {
                margin-left: 0;
                margin-right: 0;
            }

            * {
                color: #fff;
                font-size: 18px;
                font-weight: 300;
            }
        
            .h1Props {
                font-size: 65px;
                font-weight: 800;
                margin-bottom: $elv-spacing-m;
                width: 100%;
                text-align: left;
                
                // overflow: hidden;
                // white-space:nowrap;
            }
        
            &__synopsis {
                text-align: left;
                font-size: 18px;
            }
        
            &__details-section {
                border-radius: $elv-spacing-xxs;
                margin: $elv-spacing-m 0;
                padding: $elv-spacing-m 0;
        
                &:not(:empty) {
                    border-bottom: 2px solid #7f7f7f;
                    // border-bottom: 2px solid $elv-color-darkblue;
                    border-top: 2px solid #7f7f7f;
                    
                }
            }
        
            &__detail {
                display: flex;
                flex-direction: column;
                // font-size: $elv-font-xxl;
                margin-bottom: $elv-spacing-s;
                width: 100%;
                
            
                * {
                    line-height: $elv-spacing-l;
                    padding: $elv-spacing-xs 0;
                }
            
                label {
                    color: white;
                    font-weight: bold;
                    font-size: 18px;
                    // text-decoration: underline;
                }
            }
        
            &__copyright {
                color: white;
                text-transform: capitalize;
            }
        }
    }

    &__episode-container {
        display: flex;
        flex-direction: column;
        height: 100%;        

        width: 100%;
        &__dropdown {
            display: block !important;
            margin-top: -14rem;
            padding-top: 10rem;
            width: 22rem;
            z-index: 99999999;
        }

        &__episodes {
            padding-top: 5rem;
        }
    }
    
    
}
