// @import "~elv-components-js/src/stylesheets/defaults";
// @import "~elv-components-js/src/stylesheets/styles";

.site-selector {
  @include elv-no-select;
  align-items: center;
  color: #fff;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-top: 3rem;
  width: 100%;

  .menu-filter {
    margin-bottom: $elv-spacing-xs;
    width: 100%;

    input {
      width: 100%;
    }
  }

  h1 {
    margin-bottom: $elv-spacing-s;
    text-align: center;
    width: 100%;
  }

  h4 {
    @include elv-ellipsis;
    align-items: center;
    color: $elv-color-text-lightest;
    display: flex;
    font-size: $elv-font-xl;
    margin-bottom: $elv-spacing-s;
    text-align: center;
    width: 100%;
  }

  .back-button {
    margin-right: $elv-spacing-xs;
    position: relative;
  }

  .menu-page-controls {
    align-items: center;
    display: flex;
    height: 4rem;
  }

  .menu-entries {
    width: MIN(50rem, 90vw);
  }

  ul {
    flex-direction: column;
    width: 100%;
  }

  li {
    @include elv-ellipsis;
    background-color: transparent;
    border: 1px solid $elv-color-darkgray;
    border-radius: $elv-spacing-xs;
    color: $elv-color-text-white;
    cursor: pointer;
    display: block;
    font-weight: 500;
    margin-bottom: $elv-spacing-xs;
    padding: $elv-spacing-s $elv-spacing-xs;
    text-align: center;
    width: 100%;

    &:hover {
      background-color: $color-light-blue;
      border: 1px solid $color-light-blue;
      color: $elv-color-text-white;
    }
  }

  .tabs {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    margin-top: $elv-spacing-s;
    padding-bottom: $elv-spacing-s;
    width: 100%;

    button {
      background: transparent;
      border: 0;
      border-bottom: 3px solid transparent;
      color: $elv-color-lightestgray;
      cursor: pointer;
      font-size: 1.15rem;
      height: 3rem;
      padding: 0 0 $elv-spacing-xs;
      transition: border-bottom linear 0.15s, padding linear 0.15s;
      width: 20rem;

      &:focus {
        border-bottom: 1px solid $elv-color-text-lightest;
        outline: 0;
      }

      &.active-tab {
        border-bottom: 3px solid $elv-color-text-lightest;
      }
    }
  }
}
