.title-grid {
  align-content: start;
  // color: #fff;
  height: 100%;
  justify-content: start;
  margin-top: 7.2rem;

  width: 100%;

  &__trailer {
      padding-top: 1rem;
  }

  &__search {
      // grid-column: hero-start / hero-end;
      grid-row-start: search-start;
      margin-top: 10vh;
  }
}

.title-grid-container {
  display: grid;
  grid-column-gap: 2rem;
  // grid-template-columns: repeat(autofill, 10rem);
  grid-row-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.title-heading {
  // color: #fff;
  padding-bottom: 1.6rem;
}
