.active-title-video {
  height: 100vh;
  margin: 0 -4vw;
  width: 100vw;
  z-index: 1000000;

    video {
      background-color: $elv-color-black;
      border-radius: 0.5rem;
      cursor: pointer;
      height: 100vh;
      max-height: 100vh;
      scroll-margin: 10rem;
      width: 100vw;
      z-index: 1000000;
    }
}

.back-button__video {
  background-color: $elv-color-bg-dark;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 400;
  left: 0;
  margin-left: 3vw;
  margin-top: 3rem;
  padding: $elv-spacing-xs;
  position: absolute;
  stroke: $elv-color-mediumgray;

  width: 5rem;
  z-index: 10000000000;

  &:hover {
    background-color: $elv-color-darkgray;
    stroke: $elv-color-lightgray;
  }
}

.back-button__modal {
  background-color: $elv-color-bg-dark;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 400;
  right: 20px;
  top: 20px;

  // @media only screen and (max-width: $bp-medium-2) {
  //   margin-left: 90vw;
  // }
  // @media only screen and (max-width: $bp-medium) {
  //   margin-left: 88vw;
  // }

  // @media only screen and (max-width: $bp-small-2) {
  //   margin-left: 87vw;
  //   margin-top: 7rem;

  // }
  // @media only screen and (max-width: $bp-small) {
  //   margin-l
  // }

  padding: $elv-spacing-xs;
  position: absolute;
  stroke: $elv-color-mediumgray;

  width: 5rem;
  z-index: 100000;

  &:hover {
    background-color: $elv-color-darkgray;
    stroke: $elv-color-lightgray;
  }
}
