//GRID HEADER
.header {
    grid-column: header-start / header-end;
    grid-row: header-start / header-end;
    position: relative;
    display: grid;
    grid-template-columns: [logo-start] minmax(min-content, 15rem) [logo-end search-start] 1fr [search-end];

    //LOGO
    &__logo {
        // position: absolute;
        grid-column: logo-start / logo-end;
        height: 3rem;
        width: 12rem;
    }

    //SEARCH BAR
    &__search {
        // position: absolute;
        grid-column: search-start / search-end;
        justify-self: end;
        background: transparent;
        opacity: .9;
        
        &__input {
            background-color: var(--color-grey-light-2);
            border: 0;
            border-radius: 100px;
            font-family: inherit;
            font-size: inherit;
            padding: .7rem 2rem;
            transition: all .2s;
            width: 50rem;
            &:focus {
                background-color: var(--color-grey-light-3);
                outline: none;
            }

            &::-webkit-input-placeholder {
                color: var(--color-grey-light-4);
                font-weight: 100;
            }
        }

        &__input:focus+&__button {
            background-color: var(--color-grey-light-3);
            opacity: 1;
        }

        &__button {
            background-color: var(--color-grey-light-2);
            border: 0;
            &:focus {
                outline: none;
            }

            &:active {
                transform: translateY(2px);
            }
        }
    }
}