.header {
    align-items: center;
    border-bottom: var(--color-grey-light-2);
    display: flex;
    font-size: 1.4rem;
    height: 7rem;
    justify-content: space-between;
    padding: 4.5rem;
    position: absolute;
    width: 100%;

    //LOGO
    &__logo {
        height: 3rem;
        width: 12rem;
    }

    //SEARCH BAR
    &__search {
        background: transparent;
        opacity: .9;
        
        &__input {
            background-color: var(--color-grey-light-2);
            border: 0;
            border-radius: 100px;
            font-family: inherit;
            font-size: inherit;
            padding: .7rem 2rem;
            transition: all .2s;
            width: 50rem;
            &:focus {
                background-color: var(--color-grey-light-3);
                outline: none;
            }

            &::-webkit-input-placeholder {
                color: var(--color-grey-light-4);
                font-weight: 100;
            }
        }

        &__input:focus+&__button {
            background-color: var(--color-grey-light-3);
            opacity: 1;
        }

        &__button {
            background-color: var(--color-grey-light-2);
            border: 0;
            &:focus {
                outline: none;
            }

            &:active {
                transform: translateY(2px);
            }
        }
    }
}
