.contact-page {
  padding: 120px 15px;

  &__header,
  &__subheader {
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 0.045em;
    margin: 0 auto 40px;
    max-width: 1100px;
    text-align: center;
  }

  &__subheader {
    font-size: 20px;
    max-width: 850px;
  }

  &__contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px auto 20px;
    max-width: 800px;

    &-header {
      font-size: 30px;
      font-weight: 300;
    }
  }

  &__contact-details {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;

    label {
      font-weight: normal;
      padding-right: 10px;
      text-align: right;
    }

    .contact-page__label-value {
      font-weight: 300;
      padding-left: 10px;

      a {
        color: #1b73e8;
      }
    }
  }

  @media only screen and (max-width: 900px) {
    padding: 100px 25px 165px;

    &__header {
      font-size: 32px;
    }

    &__subheader {
      font-size: 16px;
    }

    &__contact-details {
      padding: 0 20px;

      label {
        text-align: left;
      }
    }
  }
}
