.main-app {
  * {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  }
}

a,
a:hover {
  color: black;
}

.page-content {
  @include page-fade-in;

  padding: 120px 25px;
}

.main-page {
  padding: 0;
  position: relative;

  &__logo-block {
    background: black;
  }

  &__logo {
    background: transparent;
    padding: 100px 60px 100px;
  }

  &__content-container {
    background: linear-gradient(180deg, #000000 0%, #E2DEDB 11.34%, #FFFFFF 100%);
  }

  &__header {
    font-size: 36px;
    text-align: center;
    font-weight: normal;
    height: 200px;
    margin: auto;
    max-width: 1200px;
    background-image: linear-gradient(178.58deg, #00C2FF 10.73%, #00C2FF 30.45%, #0066FF 56.51%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media only screen and (min-width: 901px) {
    .scroll-block {
      height: 100vh;
      max-height: 100vh;
    }

    &__logo-block {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    &__header {
      margin: 0 auto;
    }
  }

  // Main page
  @media only screen and (max-width: 900px) {
    &__header {
      font-size: 20px;
      padding: 0 25px;
    }

    &__logo {
      padding: 100px 0;
    }
  }
}
