.main-app {
  * {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  }
}

a,
a:hover {
  color: black;
}

.page-content {
  @include page-fade-in;

  padding: 120px 25px;
}

.main-page {
  padding: 0;
  position: relative;

  &__logo-block {
    background: black;
  }

  &__logo {
    background: transparent;
    padding: 100px 60px;
  }

  &__content-container {
    background: linear-gradient(180deg, #000000 0%, #E2DEDB 11.34%, #FFFFFF 100%);
  }

  &__header {
    font-size: 36px;
    text-align: center;
    font-weight: normal;
    height: 200px;
    margin: auto;
    max-width: 1200px;
    background-image: linear-gradient(178.58deg, #00C2FF 10.73%, #00C2FF 30.45%, #0066FF 56.51%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media only screen and (min-width: 901px) {
    .scroll-block {
      height: 100vh;
      max-height: 100vh;
    }

    &__logo-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__header {
      margin: 0 auto;
    }
  }

  // Main page
  @media only screen and (max-width: 900px) {
    &__header {
      font-size: 20px;
      padding: 0 25px;
    }

    &__logo {
      padding: 100px 0;
    }
  }
}


// Navigation arrows
.scroll-block {
  position: relative;

  .arrow-left,
  .arrow-right,
  .arrow-up,
  .arrow-down {
    height: 50px;
    width: 36px;
    background: transparent;
    border: 0;
    padding: 10px;
    position: absolute;
    bottom: 100px;
    left: 80px;
    cursor: pointer;
    z-index: 15;

    svg {
      * {
        stroke: rgba(255, 255, 255, 0.5);
        fill: transparent;
      }
    }
  }

  .arrow-right {
    left: unset;
    right: 100px;
  }

  .arrow-up {
    left: unset;
    right: 25px;
    top: 75px;
    margin: 0 auto;
    transform: rotate(90deg);
  }

  .arrow-down {
    left: unset;
    right: 25px;
    bottom: 25px;
    margin: 0 auto;
    transform: rotate(270deg);
  }

  &.featured-events,
  &.main-page__logo-block {
    .arrow-up,
    .arrow-down {

    }

    .arrow-down {
      //left: 0;
      //right: 0;
      //bottom: 25px;
    }
  }

  &.feature-block {
    .arrow-up,
    .arrow-down {
      svg {
        * {
          stroke: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  @media only screen and (max-width: 900px) {
    .arrow-left,
    .arrow-right {
      bottom: 75px;
    }

    .arrow-left {
      left: 10px;
    }

    .arrow-right {
      right: 10px;
    }

    .arrow-up,
    .arrow-down {
      display: none;
    }
  }
}
