.main-app {
  * {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  }
}

a,
a:hover {
  color: black;
}

.page-content {
  @include page-fade-in;
}

.main-page {
  position: relative;

  &__logo {
    background: black;
    padding: 100px 60px 100px;
  }

  &__content-container {
    background: linear-gradient(180deg, #000000 0%, #E2DEDB 23.34%, #FFFFFF 100%);
  }

  &__header {
    font-size: 42px;
    text-align: center;
    font-weight: normal;
    background-image: linear-gradient(178.58deg, #00C2FF 10.73%, #00C2FF 30.45%, #0066FF 56.51%);
    background-size: 100%;
    background-repeat: repeat;
    padding: 0 50px;
    max-width: 1200px;
    margin: 0 auto 125px;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  // Main page
  @media only screen and (max-width: 900px) {
    &__header {
      font-size: 20px;
      padding: 0 25px;
    }

    &__logo {
      padding: 100px 0;
    }
  }
}
