.news-page {
  padding-top: 70px;

  &__header {
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0.045em;
    text-align: center;
    margin-bottom: 20px;
  }

  &__item {
    max-width: 700px;
    margin: 50px auto 100px;

    &__logo {
      filter: invert(1);
      width: 250px;
    }

    &__header-underline {
      margin: 10px 0 30px;
    }

    &__content {
      h2 {
        font-size: 32px;
        text-align: center;
        margin-bottom: 30px;
        font-weight: 300;
      }
    }

    a {
      color: #1b73e8;
    }

    &__video {
      display: block;
      min-width: 500px;
      min-height: 281px;
      max-width: 500px;
      max-height: 281px;
      margin: 20px auto;
    }
  }

  @media only screen and (max-width: 900px) {
    &__header {
      font-size: 32px;
    }

    &__item {
      &__logo {
        filter: invert(1);
        width: 150px;
      }

      &__video {
        min-width: 100%;
        max-width: 100%;
        min-height: auto;
        max-height: 100%;
      }
    }
  }
}
