.news-page {
  padding-top: 70px;

  &__header {
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0.045em;
    margin-bottom: 20px;
    text-align: center;
  }

  &__navigation {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 10px;
    top: 70px;
    width: 300px;
  }

  &__navigation-button {
    background: #eee;
    border: 1px solid transparent;
    border-radius: 3px;
    color: $black;
    cursor: pointer;
    flex: 1 1 auto;
    flex-grow: 0;
    max-height: 200px;
    max-width: 100%;
    padding: 10px;
    width: 100%;

    &:not(:last-child) {
      margin: 0 0 5px;
    }

    &__header,
    &__subheader {
      display: flex;
      font-size: 14px;
      font-weight: 300;
      text-align: left;
    }

    &__header {
      font-size: 16px;
      letter-spacing: 0.03em;
    }

    &__subheader {
      font-size: 12px;
      height: auto;
      text-transform: uppercase;
    }
  }

  &__item {
    margin: 0 auto 100px;
    max-width: 700px;
    padding-top: 80px;

    &__date {
      color: $elv-color-darkgray;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 15px;
    }

    &__logo {
      filter: invert(1);
      width: 250px;
    }

    &__header-underline {
      margin: 10px 0 30px;
    }

    &__content {
      h2 {
        font-size: 32px;
        font-weight: 300;
        margin-bottom: 30px;
        text-align: center;
      }
    }

    a {
      color: #1b73e8;
    }

    &__video {
      display: block;
      margin: 20px auto;
      max-height: 281px;
      max-width: 500px;
      min-height: 281px;
      min-width: 500px;
    }

    &__image {
      margin: 30px auto;
      max-width: 400px;

      &__credit {
        font-size: 10px;
        font-style: italic;
      }
    }
  }

  @media screen and (max-width: 1250px) {
    &__navigation {
      display: none;
    }
  }

  @media only screen and (max-width: 900px) {
    &__header {
      font-size: 32px;
    }

    &__content {
      padding: 0;
    }

    &__item {
      &__logo {
        filter: invert(1);
        width: 150px;
      }

      &__video {
        max-height: 100%;
        max-width: 100%;
        min-height: auto;
        min-width: 100%;
      }
    }
  }
}
