* {
  ::-webkit-scrollbar {
    opacity: 1;
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--background-dark-2);
    opacity: 1;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-text-dark-3);
    opacity: 1;
  }
}

body {
  background: var(--background-light-1);
  font-family: Inter var, sans-serif;
  font-size: 18px;
  max-width: 100vw;
  overflow-y: scroll;
  position: relative;
}

h1 {
  font-size: var(--font-size-header-1);
}

h2 {
  font-size: var(--font-size-header-2);
}

h3 {
  font-size: var(--font-size-header-3);
}

h4 {
  font-size: var(--font-size-header-4);
}

.image-icon--svg {
  width: 20px;
}

.fade-in {
  animation: fadein 0.25s ease;
}

.padded-block {
  padding-inline: var(--horizontal-content-padding);
}

.page-container {
  margin: 0 auto;
  max-width: $width-max;
  padding-bottom: 50px;
  padding-top: 50px;
}

.page {
  &.light {
    .page__copy {
      color: var(--color-text-light-3);
    }
  }

  &__header-container {
    margin-bottom: 50px;
    text-align: center;

    h1,
    h3 {
      font-weight: 600;
    }

    h3 {
      color: var(--color-highlight-2);
    }
  }

  &__content-block {
    margin-bottom: 75px;

    &__header {
      font-weight: 600;
      margin-bottom: 50px;
    }
  }

  &__copy {
    font-size: var(--font-size-body-2);
  }

  @media screen and (max-width: $width-tablet) {
    &__header-container {
      text-align: left;
    }
  }
}
