.case-study {
  &__header-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
  }

  &__header {
    color: var(--color-text-light-9);
    font-size: var(--font-size-body-7);
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__title {
    color: var(--color-text-light-2);
    font-size: 4rem;
    font-weight: 600;
  }

  &__description {
    color: var(--color-text-light-3);
    font-size: var(--font-size-body-3);
    font-weight: 500;
    white-space: pre-line;
  }
}
