.rich-text {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 500;
  }

  a {
    color: var(--color-highlight-2);
  }

  ul {
    margin-left: 25px;

    li {
      list-style-type: disc;
    }
  }

  @media screen and (max-width: $width-tablet) {
    ul {
      margin-left: 20px;
    }
  }
}

.rich-text {
  .action {
    display: inline;
    max-width: fit-content;
    width: unset;
  }
}

.captioned-image {
  display: flex;
  flex-direction: column;
  position: relative;

  &__image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  &__caption {
    color: var(--color-text-light-1);
    font-size: var(--font-size-body-4);
    font-style: italic;
    margin-top: 5px;
  }

  &.dark {
    .captioned-image__caption {
      color: var(--color-text-dark-1);
    }
  }

  &--expandable {
    cursor: pointer;
  }

  &--expanded {
    &.captioned-image {
      justify-content: center;
      max-height: 100vh;
      max-width: 100vw;
      object-fit: contain;

      .captioned-image__image {
        max-height: 100vh;
        max-width: 100vw;
      }

      .captioned-image__caption {
        background: rgb(0 0 0 / 50%);
        border-radius: 8px;
        bottom: 20px;
        color: var(--color-text-dark-1);
        left: 20px;
        margin-right: 20px;
        padding: 7px 15px;
        position: absolute;
      }
    }
  }
}

.curved-box {
  border-radius: 25px;
  padding: 25px 45px 35px;

  &.light {
    background: var(--background-light-2);
    color: var(--color-text-light-1);
  }

  &.dark {
    background: var(--background-dark-2);
    color: var(--color-text-dark-1);
  }

  @media screen and (max-width: $width-tablet) {
    padding: 30px 30px 40px;
  }
}


.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  width: max-content;


  &__content {
    display: flex;
    gap: 30px;
  }

  &__icon-container {
    display: flex;
    width: max-content;
  }

  &__icon {
    height: 45px;
    max-width: 45px;
    width: auto;
  }

  &__header {
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__links {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-left: 40px;
    max-width: 350px;
    min-width: 350px;
    width: 100%;

    .action__content {
      font-size: 16px;
    }
  }

  &__link {
    min-width: 320px;
    width: 100%;
  }

  &.news-item {
    .info-box__header {
      font-size: var(--font-size-body-4);
    }
  }

  &.light {
    .info-box__subheader {
      color: var(--color-text-light-3);
    }

    .info-box__text-content {
      color: var(--color-text-light-3);
    }
  }

  &.dark {
    .info-box__subheader {
      color: var(--color-text-dark-3);
    }
  }

  @media screen and (max-width: $width-tablet) {
    &__content {
      display: grid;
      gap: 15px;
    }

    &__icon-container {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    &__icon {
      height: 75px;
      max-width: 75px;
    }

    &__links {
      margin: 20px 0 0;
    }

    &__link {
      max-width: 600px;
      min-width: 250px;
      width: 100%;
    }
  }
}

.tabbed-info-box {
  display: grid;
  gap: 30px;
  height: max-content;
  max-width: 100%;
  width: 100%;

  &--small-tabs {
    .tabbed-info-box__tab {
      font-size: var(--font-size-body-3);
    }
  }

  &__tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  &__tab {
    font-size: var(--font-size-body-2);
    padding-left: 15px;
    padding-right: 15px;
  }

  &__panel {
    max-width: 100%;
    overflow: hidden;
    width: 100%;
  }

  &__content--shadow {
    box-shadow: 0 0 11px rgb(0 0 0 / 25%);
  }

  @media screen and (max-width: $width-laptop) {
    &__tab {
      font-size: var(--font-size-body-3);
    }
  }

  @media screen and (max-width: $width-tablet) {
    &__tab {
      height: 50px;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
    }

    &__tab-text {
      display: none;
    }
  }

  @media screen and (max-width: $width-mobile) {
    &__tabs {
      flex-direction: column;
    }
  }
}

.carousel {
  width: 100%;

  &__slide {
    padding: 20px;
    width: max-content;
  }

  .swiper-wrapper {
    margin-bottom: 20px;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &.centered {
    justify-content: center;
  }
}

.accordion-group {
  width: 100%;
}

.accordion {
  &--block {
    background-color: var(--background-light-4);

    &:last-child {
      padding-bottom: 24px;
    }

    .accordion__header {
      padding-bottom: 12px;
      padding-top: 12px;
    }

    .accordion__header__title {
      font-size: 16px;
      padding-left: 28px;
    }

    .rich-text.accordion__description-card {
      padding-bottom: 8px;
      padding-top: 0;
    }
  }

  &__header-container {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    font-size: var(--font-size-header-4);
    gap: 20px;
    justify-content: space-between;
    padding: 30px 25px 30px 0;
    width: 100%;

    &--no-header-title {
      padding: 10px 0 0;
    }

    &__title {
      color: var(--color-text-light-1);
      font-size: var(--font-size-header-3);
      font-weight: 600;

      &--purple {
        color: var(--color-highlight-3);
        font-size: var(--font-size-header-4);
        font-weight: 700;
      }
    }

    &__icon {
      color: var(--color-highlight-3);
      height: 15px;
      min-height: 15px;
      min-width: 15px;
      width: 15px;
    }
  }

  &__header-title-description {
    color: var(--color-text-light-5);
    font-size: var(--font-size-body-5);
  }

  &__description {
    color: var(--color-text-light-3);
    font-size: var(--font-size-body-3);
    margin-bottom: 1rem;
  }

  &__trigger-text {
    color: var(--color-highlight-3);
    font-size: var(--font-size-body-7);
    font-weight: 700;
  }

  &__description-card {
    background-color: var(--background-light-4);
    color: var(--color-text-light-3);
    padding: 32px 28px;

    &--pre-line {
      white-space: pre-line;
    }
  }
}

.tooltip {
  &__icon {
    position: relative;
  }

  &__content {
    background-color: var(--background-dark-3);
    color: var(--color-text-dark-1);
    left: 50%;
    padding: 0.5rem;
    position: absolute;
    width: 160px;
    z-index: 1000;
  }
}

.tabs {
  max-width: 100%;
  width: 100%;

  &__list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    max-width: 100%;

    &.vertical {
      flex-direction: column;
    }

    &.horizontal {
      overflow-x: auto;
      scrollbar-width: none;
    }

    &.wrap {
      flex-wrap: wrap;
    }
  }

  &__button {
    border-radius: 62px;
    font-weight: 700;
    padding-left: 16px;
    padding-right: 16px;
    text-wrap: nowrap;

    &.xs {
      font-size: 12px;
      height: 35px;
      padding-left: 14px;
      padding-right: 14px;
    }

    &.sm {
      font-size: 16px;
      height: 40px;
    }

    &.md {
      font-size: 18px;
      height: 40px;
    }

    &--dark {
      &.active {
        background: #FFF;
        border: 0;
        color: #000;
        gap: 10px;

        &:hover {
          background: var(--color-highlight-2);
          border: none;
          color: #FFF;
        }
      }

      &.inactive {
        background: transparent;
        border: 1px solid rgb(255 255 255 / 29%);
        color: #FFF;

        &:hover {
          background: transparent;
          border: 1px solid var(--color-highlight-12);
          color: var(--color-highlight-12);
        }
      }
    }

    &--light {
      &.active {
        background: #000;
        color: #fff;
      }

      &.inactive {
        background: transparent;
        border: 1px solid rgb(0 0 0 / 29%);
        color: #000;

        &:hover {
          border: 1px solid var(--color-highlight-7);
          color: var(--color-highlight-7);
        }
      }
    }
  }

  &__panel {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    text-align: center;

    &__title {
      color: var(--color-text-light-11);
      font-size: 1.75rem;
      font-weight: 600;
      line-height: 1.3;
    }

    &__subtitle {
      color: var(--color-text-light-11);
      font-size: var(--font-size-body-7);
      font-weight: 500;
      line-height: 1.5;
      opacity: 0.8;
    }

    &__description {
      color: var(--color-text-light-1);
      font-size: var(--font-size-header-5);
      font-weight: 500;
      z-index: 2;
    }

    &__media-container {
      background-color: transparent;
      padding-top: 56.25%;
      position: relative;
      width: 100%;
    }

    &__image {
      height: 100%;
      left: 0;
      margin-top: -45px;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &__image-placeholder {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
    }

    &__video {
      height: 100%;
      left: 0;
      margin-top: -45px;
      object-fit: cover;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

@media screen and (max-width: $width-laptop) {
  .tabs__panel__image,
  .tabs__panel__video {
    margin-top: 0;
  }
}

@media screen and (max-width: $width-tablet) {
  .faqs .accordion .accordion__header {
    padding: 15px 5px;
  }

  .tabs {
    gap: 12px;

    &__list {
      justify-content: flex-start;
    }

    &__panel {
      padding: 0;
    }
  }
}

@media screen and (max-width: $width-mobile) {
  .tabs {
    &__panel {
      text-align: left;

      &__title {
        font-size: 22px;
      }

      &__description,
      &__subtitle {
        font-size: var(--font-size-body-7);
        font-weight: 500;
      }
    }
  }
}

.player-container {
  &--loading {
    aspect-ratio: 16/9;
    background-color: var(--background-dark-1);
    height: 100%;
    width: 100%;
  }
}
