.contact-form-container {
  position: relative;

  &.light {
    background: var(--background-light-2);

    .contact-form__copy {
      color: var(--color-text-light-1);
    }

    .contact-form__copy-message {
      white-space: pre-line;
    }

    .contact-form__form {
      background: var(--background-light-1);
      filter: drop-shadow(0 0 40px rgb(155 81 224 / 13%));
    }

    .contact-form__input,
    .contact-form__message {
      color: var(--color-text-light-1);
    }

    .contact-form__separator {
      background: var(--background-light-3);
    }
  }

  &.dark {
    background: linear-gradient(180deg, rgb(41 17 64 / 0%) 0%, rgb(41 17 64 / 50%) 100%);

    .contact-form__copy {
      color: var(--color-text-dark-1);
    }

    .contact-form__form {
      box-shadow: 0 0 40px rgb(155 81 224 / 13%);
    }

    .contact-form__input,
    .contact-form__message {
      color: var(--color-text-dark-1);
    }

    .contact-form__separator {
      background: var(--background-dark-3);
    }
  }
}

.contact-form {
  display: grid;
  gap: 75px;
  grid-template-columns: 450px 1fr;
  padding-bottom: 75px;
  padding-top: 75px;
  width: 100%;

  &__background {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(155, 81, 224, 0.00) 0%, rgba(155, 81, 224, 0.10) 100%);
  }

  &__copy-header {
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__copy-message {
    font-size: var(--font-size-body-2);
  }

  &__form {
    border: 2px solid var(--color-highlight-2);
    border-radius: 12px;
    overflow: hidden;
    padding: 15px 105px 15px 15px;
    position: relative;
    width: 100%;
  }

  &__input,
  &__message {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 8px;
    color: var(--color-text-light-1);
    font-size: var(--font-size-body-3);
    padding: 10px;
    transition: box-shadow 0.15s ease;
    width: 100%;

    &:disabled {
      cursor: default;
      opacity: 0.75;
    }

    &:focus-visible {
      border: 1px solid var(--color-highlight-2);
      box-shadow: 0 0 3px rgb(155 81 224 / 50%);
      outline: 0;
    }

    &.invalid {
      box-shadow: 0 0 10px rgb(255 0 0 / 50%);
    }
  }

  &__separator {
    height: 1px;
    margin: 5px 0;
    width: 250px;
  }

  &__submit {
    bottom: 15px;
    position: absolute;
    right: 15px;
  }

  @media screen and (max-width: $width-laptop) {
    gap: 35px;
  }

  @media screen and (max-width: $width-tablet) {
    grid-template-columns: 1fr;
  }
}
