.tenancies-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.features-connect {
  display: flex;
  justify-content: center;
  margin: 2rem 0 6.5rem;

  &__button {
    width: 390px;
  }
}

.features {
  &__info-box,
  &__accordion {
    width: 100%;
  }

  &__info-box path {
    stroke: var(--color-highlight-3);
  }

  &__accordion {
    &__header {
      align-items: center;
      display: flex;
      margin-bottom: 60px;

      h2 {
        margin-left: 46px;
      }
    }

    .accordion__header__title {
      color: var(--color-highlight-3);
      font-weight: 700;
    }
  }

  &--purple-header {
    color: var(--color-highlight-3);
  }

  &__section {
    margin-bottom: 100px;
  }
}

.features-faqs {
  background-color: var(--background-light-2);
  font-weight: 700;
  padding: 40px 140px;
  width: 100%;
}

.features-banner {
  background: var(--background-gradient-features-banner);
  color: var(--color-text-dark-1);
  max-width: 100%;
  padding: 55px 2rem;

  &__list {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;

  }

  &__item-details {
    max-width: 260px;

    h5,
    .image-icon,
    p {
      margin-bottom: 18px;
    }

    &__title {
      font-weight: 700;
    }
  }

  &__main-icon {
    height: 30px;
    width: 30px;

    g path {
      fill: var(--color-icon-dark-2);
    }

    path {
      stroke: var(--color-icon-dark-2);
    }
  }

  &__button-text {
    margin-right: 20px;
  }
}

.tenancy-info {
  background-color: var(--background-light-5);
  border: 1.5px solid var(--color-highlight-3);
  border-radius: 22px;
  max-width: 350px;
  min-height: 430px;
  padding: 36px 40px;

  hr {
    background-color: var(--background-light-6);
    height: 1px;
    margin: 10px 0;
  }

  &__level,
  &__service {
    color: var(--color-highlight-2);
    font-size: var(--font-size-body-5);
    font-weight: 700;
  }

  &__level {
    font-size: var(--font-size-body-5);
    text-transform: uppercase;
  }

  h4 {
    font-weight: 700;
    text-transform: uppercase;
  }

  &__features {
    align-items: center;
    display: flex;
    min-height: 165px;

  }

  &__content {
    &__header {
      color: var(--color-text-light-7);
      display: flex;
      font-weight: 700;
      gap: 8px;
      margin-bottom: 12px;
    }

    &__header-details {
      font-size: var(--font-size-body-5);
    }

  }

  &__list-item {
    position: relative;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.39754 5.43746L1.31254 3.35246L0.602539 4.05746L3.39754 6.85246L9.39754 0.852461L8.69254 0.147461L3.39754 5.43746Z' fill='%23353437'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      content: '';
      display: inline-block;
      height: 20px;
      left: 0;
      position: absolute;
      top: 6px;
      width: 20px;
    }

    span {
      padding-left: 1.5rem;
    }
  }

  &__pricing {
    align-items: center;
    display: flex;

    h1 {
      font-weight: 700;
      margin-right: 8px;
    }

  }

  &__pricing-rate {
    line-height: 1;

    &--column {
      display: flex;
      flex-direction: column;
      line-height: 1.5;
    }

    &--row {
      span:first-child {
        padding-right: 3px;
      }
    }

    span {
      font-size: var(--font-size-body-5);
      font-weight: 500;

      &:first-child {
        color: var(--color-text-light-6);
      }
    }
  }
}

.features-support {
  &__header-text {
    color: var(--color-highlight-3);

    &__subheader {
      font-size: var(--font-size-body-5);
      font-weight: 700;
    }

    h5 {
      font-size: var(--font-size-header-5);
      font-weight: 700;
    }
  }

  &__grid-container {
    display: grid;
  }

  &__header-row {
    display: grid;
    gap: 40px;
    grid-column: 1 / -1;
    grid-template-columns: 2fr repeat(3, 150px);
    padding: 0 2rem;
    text-align: center;
  }

  &__item-card {
    padding: 2rem 2rem 2rem 100px;
  }

  &__item-card-content {
    align-items: center;
    display: grid;
    gap: 40px;
    grid-column: 1 / -1;
    grid-template-columns: 2fr repeat(3, 150px);

    svg {
      height: 30px;
      width: 30px;
    }

    .centered {
      text-align: center;
    }
  }

  &__item-card-communication {
    align-items: center;
    color: var(--color-text-light-3);
    display: flex;
    gap: 25px;
    margin-top: 15px;

    span {
      align-items: center;
      display: flex;
      gap: 9px;
    }

    svg {
      height: 20px;
      width: 20px;

      path {
        stroke: var(--color-text-light-3);
        stroke-width: 1px;
      }
    }
  }

  &__customer-service {
    margin-top: 36px;
    padding: 0 100px;

    h4 {
      font-weight: 700;
    }

    svg {
      height: 15px;
      width: 15px;
    }

    svg path {
      stroke: var(--color-icon-dark-1);
      stroke-width: 1px;
    }
  }

  &__customer-service-section {
    margin-bottom: 32px;
  }

  &__customer-service-detail {
    align-items: center;
    display: flex;
    font-size: var(--font-size-body-3);
    gap: 15px;
    line-height: 2.25;
  }
}

.features-support__item-card,
.features-details__item-card,
.features-grid__item-card, {
  background-color: var(--background-light-4);
  margin-top: 1rem;
}

.features-details {
  &__item-card {
    padding: 2rem;
  }

  &__item-card__content {
    align-items: center;
    display: flex;
    gap: 50px;

    .action {
      color: var(--color-highlight-3);
      flex: 0 0 110px;
      font-weight: 700;
      text-transform: uppercase;
    }

    p {
      font-size: var(--font-size-body-4);
    }

    span {
      flex: 0 0 400px;
    }
  }
}

@media screen and (max-width: $width-tablet) {
  .tabbed-info-box__tab-text {
    display: flex;
  }

  .tenancy-info {
    &__level,
    &__service {
      font-size: var(--font-size-body-3);
    }

    &__features__content__header {
      flex-direction: column;
      gap: 0;

      &__details {
        font-size: var(--font-size-body-4);
      }
    }

    &__pricing {
      align-items: flex-start;
      flex-direction: column;

      &__rate__month,
      &__rate__fees {
        font-size: var(--font-size-body-4);
      }
    }
  }

  .features-faqs {
    padding: 40px;
  }

  .features-details__item-card {
    padding: 1rem;
  }

  .features-details__item-card__content {
    flex-wrap: wrap;
    gap: 10px;

    span {
      flex: unset;
    }

    .action {
      flex-basis: 100px;
    }
  }
}

.features-grid {
  display: grid;

  &__header-row {
    display: grid;
    gap: 40px;
    grid-column: 1 / -1;
    grid-template-columns: 2fr repeat(3, 150px);
    padding: 0 2rem;
    text-align: left;
  }

  &__item-card {
    padding: 28px 2rem;
  }

  &__body-row {
    align-items: center;
    display: grid;
    gap: 40px;
    grid-column: 1 / -1;
    grid-template-columns: 2fr repeat(3, 150px);

    svg {
      height: 30px;
      width: 30px;
    }
  }

  &__section-description {
    margin: 24px 0;
  }

  .centered {
    text-align: center;
  }

  &__top-header,
  &__main-header {
    color: var(--color-highlight-3);
  }

  &__top-header {
    font-size: var(--font-size-body-5);
    font-weight: 700;
  }

  &__main-header {
    font-size: var(--font-size-header-5);
    font-weight: 700;
  }

  &__helper-header {
    color: var(--color-text-light-8);
    margin-top: 1rem;
  }

  &__caption {
    margin-top: 27px;
  }

  &__base-rental {
    grid-template-columns: 200px 250px 150px 1fr;
  }

  &__bitcode-operations {
    grid-template-columns: 1fr 200px 1fr;
  }

  &__light-text {
    color: var(--color-text-light-3);
    font-size: var(--font-size-body-4);
  }
}

@media screen and (max-width: $width-mobile) {
  .features-details__item-card__content {
    flex-direction: column;

    .action {
      flex-basis: 35px;
    }
  }

  .features__info-box.curved-box {
    padding: 15px 20px 20px;
  }

  .features__section {
    margin-bottom: 50px;
  }
}
