.tenancies-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tenancies-comparison {
  width: 100%;

  &__table-container {
    margin-bottom: 27px;

    .features-support__customer-service {
      padding: 0;
    }
  }

  &__header {
    font-size: var(--font-size-header-4);
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}

.features-connect {
  display: flex;
  justify-content: center;
  margin: 2rem 0 6.5rem;

  &__button {
    width: 390px;
  }
}

.features {
  &__info-box,
  &__accordion {
    width: 100%;
  }

  &__info-box path {
    stroke: var(--color-highlight-3);
  }

  &__accordion {
    &__header {
      align-items: center;
      display: flex;
      margin-bottom: 60px;

      h2 {
        margin-left: 46px;
      }
    }

    .accordion__header__title {
      color: var(--color-highlight-3);
      font-weight: 700;
    }

    .accordion__header path,
    .accordion__header rect {
      fill: var(--color-highlight-3);
    }
  }

  &--purple-header {
    color: var(--color-highlight-3);
  }

  &__section {
    font-size: var(--font-size-body-7);

    &:not(:last-child) {
      margin-bottom: 100px;
    }
  }

  &__section-header {
    font-size: var(--font-size-header-3);
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    text-transform: uppercase;
  }

  &__section-title {
    font-size: var(--font-size-body-3);
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  &__section-description {
    color: var(--color-text-light-3);
    font-size: var(--font-size-body-7);
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  &__sub-section-title {
    font-size: var(--font-size-body-7);
    font-weight: 500;
    margin: 1rem 0 1rem 3rem;
  }

  &__blockchain-accordion {
    .accordion__header-subtitle {
      color: var(--color-highlight-3);
      font-size: var(--font-size-body-5);
      font-weight: 700;
      text-transform: uppercase;
    }

    .accordion__header__title {
      color: var(--color-text-light-1);
      font-size: var(--font-size-header-5);
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.features-banner {
  background: var(--background-gradient-features-banner);
  color: var(--color-text-dark-1);
  max-width: 100%;
  padding: 55px 2rem;

  &__list {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;

  }

  &__item-details {
    max-width: 260px;

    h5,
    .image-icon,
    p {
      margin-bottom: 18px;
    }

    &__title {
      font-weight: 700;
    }
  }

  &__main-icon {
    height: 30px;
    width: 30px;

    g path {
      fill: var(--color-icon-dark-2);
    }

    path {
      stroke: var(--color-icon-dark-2);
    }
  }

  &__button-text {
    margin-right: 20px;
  }
}

.tenancy-info {
  background-color: var(--background-light-5);
  border: 1.5px solid var(--color-highlight-3);
  border-radius: 22px;
  max-width: 350px;
  min-height: 480px;
  padding: 36px 40px;

  hr {
    background-color: var(--background-light-6);
    height: 1px;
    margin: 10px 0;
  }

  &__level {
    color: var(--color-highlight-2);
    font-size: var(--font-size-body-5);
    font-weight: 700;
  }

  &__level {
    font-size: var(--font-size-body-5);
    text-transform: uppercase;
  }

  h4 {
    font-weight: 700;
    text-transform: uppercase;
    white-space: break-spaces;
  }

  &__features {
    align-items: center;
    display: flex;
    min-height: 215px;

  }

  &__content {
    &__header {
      color: var(--color-text-light-7);
      display: flex;
      font-weight: 700;
      gap: 8px;
      margin-bottom: 12px;
    }

    &__header-details {
      font-size: var(--font-size-body-5);
      white-space: break-spaces;
    }
  }

  &__list-item {
    font-size: var(--font-size-body-5);
    font-weight: 700;
    margin-bottom: 4px;
    position: relative;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.39754 5.43746L1.31254 3.35246L0.602539 4.05746L3.39754 6.85246L9.39754 0.852461L8.69254 0.147461L3.39754 5.43746Z' fill='%23353437'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      content: '';
      display: inline-block;
      height: 10px;
      left: 0;
      position: absolute;
      top: 3px;
      width: 10px;
    }

    span {
      padding-left: 0.875rem;
    }
  }

  &__pricing {
    align-items: center;
    display: flex;

    h1 {
      font-weight: 700;
      margin-right: 8px;
    }

  }

  &__pricing-rate {
    line-height: 1;

    &--column {
      display: flex;
      flex-direction: column;
      line-height: 1.5;
    }

    &--row {
      span:first-child {
        padding-right: 3px;
      }
    }

    span {
      font-size: var(--font-size-body-5);
      font-weight: 500;

      &:first-child {
        color: var(--color-text-light-6);
      }
    }
  }
}

.features-support {
  &__header-text {
    align-items: flex-start;
    color: var(--color-highlight-3);
    display: flex;
    flex-direction: column;

    &__subheader {
      font-size: var(--font-size-body-5);
      font-weight: 700;
    }
  }

  &__header {
    font-weight: 700;
  }

  &__grid-container {
    display: grid;
  }

  &__header-row {
    display: grid;
    gap: 40px;
    grid-column: 1 / -1;
    grid-template-columns: 2fr 140px repeat(2, 190px);
    text-align: center;
  }

  &__item-card {
    font-size: var(--font-size-body-7);
    height: 65px;
    padding: 0 10px 0 75px;

    &.light.features-support__item-card--xs,
    &.light.features-support__item-card--sm {
      margin-top: 0.5rem;
    }

    &--sm,
    &--xs {
      font-size: var(--font-size-body-5);
      padding: 0 20px;

      .features-support__item-card-communication {
        font-size: var(--font-size-body-6);

        &__item {
          gap: 3px;
        }

        .image-icon {
          height: 15px;
          width: 15px;
        }
      }
    }

    &--sm {
      height: 45px;
    }

    &--xs {
      height: 38px;
    }
  }

  &__item-card-content {
    align-items: center;
    display: grid;
    gap: 40px;
    grid-column: 1 / -1;
    grid-template-columns: 1fr 140px repeat(2, 190px);
    height: 100%;

    svg {
      height: 25px;
      width: 25px;
    }

    .centered {
      text-align: center;
    }
  }

  &__item-card-communication {
    align-items: center;
    color: var(--color-text-light-3);
    display: flex;
    gap: 25px;
    margin-top: 3px;

    &__item {
      align-items: center;
      display: flex;
      gap: 9px;
    }

    svg {
      height: 20px;
      width: 20px;

      path {
        stroke: var(--color-text-light-3);
        stroke-width: 1px;
      }
    }
  }

  &__customer-service {
    margin-top: 36px;
    padding: 0 100px;

    h4 {
      font-weight: 700;
    }

    svg {
      height: 15px;
      width: 15px;
    }

    svg path {
      stroke: var(--color-icon-dark-1);
      stroke-width: 1px;
    }

    &--small-font {
      h4 {
        font-size: var(--font-size-header-5);
      }

      .features-support__customer-service-detail {
        font-size: var(--font-size-body-4);
        gap: 9px;
      }
    }
  }

  &__customer-service-section {
    margin-bottom: 32px;
  }

  &__customer-service-detail {
    align-items: center;
    display: flex;
    font-size: var(--font-size-body-3);
    gap: 15px;
    line-height: 2.25;
  }

  &__grid-section-header {
    font-size: var(--font-size-body-7);
    font-weight: 700;
    margin-top: 1rem;
  }
}

.features-support__item-card,
.features-details__item-card,
.features-grid__item-card, {
  margin-top: 1rem;

  &.light {
    background-color: var(--background-light-4);
    color: var(--color-text-light-1);
  }

  &.dark {
    background-color: var(--background-dark-3);
    color: var(--color-text-dark-1);
  }
}

.features-details {
  &__item-card {
    height: 65px;
    padding: 0 20px;
  }

  &__item-card__content {
    align-items: center;
    display: flex;
    gap: 50px;
    height: 100%;

    .action {
      color: var(--color-highlight-3);
      flex: 0 0 110px;
      font-size: var(--font-size-body-4);
      font-weight: 700;
      text-transform: uppercase;
    }

    p {
      color: var(--color-text-light-3);
      font-size: var(--font-size-body-5);
    }

    span {
      flex: 0 0 400px;
    }
  }
}

.features-grid {
  display: grid;
  width: 100%;

  &__header-row {
    display: grid;
    gap: 40px;
    grid-column: 1 / -1;
    padding: 0 20px;
    text-align: left;
  }

  &__row--4col-a {
    grid-template-columns: 200px 250px 150px 1fr;
  }

  &__row--5col-a {
    grid-template-columns: 370px 125px repeat(2, 80px) 300px;
  }

  &__row--6col-a {
    grid-template-columns: 1fr repeat(2, 125px) repeat(2, 80px) 300px;
  }

  &__item-card {
    height: 65px;
    padding: 0 20px;
  }

  &__body-row {
    align-items: center;
    display: grid;
    gap: 40px;
    grid-column: 1 / -1;
    height: 100%;

    svg {
      height: 30px;
      width: 30px;
    }
  }

  &__section-description {
    margin: 24px 0;
  }

  .centered {
    text-align: center;
  }

  &__top-header,
  &__main-header {
    color: var(--color-highlight-3);
  }

  &__top-header {
    font-size: var(--font-size-body-5);
    font-weight: 700;
  }

  &__main-header {
    font-size: var(--font-size-header-5);
    font-weight: 700;
  }

  &__helper-header {
    color: var(--color-text-light-8);
    margin-top: 1rem;
  }

  &__caption {
    margin-top: 27px;
  }

  &__base-rental {
    grid-template-columns: 200px 250px 150px 1fr;
  }

  &__bitcode-operations {
    grid-template-columns: 1fr 200px 1fr;
  }

  &__light-text {
    color: var(--color-text-light-3);
    font-size: var(--font-size-body-4);
  }

  &--indented {
    margin-left: 3rem;
  }
}

@media screen and (max-width: $width-tablet) {
  .tabbed-info-box__tab-text {
    display: flex;
  }

  .tenancies-list {
    gap: 10px;
  }

  .tenancies-comparison {
    padding: 0.5rem;

    &__table-container {
      margin-bottom: 0.5rem;
    }
  }

  .tenancy-info {
    min-height: 200px;

    &__level {
      font-size: var(--font-size-body-3);
    }

    &__features {
      height: max-content;
      min-height: max-content;
    }

    &__features__content__header {
      flex-direction: column;
      gap: 0;

      &__details {
        font-size: var(--font-size-body-4);
      }
    }

    &__pricing {
      align-items: flex-start;
      flex-direction: column;
    }

    &__pricing-rate {
      span {
        font-size: var(--font-size-body-4);
      }
    }

    &__list-item {
      font-size: var(--font-size-body-3);
    }
  }

  .features__section:not(:last-child) {
    margin-bottom: 2rem;
  }

  .features-details__item-card {
    flex-direction: column;
    height: max-content;
    padding: 1.5rem;
  }

  .features-details__item-card__content {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    span {
      flex: unset;
      font-size: var(--font-size-body-3);
      text-align: center;
    }

    .action {
      flex-basis: 100px;
    }
  }

  .features-grid__body-row svg {
    height: 15px;
    width: 15px;

    path {
      color: var(--color-text-dark-3);
      stroke: unset;
      stroke-width: 1px;
    }
  }

  .features__blockchain-accordion {
    .accordion__trigger-text {
      font-size: var(--font-size-body-4);
    }
  }

  .features-grid {
    &__item-card {
      font-size: var(--font-size-body-8);
      padding: 12px 6px;
      width: 100%;
    }

    &__main-header {
      font-size: var(--font-size-body-3);
    }

    &__caption {
      font-size: var(--font-size-body-3);
      margin-top: 10px;
    }


    &__row--4col-a {
      gap: 15px;
      grid-template-columns: 100px repeat(2, 55px) 60px;
    }

    &__row--5col-a {
      gap: 15px;
      grid-template-columns: 70px 40px 40px 20px 10px;
    }

    &__row--6col-a {
      gap: 15px;
      grid-template-columns: 70px 45px 35px repeat(2, 20px) 100px;
    }

    &--indented {
      margin-left: 1rem;
    }
  }

  .features__sub-section-title {
    font-size: var(--font-size-body-6);
    margin-left: 1rem;
  }

  .features-grid__header-row {
    font-size: var(--font-size-body-8);
    padding: 0 6px;
  }

  .features-support {
    &__item-card {
      padding: 6px;
      width: 100%;
    }

    &__item-card-content {
      font-size: var(--font-size-body-8);
    }

    &__grid-container {
      font-size: var(--font-size-body-4);
    }

    &__item-card-communication {
      gap: 12px;
    }

    &__icon-text {
      display: none;
    }

    &__customer-service {
      padding: 0 10px;
    }

    &__header {
      font-size: var(--font-size-body-8);
    }

    &__grid-section-header {
      font-size: var(--font-size-body-6);
    }

    &__customer-service {
      margin-top: 0.5rem;

      h4 {
        font-size: var(--font-size-body-4);
      }
    }

    &__customer-service-detail {
      font-size: var(--font-size-body-5);

      .image-icon {
        height: 11px;
        width: 11px;
      }
    }
  }

  .features-support__item-card {
    height: 60px;

    .image-icon {
      height: 11px;
      width: 11px;
    }
  }

  .features-support__header-text__subheader {
    font-size: var(--font-size-body-4);
  }

  .features-support__header-row,
  .features-support__item-card-content {
    gap: 20px;
    grid-template-columns: 120px repeat(3, 30px);

    svg {
      width: 15px;
    }
  }

  .features-support__header-row {
    padding: 0;
  }

  .features__info-box {
    .info-box__icon-container {
      width: max-content;
    }

    .info-box__content {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 10px;
      margin-bottom: 1rem;

      .info-box__icon {
        height: 30px;
        max-height: 30px;
        max-width: 30px;
        width: 30px;
      }
    }

    .info-box__header {
      font-size: var(--font-size-body-2);
    }

    p {
      font-size: var(--font-size-body-5);
    }

    .accordion__header {
      padding: 14px 10px;
    }

    .accordion__description {
      font-size: var(--font-size-body-5);
      padding-left: 10px;
    }

    .accordion__header__title {
      font-size: var(--font-size-body-3);
    }
  }

  .features-banner {
    font-size: var(--font-size-body-3);
    padding: 2rem;
    text-align: center;

    h5 {
      font-weight: 700;
      margin-bottom: 8px;
    }

    &__list {
      gap: 30px;
    }

    &__item-details .image-icon {
      margin-bottom: 4px;
    }
  }

  .features__section-description {
    font-size: var(--font-size-body-5);
    padding-left: 10px;
  }

  .faqs .accordion__header__title {
    font-size: var(--font-size-body-3);
  }
}

@media screen and (max-width: $width-mobile) {
  .features__info-box.curved-box {
    padding: 15px 20px 20px;
  }

  .features__section {
    margin-bottom: 50px;
  }

  .features-support__customer-service-detail {
    align-items: baseline;
    gap: 5px;
  }
}
