.header {
  align-items: center;
  background: var(--background-light-2);
  color: var(--color-text-light-12);
  display: flex;
  gap: 50px;
  height: var(--header-height);
  overflow: visible;
  padding: 0 80px;
  position: relative;
  z-index: 10;

  &,
  * {
    transition: height 0.15s ease, background-color 0.15s linear, color 0.15s linear, border 0.15s linear, stroke 0.15s linear, fill 0.15s linear, opacity 0.15s linear, font-size 0.15s linear, filter 0.15s linear;
  }

  &--compact {
    height: var(--header-height--compact);

    .header {
      &__logo {
        padding: 5px 0;
      }

      &__nav-link {
        font-size: var(--font-size-body-5);
      }

      &__nav--icons {
        opacity: 0;
        user-select: none;

        .action__icon {
          height: 50%;
        }
      }

      &__register-button {
        font-size: var(--font-size-body-6);
        height: 22px;
      }
    }

    .menu-button__options-container {
      padding-left: 15px;
      padding-right: 15px;
    }

    .menu-button__item {
      .action {
        font-size: var(--font-size-body-5);
      }
    }
  }

  &__logo-container {
    height: 40px;
  }

  &__logo {
    height: 100%;
    min-width: 80px;
    object-fit: contain;
    padding: 10px 0;
  }

  &__eluvio-icon {
    color: var(--color-highlight-7);
    height: 50px;
    width: 50px;

    &:hover {
      filter: brightness(80%);
    }

    &:active {
      filter: brightness(60%);
    }
  }

  &__nav {
    align-items: center;
    display: flex;
    gap: 30px;
    height: 100%;
  }

  &__nav--links {
    flex-grow: 1;

    .header__nav-link {
      padding-left: 10px;
      padding-right: 10px;

      &.active,
      &:active,
      &:focus-visible {
        color: var(--color-highlight-7);
      }
    }
  }

  &__nav--icons {
    gap: 25px;
  }

  &__nav-link {
    align-items: center;
    display: flex;
    height: 100%;
    user-select: none;

    .action__icon {
      height: 30px;
      max-width: unset;
      width: 30px;
    }

    &.menu-button {
      position: unset;
    }

    .menu-button__options-container {
      left: 0;
      margin-left: -50vw;
      padding: 10px 25px 40px 0;
      right: 0;
      top: calc(100%);
      transform: translateX(50%);
      width: 100vw;
      will-change: transform;
      z-index: 10;
    }

    .menu-button__options {
      display: flex;
      flex-direction: row;
      gap: 48px;
      margin-left: calc(80px + 50px + 85px + 10px);
      padding: 0;
    }

    .menu-button__item {
      white-space: wrap;
      width: max-content;
    }
  }

  &__buttons {
    align-items: center;
    display: flex;
    gap: 15px;
    margin-left: auto;
  }

  &__button {
    border-radius: 28px;
    font-size: 16px;
    height: 50px;
    padding: 12px 16px;

    &--fabric {
      background: transparent;
      border: 1px solid var(--background-light-7);
      color: var(--color-text-light-11);
      font-weight: 700;

      &:hover {
        background: transparent;
        border: 1px solid var(--color-highlight-7);
        color: var(--color-highlight-7);
      }
    }

    &--discover {
      background: var(--color-text-light-11);
      border: 1px solid rgb(255 255 255 / 29%);
      color: #FFF;
      font-weight: 700;
      gap: 10px;

      &:hover {
        border: 1px solid var(--color-highlight-12);
        color: var(--color-highlight-12);

        .action__icon {
          filter: grayscale(1) brightness(0%) invert(1);
        }

      }
    }

    &--cta {
      background: #FFF;
      border: 0;
      border-radius: 5px;
      color: #000;
      gap: 10px;
      padding-left: 28px;
      padding-right: 28px;

      &:hover {
        background: linear-gradient(0deg, rgb(255 255 255 / 20%) 0%, rgb(255 255 255 / 20%) 100%), var(--color-highlight-12);
      }

      &:active {
        background: var(--color-highlight-12);
      }
    }
  }

  @media screen and (max-width: $width-max) {
    gap: 20px;
    padding: 0 25px;

    &__nav {
      gap: 10px;
    }

    &__nav--icons {
      gap: 20px;
    }

    &__nav-link {
      font-size: var(--font-size-body-4);

      .action__icon {
        height: 25px;
        width: 25px;
      }
    }

    &__button {
      font-size: 14px;
      height: 35px;

      .action__icon {
        height: 20px;
        width: 20px;
      }
    }

    .menu-button__options {
      margin-left: calc(25px + 85px + 20px + 10px);
    }

    &__eluvio-icon {
      height: 35px;
      width: 35px;
    }
  }

  @media screen and (width <= 1200px) {
    &__button--fabric {
      display: none;
    }
  }

  @media screen and (width >= CALC(#{$width-tablet} + 1px)) {
    .mobile {
      display: none;
    }
  }

  @media screen and (max-width: $width-tablet) {
    gap: 30px;

    &--compact {
      .header__nav-link {
        opacity: 0;
        user-select: none;
      }
    }

    .desktop {
      display: none;
    }

    &__nav {
      justify-content: flex-end;
    }

    &__nav-link {
      font-size: var(--font-size-body-3);

      &.action {
        &.active--underline,
        &.inactive--underline {
          border: 0;
        }
      }
    }

    &__mobile-nav-button {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      width: max-content;

      .action__icon {
        color: var(--color-text-dark-5);
        height: 25px;
        margin-bottom: 2px;
        max-width: unset;
        width: 25px;
      }
    }
  }
}

.notification-banner {
  background: linear-gradient(180deg, #040307 0%, #040307 100%);
  color: var(--color-text-dark-1);
  display: flex;
  flex-flow: column wrap;
  font-size: var(--font-size-body-5);
  gap: 5px;
  justify-content: center;
  margin-top: -50px;
  padding: 15px var(--horizontal-content-padding) 15px;
  position: relative;
  z-index: 5;

  &__text-gradient-container {
    &:hover {
      .notification-banner__text-desktop {
        -webkit-line-clamp: 2;
        white-space: wrap;
      }

      .notification-banner__text-gradient {
        visibility: hidden;
      }
    }
  }

  &__text-gradient {
    background: linear-gradient(90deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 91%) 100%);
    filter: blur(4px);
    height: 150%;
    position: absolute;
    right: -5px;
    top: -25%;
    width: 50px;
    z-index: 2;
  }

  &__text-desktop {
    &:hover {
      -webkit-line-clamp: 2;
      white-space: wrap;

      .notification-banner__text-gradient {
        visibility: hidden;
      }
    }
  }

  &__text {
    //display: flex;
    flex-flow: row nowrap;
    font-size: var(--font-size-body-7);
    font-weight: 400;
    gap: 6px;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    white-space: nowrap;
    width: 100%;

    & > *:not(:last-child) {
      &::after {
        content: " |";
      }
    }

    * {
      display: inline;
      font-size: var(--font-size-body-7);
      font-weight: 500;
      max-width: 100%;
      white-space: nowrap;
    }

    a {
      color: var(--color-text-dark-1);
      font-weight: 600;
      text-decoration: underline;
    }
  }

  @media screen and (max-width: $width-tablet) {
    height: 70px;
    margin-top: -70px;

    &__text {
      overflow-x: scroll;
      scrollbar-width: none;
      text-overflow: unset;
    }
  }
}

