.main-page-header {
  height: 700px;
  position: relative;
  user-select: none;
  width: 100%;

  &__content {
    align-items: center;
    display: flex;
    gap: 100px;
    height: 100%;
    justify-content: center;
    left: 0;
    padding: 50px 100px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  &__video {
    height: 100%;
    left: 0;
    object-fit: cover;
    object-position: bottom;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  &__logo-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    position: relative;
    width: max-content;
  }

  &__image {
    height: 100%;
    max-width: 50%;
    object-fit: contain;
    width: auto;
  }

  &__logo {
    height: 305px;
    object-fit: contain;
    width: auto;
  }

  &__copy-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 300px;
  }

  &__copy {
    font-size: var(--font-size-header-1);
    font-weight: 600;
    letter-spacing: 0.015em;
    max-width: 450px;
    position: relative;

    &--feature {
      font-size: var(--font-size-feature-header);
    }

    &--faded {
      color: var(--color-text-dark-2);
      font-size: var(--font-size-header-3);
    }
  }

  &__gradient {
    background: linear-gradient(180deg, transparent 0%, var(--background-dark-1) 100%);
    bottom: 0;
    height: 50px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  @media screen and (max-width: $width-tablet) {
    &__content {
      flex-direction: column;
      gap: 30px;
      padding: 20px;
    }

    &__image {
      height: auto;
      max-height: 50%;
      max-width: 100%;
      width: auto;
    }

    &__copy-container {
      gap: 10px;
      text-align: center;
    }

    &__logo {
      height: 150px;
    }
  }

  @media screen and (max-width: $width-mobile) {
    height: calc(100vh - 40px);

    &__logo {
      height: 125px;
    }
  }
}

.main-page-feature-banner {
  background: linear-gradient(180deg, var(--background-dark-5) 0, rgb(17, 16, 21) 100%);
  height: 150px;
  margin-bottom: 100px;
  user-select: none;
  width: 100%;

  &__items {
    align-items: center;
    display: flex;
    gap: 50px;
    height: 100%;
    justify-content: space-around;
    margin: 0 auto;
    max-width: $width-laptop;
    padding: 50px;
    width: 100%;
  }

  &__item {
    font-family: var(--font-family-alternate-1);
    font-size: var(--font-size-body-2);
    font-weight: 300;
    letter-spacing: 0.015em;
    text-align: center;
  }

  @media screen and (max-width: $width-laptop) {
    &__items {
      gap: 25px;
    }

    &__item {
      font-size: var(--font-size-body-3);
    }
  }
}

.main-page {
  width: 100%;

  &__blocks {
    display: grid;
    gap: 50px;
    margin-top: 100px;
    width: 100%;
  }

  &__block {
    width: 100%;

    &--key-features {
      background: var(--background-dark-2);
      padding-bottom: 50px;
      padding-top: 30px;
    }

    &--experiences {
      background: linear-gradient(180deg, var(--background-dark-1) 65%, rgba(32, 29, 44, 0.6) 100%);
    }
  }

  @media screen and (max-width: $width-tablet) {
    &__blocks {
      gap: 50px;
      margin-top: 20px;
    }
  }
}

.main-page-block {
  align-items: start;
  display: grid;
  gap: 75px;
  width: 100%;

  &--video {
    grid-template-columns: 3fr 2fr;
    padding: 50px 0 20px;
  }

  &--features {
    grid-template-columns: 2fr 3fr;
    padding: 50px 0 20px;
  }

  &--customize {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px 0 50px;
  }

  &--browse {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }

  &--get-started {
    background: var(--background-dark-1);
    padding: 50px 0;

    .main-page-block__copy-container {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin: 20px auto;
      max-width: 800px;
    }
  }

  &--experiences {
    gap: 40px;
    padding-bottom: 75px;
  }

  &--key-features {
    gap: 40px;
  }

  &--marketplaces {
    padding: 50px 0;
  }

  .player-container {
    height: auto;
    margin-top: 10px;
  }

  &__copy-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
  }

  &__copy-header {
    font-weight: 600;
    line-height: 1.2em;

    &--feature {
      font-size: var(--font-size-feature-header);
    }
  }

  &__copy-subheader {
    color: var(--color-text-dark-3);
    font-weight: 300;
    margin-bottom: 10px;
    position: absolute;
    text-transform: uppercase;
    top: -2em;
  }

  &__copy {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      font-size: var(--font-size-body-2);
    }

    a {
      color: var(--color-highlight-1);
    }

    &--large {
      p {
        font-size: var(--font-size-body-1);
      }
    }

    &--faded {
      color: var(--color-text-dark-3);
    }
  }

  &__copy-with-icons {
    display: flex;
    gap: 30px;
  }

  &__copy-actions {
    width: 100%;
  }

  &__icon-copy {
    align-items: flex-start;
    display: flex;
    gap: 20px;

    .main-page-block__icon {
      margin-top: 3px;
    }
  }

  &__icon-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    padding-top: 5px;
  }

  &__icon {
    min-height: 30px;
    min-width: 30px;
  }

  &__separator {
    background-color: var(--background-dark-4);
    height: 1px;
    margin: 0 auto;
    width: MIN(500px, 100%);
  }

  &__experience-images {
    align-items: center;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    margin-top: 10px;
    max-width: 100%;
    width: 100%;
  }

  &__experience-image {
    background-color: var(--background-dark-6);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: auto;

    &__text {
      align-items: center;
      display: flex;
      font-weight: 500;
      height: 100px;
      justify-content: center;
      text-align: center;
      width: 100%;
    }

    &__image {
      width: 100%;
    }
  }

  &__customize {
    display: flex;
    gap: 50px;

    &__icon {
      margin-top: 10px;
      min-height: 50px;
      min-width: 50px;
    }

    &__text {
      font-size: var(--font-size-body-1);
      font-weight: 500;
      max-width: 440px;
    }
  }

  &__key-features {
    &__header-container {
      align-items: flex-end;
      display: flex;
      gap: 30px;
    }

    &__header {
      font-weight: 600;
    }

    &__header-link {
      margin-bottom: 3px;
    }

    &__list {
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &__carousel {
      height: max-content;
      padding: 0 var(--horizontal-content-padding) 45px;
      width: 100%;
    }
  }

  &__key-feature {
    overflow: visible;
  }

  &__browse {
    align-items: center;
    display: flex;

    &__text {
      font-weight: 600;
    }
  }

  @media screen and (max-width: $width-laptop) {
    gap: 35px;

    &__key-features__list {
      gap: 20px;
    }

    &--browse {
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: $width-tablet) {
    grid-template-columns: 1fr;

    &--customize {
      padding: 50px 0 0;
    }

    &__copy-subheader {
      position: unset;
    }

    &__copy-action {
      max-width: 600px;
      width: 100%;
    }

    &__icon-column {
      height: 100%;
      justify-content: space-between;
    }

    &__icon {
      min-height: 26px;
      min-width: 26px;
    }

    &--browse {
      gap: 30px;
      text-align: center;

      .main-page-block__browse__actions {
        justify-content: center;
        width: 100%;
      }

      .main-page-block__browse__action {
        max-width: 600px;
        width: 100%;
      }

      .main-page-block__browse__text,
      .main-page-block__browse__copy {
        width: 100%;

        p {
          width: 100%;
        }
      }

      .main-page-block__copy {
        margin: 0;
      }
    }

    &__key-features {
      &__header-container {
        padding: 0 var(--horizontal-content-padding);
      }

      &__header-link {
        &.action {
          font-size: var(--font-size-body-3);
          margin: 0;
        }
      }
    }
  }
}

.site-carousel {
  align-items: center;
  display: flex;
  height: max-content;
  max-width: 100%;
  padding-bottom: 50px;
  width: 100%;

  &__slide {
    &:not(&--active) {
      .site-carousel__site-image {
        padding: 25px;
      }
    }
  }

  &__site {
    height: 100%;
    position: relative;
    width: 100%;
  }

  &__site-image {
    border-radius: 3px;
    height: 100%;
    object-fit: cover;
    transition: padding 0.5s ease, margin 0.5s ease;
    width: 100%;
  }

  &__site-video {
    position: relative;
  }

  &__site-video-cover {
    background: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  &__site-video-player {
    user-select: none;
  }

  &__site-image,
  &__placeholder {
    aspect-ratio: 16/9;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  // Placeholder present to keep size when padding is transitioning
  &__placeholder {
    left: 0;
    position: absolute;
    top: 0;
  }

  @media screen and (max-width: $width-tablet) {
    &__site-image,
    &__placeholder {
      aspect-ratio: 3/4;
      object-position: top;
    }
  }
}

.marketplace {
  height: max-content;
  max-width: 100vw;
  overflow: hidden;
  padding: 40px 0;
  position: relative;
  width: 100%;

  &__grid {
    align-items: center;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    max-width: 100%;
    padding-inline: var(--horizontal-content-padding);
    position: relative;
    width: 100%;
  }

  &__carousel {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    width: 100%;

    .marketplace__card,
    .marketplace__card-image {
      height: auto;
      max-width: 450px;
      width: 100%;
    }
  }

  &__slide {
    display: flex;
    justify-content: center;
    max-width: 100vw;
    padding: var(--horizontal-content-padding) var(--horizontal-content-padding) 50px;
    width: 100%;
  }

  &__background {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  &__info {
    align-items: center;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-top: 50px;
    padding-inline: var(--horizontal-content-padding);
    position: relative;
    z-index: 10;
  }

  &__text {
    font-weight: 500;
    max-width: 1000px;
  }

  &__card,
  &__card-image {
    border-radius: 24px;
    height: auto;
    overflow: hidden;
    width: auto;
  }

  @media screen and (max-width: $width-tablet) {
    background: linear-gradient(180deg, var(--background-dark-1) 0%, rgba(20, 58, 46, 0.4) 100%);
    padding: 0 0 50px;

    &__info {
      margin-top: 25px;
    }
  }
}
