.modal {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;

  &.full {
    .modal__content {
      min-height: 100%;
    }
  }

  &__content {
    height: max-content;
    max-height: 100vh;
    overflow-y: auto;
    width: max-content;
  }

  &__close-button {
    align-items: center;
    border: 2px solid var(--color-text-light-1);
    border-radius: 100%;
    color: var(--color-text-light-1);
    display: flex;
    justify-content: center;
    opacity: 0.5;
    padding: 5px;
    position: absolute;
    right: 50px;
    top: 50px;
    transition: opacity 0.15s ease;
    z-index: 1000;

    &:hover,
    &:focus-visible {
      opacity: 1;
    }

    svg {
      height: 25px;
      width: 25px;
    }
  }

  .modal__close-button {
    background: var(--background-light-1);
    border: 2px solid var(--color-text-light-1);
    color: var(--color-text-light-1);
  }

  &.dark {
    .modal__close-button {
      background: var(--background-dark-1);
      border: 2px solid var(--color-text-dark-1);
      color: var(--color-text-dark-1);
    }
  }
}
