.icon-boxes {
  align-items: center;
  display: flex;
  gap: 50px;
  justify-content: center;
}

.icon-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  width: 275px;

  h4 {
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
  }

  &__icon {
    min-height: 70px;
    min-width: 70px;
  }
}

.application-suite-info {
  &__icon {
    &__tag {
      height: 25px;
      margin-top: 8px;
    }
  }
}

.application-suite-info,
.mainnet-info {
  display: grid;
  gap: 40px;
  padding: 50px 75px;

  &__header {
    align-items: center;
    display: flex;
    font-weight: 600;
    gap: 20px;
    justify-content: center;
    width: 100%;
  }

  &__text {
    color: var(--color-text-light-3);
  }

  &__icons {
    align-items: center;
    display: flex;
    gap: 100px;
    justify-content: center;
  }

  &__icon {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__icon {
      height: 120px;
      margin-bottom: 20px;
      width: 120px;
    }

    &__text {
      font-weight: 500;
    }
  }
}

.mainnet-info {
  &__header-icon {
    height: 45px;
    width: 45px;
  }

  &__icon {
    &__icon {
      background: var(--background-light-1);
      border-radius: 100%;
      padding: 20px;
    }
  }
}

.application-info {
  &__header {
    display: flex;
    flex-direction: column;
  }

  &__header-title {
    font-size: var(--font-size-body-4);
    text-transform: uppercase;
    color: var(--color-text-light-9);
    font-weight: 700;
    font-style: italic;
    margin-bottom: 11px;
  }

  &__header-text {
    font-size: var(--font-size-header-1);
    color: var(--color-highlight-3);
    font-weight: 600;
  }

  &__icon {
    height: 70px;
    width: 70px;
  }

  &__tag-icon {
    height: 25px;
  }

  &__title-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-bottom: 15px;
  }

  &__short-description {
    max-width: 50%;
    border-bottom: 1px solid gray;

    p {
      margin-bottom: 29px;
    }
  }

  &__full-description {
    margin-top: 38px;
  }
}

@media screen and (max-width: $width-tablet) {
  .icon-boxes {
    gap: 20px;
  }

  .mainnet-info {
    padding: 30px 30px 40px;

    &__icons {
      flex-direction: column;
      gap: 30px;
    }
  }
}

@media screen and (max-width: $width-mobile) {
  .icon-boxes {
    flex-direction: column;
    gap: 10px;
  }

  .icon-box {
    height: 225px;
    width: 225px;
  }
}
