.icon-boxes {
  align-items: center;
  display: flex;
  gap: 50px;
  justify-content: center;
}

.icon-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  width: 275px;

  h4 {
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
  }

  &__icon {
    min-height: 70px;
    min-width: 70px;
  }
}

.application-suite-info {
  &__icons {
    align-items: flex-start;
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 100%;
  }

  &__icon {
    &__tag {
      height: 25px;
      margin-top: 8px;
    }

    &__icon {
      height: 100px;
      width: 100px;
    }
  }
}

.application-suite-info,
.mainnet-info {
  display: grid;
  gap: 40px;
  padding: 50px 75px;

  &__header {
    align-items: center;
    display: flex;
    font-weight: 600;
    gap: 20px;
    justify-content: center;
    width: 100%;
  }

  &__text {
    color: var(--color-text-light-3);
  }

  &__icons {
    display: flex;

    .action {
      flex: 1;
      flex-basis: 0;
      justify-content: center;
    }
  }

  &__icon {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__icon {
      margin-bottom: 20px;
    }

    &__text {
      font-weight: 500;
      max-width: 125px;
      text-align: center;
    }
  }
}

.mainnet-info {
  &__header-icon {
    height: 45px;
    width: 45px;
  }

  &__icons {
    align-items: center;
    gap: 100px;
    justify-content: center;
  }

  &__icon {
    &__icon {
      background: var(--background-light-1);
      border-radius: 100%;
      height: 120px;
      padding: 20px;
      width: 120px;
    }
  }
}

.application-info {
  &__header {
    display: flex;
    flex-direction: column;
  }

  &__header-title-group {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__header-title {
    color: var(--color-text-light-9);
    font-size: var(--font-size-body-4);
    font-style: italic;
    font-weight: 700;
    margin-bottom: 11px;
    text-transform: uppercase;
  }

  &__header-text {
    color: var(--color-text-light-2);
    font-size: 3.25rem;
    font-weight: 600;
  }

  &__icon {
    height: 70px;
    width: 70px;
  }

  &__tag-icon {
    height: 25px;
  }

  &__title-group {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 15px;
  }

  &__header-image {
    max-width: 976px;
    margin: 0 auto;
    width: 100%;
  }

  &__short-description {
    border-bottom: 1px solid gray;
    max-width: 85%;
    text-align: center;

    &.no-border {
      border: none;
    }

    p {
      margin-bottom: 29px;
    }
  }

  &__full-description {
    margin-top: 38px;
  }

  &__image-gallery {
    .swiper {
      box-shadow: 0 2px 7px 0 rgb(0 0 0 / 25%);
    }

    .swiper-slide {
      height: unset;
    }
  }

  &__image-gallery-navigation {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 20px;

    &__text {
      font-weight: 600;
    }
  }

  &__nav-button {
    display: flex;
  }

  &__header-video {
    display: flex;
    justify-content: center;
    margin-top: 38px;
    width: 100%;

    .player-container__player {
      aspect-ratio: 16/9;
      background-color: var(--background-dark-1);
      height: 100%;
      max-width: 80%;
      width: 100%;
    }
  }
}

@media screen and (max-width: $width-max) {
  .application-suite-info {
    &__icon__text {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: $width-laptop) {
  .application-suite-info {
    padding: 30px 40px 40px;

    &__icons {
      gap: 10px;
      justify-content: center;

      .action {
        justify-content: center;
      }
    }

    &__icon {
      &__icon {
        height: 80px;
        width: 80px;
      }

      &__tag {
        height: 20px;
      }

      &__text {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: $width-tablet) {
  .icon-boxes {
    gap: 20px;
  }

  .mainnet-info {
    padding: 30px 30px 40px;

    &__icons {
      flex-direction: column;
      gap: 30px;
    }
  }

  .application-suite-info {
    padding: 30px 30px 40px;

    &__icons {
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-between;

      .action {
        flex-basis: 10%;
      }
    }

    &__icon {
      &__icon {
        height: 80px;
        width: 80px;
      }
    }

    &__header {
      text-align: center;
    }
  }

  .application-info__short-description {
    max-width: 100%;
  }

  .application-info__header-text {
    font-size: 1.75rem;
    line-height: 1.125;
  }
}

@media screen and (max-width: $width-mobile) {
  .icon-boxes {
    flex-direction: column;
    gap: 10px;
  }

  .icon-box {
    height: 225px;
    width: 225px;
  }

  .application-suite-info {
    &__icons {
      flex-wrap: wrap;
      gap: 40px;

      .action {
        flex: 0 0 40%;
      }
    }
  }
}
