
.terms {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__frame {
    background-color: var(--background-light-2);
    border: 0;
    height: 90vh;
    max-width: 800px;
    padding: 10px 0 0 20px;
    width: 100%;
  }
}
