.component-test {
  background: var(--background-light-1);
  display: flex;
  flex-direction: column;
  gap: 20px;

  &.dark {
    background: var(--background-dark-1);
  }

  &__captioned-image {
    max-height: 300px;
    max-width: 300px;
  }
}
