:root {
  --font-size-header-1: 40px;
  --font-size-header-2: 32px;
  --font-size-header-3: 20px;

  --font-size-body-1: 32px;
  --font-size-body-2: 24px;
  --font-size-body-3: 18px;
  --font-size-body-4: 14px;
  --font-size-body-5: 12px;

  /* Colors */
  --color-highlight-1: #C07CFF;
  --color-highlight-2: #9B51E0;
  --color-highlight-3: #791CD0;

  --color-icon-light-1: #56CCF2;

  --color-icon-dark-1: #000000;
  --color-icon-dark-2: #FFFFFF;

  --color-text-light-1: #000000;
  --color-text-light-2: #11243E;
  --color-text-light-3: #465465;
  --color-text-light-4: #AAADB3;
  --color-text-light-highlight: var(--color-highlight-2);

  --color-text-dark-1: #FFFFFF;
  --color-text-dark-2: #949494;
  --color-text-dark-3: #11243E;

  --background-dark-1: #0D0D0E;
  --background-dark-2: #1A1A1A;
  --background-dark-3: #FFFFFF;

  --background-light-1: #F7F9FC;
  --background-light-2: #FFFFFF;
  --background-light-3: #DEDEDE;

  --background-gradient-footer-light: linear-gradient(180deg, rgba(155, 81, 224, 0) 0%, rgba(155, 81, 224, 0.1) 100%);
  --background-gradient-footer-dark: linear-gradient(180deg, rgba(41, 17, 64, 0) 0%, rgba(41, 17, 64, 0.5) 100%);

  @keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
  }
}
