@import "~elv-components-js/src/stylesheets/defaults";
@import "~elv-components-js/src/stylesheets/styles";

.app-version {
  display: none;
}

html {
  color: $elv-color-text-dark;
  font-size: 16px;
}

body,
.app,
.app-container,
main,
.site,
.site-titles {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
}

* {
  max-width: 100%;
}

header {
  align-items: flex-end;
  display: flex;
  padding: $elv-spacing-xs $elv-spacing-s;

  .logo {
    width: auto;
  }

  h1 {
    @include elv-no-select;
    color: $elv-color-text-light;
    font-size: $elv-font-xl;
    font-weight: normal;
    margin-left: $elv-spacing-m;
  }
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: $elv-spacing-l;
  max-width: 100%;
  min-height: 80%;
  padding: 0 $elv-spacing-l;
  width: 100%;
}

h3 {
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
}

h4 {
  margin-bottom: 1rem;
  text-align: center;
}

.site-name {
  color: $elv-color-text-light;
  margin: -2rem 0 2rem;
  text-align: center;
}

.title-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  &.title-container-active {
    grid-template-columns: 1fr;
    margin: 0 20%;
  }

  &:not(.title-container-active) {
    cursor: pointer;
  }
}

.title {
  position: relative;

  .ar-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    width: 100%;
  }

  img {
    border: 0;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }

  h4 {
    position: relative;

    .back-button {
      cursor: pointer;
      left: 0;
      position: absolute;
    }

    svg {
      stroke: $elv-color-mediumgray;

      &:hover {
        stroke: $elv-color-darkgray;
      }
    }
  }

  video {
    margin-bottom: 3rem;
    scroll-margin: 3rem;
    width: 100%;
  }

  .loading-icon {
    left: 35%;
    position: absolute;
    top: 25%;
    z-index: 1000;
  }
}

footer {
  color: $elv-color-text-lighter;
  display: flex;
  justify-content: flex-end;
  padding: $elv-spacing-s;
}

.source-link {
  align-items: center;
  border: 1px solid $elv-color-mediumgray;
  border-radius: 3px;
  display: flex;
  font-size: $elv-font-m;
  margin-right: $elv-spacing-xs;
  padding: $elv-spacing-xxs $elv-spacing-xs;
  width: auto;

  .github-icon {
    height: $elv-font-xxl;
    margin-right: $elv-spacing-xs;
    width: $elv-font-xxl;
  }

  &:hover {
    background-color: $elv-color-lightestgray;
  }
}
