@import "~elv-components-js/src/stylesheets/defaults";
@import "~elv-components-js/src/stylesheets/styles";
@import "./menu";

$background-color: #15141d;
$text-color: #eaeaea;

$clear: rgba(0, 0, 0, 0);
$vignette-color: rgba(0, 0, 0, 0.9);

.app-version {
  display: none;
}

html {
  font-family: Helvetica Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.app {
  background: linear-gradient(305deg, darken($elv-color-darkblue, 15%), darken($elv-color-darkblue, 12%), darken($elv-color-darkblue, 20%));
}

html,
body,
.app,
.app-container,
main,
.site,
.site-titles {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
}

* {
  color: $text-color;
  max-width: 100%;
}

header {
  align-items: flex-end;
  display: flex;
  padding: $elv-spacing-xs $elv-spacing-s;

  .logo {
    width: auto;
  }

  h1 {
    @include elv-no-select;
    font-size: $elv-font-xl;
    font-weight: normal;
    margin-left: $elv-spacing-m;
  }
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: $elv-spacing-l;
  max-width: 100%;
  min-height: 80%;
  padding: 0 $elv-spacing-l;
  width: 100%;
}

.error-message {
  color: $elv-color-red;
  position: absolute;
  top: $elv-spacing-s;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  position: relative;

  svg {
    &.back-button {
      background-color: $elv-color-bg-dark;
      border-radius: 0.5rem;
      cursor: pointer;
      left: 0;
      padding: $elv-spacing-xs;
      position: absolute;
      stroke: $elv-color-mediumgray;
      width: 5rem;

      &:hover {
        background-color: $elv-color-darkgray;
        stroke: $elv-color-lightgray;
      }
    }
  }
}

.site-name {
  margin: $elv-spacing-s 0;
  text-align: center;
}

.title-reel-container {
  margin-bottom: $elv-spacing-m;
  position: relative;
  width: 100%;
}

.title-reel-header,
.title-grid-header {
  margin-bottom: $elv-spacing-xs;
  padding-left: $elv-spacing-s;
  width: 100%;
}

.title-grid-container {
  .loading-indicator {
    justify-content: center;
    margin: $elv-spacing-xxl 0 0;
    width: 100%;
  }
}

.title-grid-header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .title-search {
    align-items: center;
    display: flex;
    position: relative;
  }

  .clear-search {
    height: 1.25rem;
    position: absolute;
    right: $elv-spacing-ss;

    svg {
      stroke: $elv-color-mediumgray;
    }
  }

  input {
    background: $elv-color-darkergray;
    border: 0;
    border-radius: $elv-spacing-xxs;
    color: $elv-color-text-lightest;
    font-size: $elv-font-xl;
    margin-right: $elv-spacing-xxs;
    padding: 0 $elv-spacing-xs;
    width: 20rem;
  }
}

.title-reel {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;

  .title-reel-titles {
    align-items: center;
    display: flex;
    position: relative;
  }

  .reel-arrow {
    @include elv-no-select;
    align-items: center;
    background: linear-gradient(90deg, $clear, $elv-color-black 30%);
    color: $elv-color-lightgray;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    height: 100%;
    justify-content: flex-end;
    opacity: 0.7;
    padding: 0 $elv-spacing-s;
    position: absolute;
    top: 0;
    transition: opacity 0.2s ease-in;
    width: 4rem;
    z-index: 100;

    &:hover {
      opacity: 0.9;
      visibility: visible;
    }

    &.hidden {
      display: none;
    }
  }

  .reel-arrow-left {
    left: 0;
    transform: scale(-1, 1);
  }

  .reel-arrow-right {
    right: 0;
  }
}

.title-grid-titles {
  display: grid;
  grid-gap: $elv-spacing-xs;
  grid-template-columns: repeat(5, 1fr);

  .title {
    min-width: 100%;

    .ar-container {
      border-radius: 1rem;
    }
  }
}

.title {
  @include elv-no-select;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  max-width: 34%;
  position: relative;
  transition: flex-grow 0.6s ease-in-out, padding 0.4s ease-in-out;

  &:first-child {
    padding-left: 0;
  }

  .hidden-title + & {
    padding-left: 0;
  }

  &.hidden-title {
    flex-grow: 0;
    padding: 0;
  }

  &:hover {
    .ar-container {
      .title-vignette {
        opacity: 1;
      }
    }

    h4 {
      opacity: 1;
    }
  }

  .ar-container {
    background-color: $elv-color-black;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    width: 100%;

    .title-loading-indicator,
    .title-vignette {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transition: box-shadow 0.2s ease-in;
      width: 100%;
    }

    .title-loading-indicator {
      z-index: 11;
    }

    .title-vignette {
      background-image: linear-gradient($clear 70%, $vignette-color);
      opacity: 0;
      transition: opacity 0.2s ease-in;
      z-index: 10;
    }
  }

  .title-image {
    background-color: $elv-color-black;
    border: 0;
    height: auto;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }

  svg {
    &.title-image {
      fill: $elv-color-darkblue;
      height: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
    }
  }

  h4 {
    @include elv-ellipsis;
    bottom: $elv-spacing-xs;
    color: $elv-color-lightergray;
    font-weight: 300;
    margin: 0;
    opacity: 0;
    padding: 0 $elv-spacing-xs;
    position: absolute;
    transition: opacity 0.2s ease-in;
    z-index: 11;
  }
}

.active-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: $elv-spacing-l 0 $elv-spacing-xl;
  min-height: 85vh;
  width: 100%;

  h4 {
    color: $elv-color-lightergray;
    font-size: $elv-font-xxl;
    margin: $elv-spacing-m 0;
    text-align: center;
    width: 100%;
  }

  video {
    background-color: $elv-color-black;
    border-radius: 0.5rem;
    cursor: pointer;
    flex-grow: 1;
    height: 75vh;
    max-height: 75vh;
    scroll-margin: 10rem;
    width: 100%;
  }

  .synopsis {
    color: $elv-color-text-lighter;
    min-height: 5rem;
    text-align: center;
    width: 75%;
  }
}

.channel-schedule-reel {
  .current-program-indicator {
    background-color: $elv-color-lightblue;
    border: 3px solid $elv-color-mediumblue;
    border-radius: 100%;
    height: $elv-spacing-s;
    position: absolute;
    right: $elv-spacing-xs;
    top: $elv-spacing-xs;
    width: $elv-spacing-s;
    z-index: 100;
  }

  .title {
    &:not(.hidden-title) {
      h4 {
        font-size: $elv-font-l;
        margin: 0;
        opacity: 1;
      }

      .ar-container {
        .title-vignette {
          opacity: 1;
        }
      }
    }
  }
}

.source-link {
  align-items: center;
  background-color: $elv-color-white;
  border: 1px solid $elv-color-mediumgray;
  border-radius: 3px;
  display: flex;
  font-size: $elv-font-m;
  padding: $elv-spacing-xxs $elv-spacing-xs;
  position: absolute;
  right: $elv-spacing-xs;
  width: auto;

  .github-icon {
    height: $elv-font-xxl;
    margin-right: $elv-spacing-xs;
    width: $elv-font-xxl;
  }

  &:hover {
    background-color: $elv-color-lightestgray;
  }
}
