@import "~elv-components-js/src/stylesheets/defaults";
@import "~elv-components-js/src/stylesheets/styles";

.menu-container,
.menu-entries,
.site-selection {
  @include elv-no-select;
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  width: 30rem;

  .menu-filter {
    margin-bottom: $elv-spacing-xs;
    width: 100%;

    input {
      width: 100%;
    }
  }

  h1 {
    margin-bottom: $elv-spacing-s;
    text-align: center;
    width: 100%;
  }

  h4 {
    @include elv-ellipsis;
    align-items: center;
    color: $elv-color-text-lightest;
    display: flex;
    font-size: $elv-font-xl;
    margin-bottom: $elv-spacing-s;
    text-align: center;
    width: 100%;
  }

  .back-button {
    margin-right: $elv-spacing-xs;
    position: relative;
  }

  .menu-page-controls {
    align-items: center;
    display: flex;
    height: 4rem;
  }

  ul {
    flex-direction: column;
    width: 100%;
  }

  li {
    @include elv-ellipsis;
    background-color: transparent;
    border: 1px solid $elv-color-darkgray;
    border-radius: $elv-spacing-xs;
    color: $elv-color-text-white;
    cursor: pointer;
    display: block;
    font-weight: 500;
    margin-bottom: $elv-spacing-xs;
    padding: $elv-spacing-s $elv-spacing-xs;
    text-align: center;
    width: 100%;

    &:hover {
      background-color: $elv-color-darkblue;
      border: 1px solid $elv-color-darkblue;
      color: $elv-color-text-white;
    }
  }
}

.code-entry {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin-top: 10vh;
  width: 100%;

  * {
    font-weight: 300;
  }

  h2 {
    margin-bottom: $elv-spacing-m;
  }

  .code-input {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 30rem;

    input {
      color: $elv-color-text-white;
      font-size: $elv-font-xxl;
      height: 3rem;
      margin-bottom: $elv-spacing-m;
      text-align: center;
      width: 25rem;
    }

    button {
      background: $elv-color-darkblue;
      border: 0;
      font-size: $elv-font-l;
      height: 2.5rem;
      width: 10rem;

      &:not(:active):hover,
      &:hover {
        background: $elv-color-mediumblue;
        border: 0;
        color: $elv-color-text-white;
      }
    }
  }
}
